Repository pie-framework/pie-elements-ng: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    dependency-integrity-fast:
      run: bun run verify:dependency-integrity --fail-on-hoist
    lint:
      glob: "*.{js,ts,svelte}"
      run: bun run lint:fix {staged_files}
    types:
      glob: "*.{ts,tsx}"
      run: bunx tsc --noEmit

pre-push:
  parallel: false
  commands:
    dependency-integrity-full:
      run: bun run verify:dependency-integrity --check-peer-gaps --fail-on-hoist --fail-on-peer
    test:
      run: bun run test
    build:
      run: bun run build

fix(math-rendering-mathjax): drop removed math from MathJax's list and clear failed typesets
  packages/shared/math-rendering-mathjax/src/adapter.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
  packages/shared/math-rendering-mathjax/tests/browser/harness.ts
  packages/shared/math-rendering-mathjax/tests/browser/mathjax-coexistence.spec.ts
  packages/shared/math-rendering-mathjax/tests/browser/retained-math.spec.ts
Due: lint, types

fix(editable-html-tip-tap): keep plain-text paste across upstream sync (PIE-1145)
  .changeset/20261002-plain-text-paste.md
  packages/lib-react/editable-html-tip-tap/src/components/EditableHtml.tsx
  packages/lib-react/editable-html-tip-tap/src/plain-text-paste.ts
  packages/lib-svelte/editable-html-tiptap-svelte/src/plain-text-paste.ts
  packages/lib-svelte/editable-html-tiptap-svelte/tests/plain-text-paste.test.ts
  tools/cli/src/lib/upstream/sync-presets.ts
  tools/cli/tests/sync-presets.test.ts
Due: lint, types

fix(editable-html-tip-tap): plain-text drops, cell-selection pastes and blank lines (PIE-1145)
  .changeset/20261002-plain-text-paste.md
  packages/lib-react/editable-html-tip-tap/src/plain-text-paste.ts
  packages/lib-svelte/editable-html-tiptap-svelte/src/plain-text-paste.ts
  packages/lib-svelte/editable-html-tiptap-svelte/tests/plain-text-paste.test.ts
Due: lint, types

fix(editable-html-tip-tap): keep math pasted from rendered PIE content (PIE-1145)
  .changeset/20261002-plain-text-paste.md
  packages/lib-react/editable-html-tip-tap/src/plain-text-paste.ts
  packages/lib-svelte/editable-html-tiptap-svelte/src/plain-text-paste.ts
  packages/lib-svelte/editable-html-tiptap-svelte/tests/plain-text-paste.test.ts
Due: lint, types

fix(math-rendering-mathjax): keep MathJax 4 menu settings apart from MathJax 3's
  docs/MATH-RENDERING.md
  packages/shared/math-rendering-mathjax/src/adapter.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
  packages/shared/math-rendering-mathjax/tests/browser/menu-settings.spec.ts
Due: lint, types

fix(math-rendering-mathjax): give MathJax 4 SVG output its own stylesheet id
  packages/shared/math-rendering-mathjax/src/adapter.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
  packages/shared/math-rendering-mathjax/tests/browser/svg-output.spec.ts
Due: lint, types

fix(video-stimulus): drop the assessment toolkit dependency
  bun.lock
  packages/elements-svelte/video-stimulus/package.json
  packages/elements-svelte/video-stimulus/src/controller/index.ts
  packages/elements-svelte/video-stimulus/src/controller/media-sources.ts
  packages/elements-svelte/video-stimulus/tests/media-sources.test.ts
Due: lint, types

chore: gate React peer-only declarations in library packages (PIE-1144)
  AGENTS.md
  scripts/check-publish-surface.mjs
  tests/package-inspection.test.ts
Due: lint, types

docs(agents): add the host accessibility settings rules from pie-players ADR 0003
  AGENTS.md
Due: none

fix(editable-html-tip-tap): number response areas per editor
  .changeset/20261002-response-area-index.md
  packages/lib-react/editable-html-tip-tap/src/extensions/responseArea.tsx
  packages/lib-react/editable-html-tip-tap/test/response-area-index.test.ts
Due: lint, types

test: run the React package suites from the root vitest config
  tests/editor-single-copy.test.ts
  vitest.config.ts
Due: lint, types

fix(math-rendering-mathjax): render MathML as the legacy renderer did under MathJax 4
  .changeset/20261002-mathjax4-mathml-parity.md
  docs/MATH-RENDERING.md
  packages/shared/math-rendering-mathjax/src/adapter.ts
  packages/shared/math-rendering-mathjax/src/elementary-math.ts
  packages/shared/math-rendering-mathjax/src/mathml.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
  packages/shared/math-rendering-mathjax/tests/browser/display-overflow.spec.ts
  packages/shared/math-rendering-mathjax/tests/browser/legacy-mathml.spec.ts
  packages/shared/math-rendering-mathjax/tests/elementary-math.test.ts
  packages/shared/math-rendering-mathjax/tests/mathml.test.ts
Due: lint, types

feat(math-rendering-mathjax): bundle a private MathJax into element browser builds
  .changeset/20261003-isolated-mathjax-browser-builds.md
  bun.lock
  docs/MATH-RENDERING.md
  packages/shared/math-rendering-mathjax/package.json
  packages/shared/math-rendering-mathjax/src/adapter.ts
  packages/shared/math-rendering-mathjax/src/engine/bundled.ts
  packages/shared/math-rendering-mathjax/src/engine/bundled/assets.d.ts
  packages/shared/math-rendering-mathjax/src/engine/bundled/global.ts
  packages/shared/math-rendering-mathjax/src/engine/bundled/mathjax.ts
  packages/shared/math-rendering-mathjax/src/engine/bundled/node-global.ts
  packages/shared/math-rendering-mathjax/src/engine/page.ts
  packages/shared/math-rendering-mathjax/src/types.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
  packages/shared/math-rendering-mathjax/tests/browser/bundled-engine.spec.ts
  packages/shared/math-rendering-mathjax/tests/browser/display-overflow.spec.ts
  packages/shared/math-rendering-mathjax/tests/browser/harness.ts
  packages/shared/math-rendering-mathjax/tsconfig.browser.json
  packages/shared/math-rendering-mathjax/tsconfig.json
  packages/shared/math-rendering-mathjax/vite.browser.config.ts
  tools/vite/element-browser.config.ts
  tools/vite/svelte-element-browser.config.ts
Due: lint, types

chore(browser-esm): raise the browser JS budget to 6 MiB
  tests/package-inspection.test.ts
  tools/vite/browser-esm-policy.json
Due: lint, types

docs(prd): keep the MathJax adapter out of the shared browser runtime
  docs/MATH-RENDERING.md
  docs/prds/shared-browser-runtime/PRD.md
  packages/shared/math-rendering-mathjax/src/engine/bundled.ts
Due: lint, types

perf(math-rendering-mathjax): request the bundled engine and its font ranges as the adapter loads
  docs/MATH-RENDERING.md
  docs/prds/shared-browser-runtime/PRD.md
  packages/shared/math-rendering-mathjax/src/engine/bundled.ts
  packages/shared/math-rendering-mathjax/src/engine/bundled/mathjax.ts
  packages/shared/math-rendering-mathjax/tests/browser/bundled-engine.spec.ts
  packages/shared/math-rendering-mathjax/tests/browser/harness.ts
Due: lint, types

fix(categorize): expose drop zones as named groups
  .changeset/20261003-categorize-drop-zone-semantics.md
  apps/element-demo/test/e2e/phase1-spatial-dnd.spec.ts
  packages/elements-react/categorize/src/delivery/categorize/__tests__/categories.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/__tests__/choices.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/__tests__/droppable-placeholder.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/categories.tsx
  packages/elements-react/categorize/src/delivery/categorize/category.tsx
  packages/elements-react/categorize/src/delivery/categorize/choices.tsx
  packages/elements-react/categorize/src/delivery/categorize/droppable-placeholder.tsx
Due: lint, types

fix: name drop targets in match-list, image cloze, hotspot and drag-in-the-blank
  .changeset/20261003-drag-in-the-blank-blank-names.md
  .changeset/20261003-hotspot-shape-fallback-names.md
  .changeset/20261003-image-cloze-response-area-names.md
  .changeset/20261003-match-list-response-area-semantics.md
  .changeset/20261003-translator-drop-target-names.md
  apps/element-demo/test/e2e/phase1-spatial-dnd.spec.ts
  bun.lock
  packages/elements-react/hotspot/package.json
  packages/elements-react/hotspot/src/delivery/hotspot/__tests__/container.test.tsx
  packages/elements-react/hotspot/src/delivery/hotspot/container.tsx
  packages/elements-react/hotspot/src/delivery/hotspot/index.tsx
  packages/elements-react/image-cloze-association/package.json
  packages/elements-react/image-cloze-association/src/delivery/__tests__/image-container.test.tsx
  packages/elements-react/image-cloze-association/src/delivery/image-container.tsx
  packages/elements-react/image-cloze-association/src/delivery/image-drop-target.tsx
  packages/elements-react/image-cloze-association/src/delivery/root.tsx
  packages/elements-react/match-list/package.json
  packages/elements-react/match-list/src/delivery/__tests__/answer-area.test.tsx
  packages/elements-react/match-list/src/delivery/answer-area.tsx
  packages/elements-react/match-list/src/delivery/answer.tsx
  packages/elements-react/match-list/src/delivery/main.tsx
  packages/lib-react/mask-markup/package.json
  packages/lib-react/mask-markup/src/components/__tests__/blank.test.tsx
  packages/lib-react/mask-markup/src/components/blank.tsx
  packages/lib-react/mask-markup/src/drag-in-the-blank.tsx
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
  packages/shared/translator/tests/resources.test.ts
Due: lint, types

test: give tsc the jest-dom matcher types in the new suites
  packages/elements-react/hotspot/src/delivery/hotspot/__tests__/vitest-env.d.ts
  packages/elements-react/image-cloze-association/src/delivery/__tests__/vitest-env.d.ts
  packages/elements-react/match-list/src/delivery/__tests__/vitest-env.d.ts
  packages/lib-react/mask-markup/src/components/__tests__/vitest-env.d.ts
Due: lint, types

fix: keep image cloze and drag-in-the-blank targets named after placement
  .changeset/20261003-drag-in-the-blank-blank-names.md
  .changeset/20261003-image-cloze-response-area-names.md
  packages/elements-react/image-cloze-association/src/delivery/__tests__/image-container.test.tsx
  packages/elements-react/image-cloze-association/src/delivery/image-drop-target.tsx
  packages/lib-react/mask-markup/src/components/__tests__/blank.test.tsx
  packages/lib-react/mask-markup/src/components/blank.tsx
Due: types

fix(match-list): drop drag semantics while disabled and use a random instance id
  .changeset/20261003-match-list-response-area-semantics.md
  packages/elements-react/match-list/src/delivery/__tests__/answer-area.test.tsx
  packages/elements-react/match-list/src/delivery/answer-area.tsx
  packages/elements-react/match-list/src/delivery/answer.tsx
  packages/elements-react/match-list/src/delivery/main.tsx
Due: types

style(element-demo): format the merged drop-zone locator
  apps/element-demo/test/e2e/phase1-spatial-dnd.spec.ts
Due: lint, types

docs(a11y): add the PIE-753 axe remediation plan
  docs/a11y/INDEX.md
  docs/a11y/INITIATIVE-MAP.md
  docs/a11y/PIE-753-axe-remediation-plan.md
  scripts/a11y-confluence-sync.mjs
Due: none

docs(a11y): generate text alternatives from the model; postpone screen-reader runs
  docs/a11y/PIE-753-axe-remediation-plan.md
Due: none

fix(hotspot): describe the image by its hotspot count and hide the shape canvas
  docs/a11y/hotspot.md
  packages/elements-react/hotspot/src/delivery/hotspot/__tests__/container.test.tsx
  packages/elements-react/hotspot/src/delivery/hotspot/container.tsx
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
Due: lint, types

fix(likert): name each radio from its choice label
  bun.lock
  docs/a11y/likert.md
  packages/elements-react/likert/package.json
  packages/elements-react/likert/src/delivery/__tests__/likert.test.tsx
  packages/elements-react/likert/src/delivery/__tests__/vitest-env.d.ts
  packages/elements-react/likert/src/delivery/choice-input.tsx
Due: lint, types

fix(image-cloze-association): generate image alternatives and enlarge answer tiles to 24px
  docs/a11y/image-cloze-association.md
  packages/elements-react/image-cloze-association/src/delivery/__tests__/image-container.test.tsx
  packages/elements-react/image-cloze-association/src/delivery/__tests__/root.test.tsx
  packages/elements-react/image-cloze-association/src/delivery/image-container.tsx
  packages/elements-react/image-cloze-association/src/delivery/image-drop-target.tsx
  packages/elements-react/image-cloze-association/src/delivery/possible-response.tsx
  packages/elements-react/image-cloze-association/src/delivery/possible-responses.tsx
  packages/elements-react/image-cloze-association/src/delivery/root.tsx
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
Due: lint, types

fix(match): name each answer control from its row and column headers
  bun.lock
  docs/a11y/match.md
  packages/elements-react/match/package.json
  packages/elements-react/match/src/delivery/__tests__/answer-grid.test.tsx
  packages/elements-react/match/src/delivery/__tests__/vitest-env.d.ts
  packages/elements-react/match/src/delivery/answer-grid.tsx
Due: lint, types

fix(element-a11y-demo): drop the aria-roles, math-alternative and target-size false positives
  apps/element-a11y-demo/test/a11y/README.md
  apps/element-a11y-demo/test/a11y/axe-scenarios.spec.ts
  docs/a11y/TRACKING.md
  packages/element-player/src/players/PieElementPlayer.svelte
  packages/element-player/tests/pie-element-player-role.test.ts
Due: lint, types

fix(render-ui): render the Collapsible header as a disclosure button
  packages/lib-react/render-ui/src/collapsible/index.tsx
  packages/lib-react/render-ui/tests/collapsible.test.tsx
Due: types

fix(render-ui): meet text contrast on feedback backgrounds
  docs/a11y/number-line.md
  packages/elements-react/number-line/src/delivery/number-line/feedback.tsx
  packages/lib-react/render-ui/src/feedback.tsx
  packages/lib-react/render-ui/tests/feedback.test.tsx
Due: types

fix(matrix): name each radio from its row and column labels
  bun.lock
  docs/a11y/matrix.md
  packages/elements-react/matrix/package.json
  packages/elements-react/matrix/src/delivery/ChoiceInput.tsx
  packages/elements-react/matrix/src/delivery/Matrix.tsx
  packages/elements-react/matrix/src/delivery/__tests__/matrix.test.tsx
  packages/elements-react/matrix/src/delivery/__tests__/vitest-env.d.ts
Due: lint, types

fix(mask-markup): size each blank's named target to its chip
  docs/a11y/drag-in-the-blank.md
  packages/lib-react/mask-markup/src/components/__tests__/blank.test.tsx
  packages/lib-react/mask-markup/src/components/blank.tsx
Due: types

fix(element-a11y-demo): stop keyboard-tab-reach misreports on read-only and rubric scans
  apps/element-a11y-demo/src/lib/a11y/scenarios/catalog.ts
  apps/element-a11y-demo/test/a11y/README.md
  apps/element-a11y-demo/test/scenario-catalog.test.ts
Due: lint, types

fix(multi-trait-rubric): make the rubric toggle a button
  bun.lock
  docs/a11y/multi-trait-rubric.md
  packages/elements-react/multi-trait-rubric/package.json
  packages/elements-react/multi-trait-rubric/src/delivery/__tests__/main.test.tsx
  packages/elements-react/multi-trait-rubric/src/delivery/__tests__/vitest-env.d.ts
  packages/elements-react/multi-trait-rubric/src/delivery/main.tsx
Due: lint, types

fix(theming): meet link-text contrast with the dark preset's tertiary
  packages/shared/theming/src/pie-themes.ts
Due: lint, types

fix(rubric): make the rubric toggle at least 24px tall
  bun.lock
  docs/a11y/rubric.md
  packages/elements-react/rubric/package.json
  packages/elements-react/rubric/src/delivery/__tests__/main.test.tsx
  packages/elements-react/rubric/src/delivery/__tests__/vitest-env.d.ts
  packages/elements-react/rubric/src/delivery/main.tsx
Due: lint, types

feat(drag): add a draggable and a drop target that own role, tab stop and name
  bun.lock
  packages/lib-react/drag/README.md
  packages/lib-react/drag/package.json
  packages/lib-react/drag/src/__tests__/draggable-control.test.tsx
  packages/lib-react/drag/src/__tests__/drop-target.test.tsx
  packages/lib-react/drag/src/__tests__/vitest-env.d.ts
  packages/lib-react/drag/src/draggable-control.ts
  packages/lib-react/drag/src/drop-target.ts
  packages/lib-react/drag/src/index.ts
Due: lint, types

fix(element-a11y-demo): start scans once the element has rendered
  apps/element-a11y-demo/src/lib/a11y/A11yScanPlayer.svelte
  apps/element-a11y-demo/src/lib/a11y/render-readiness.ts
  apps/element-a11y-demo/test/a11y/README.md
  apps/element-a11y-demo/test/a11y/axe-inventory.spec.ts
  apps/element-a11y-demo/test/a11y/axe-scenarios.spec.ts
  apps/element-a11y-demo/test/a11y/scan-readiness.ts
  apps/element-a11y-demo/test/render-readiness.test.ts
Due: lint, types
