Repository pie-framework/pie-elements-ng: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: bun run lint:fix {staged_files}

types:
  run: bunx tsc --noEmit

fix(editable-html-tip-tap): keep the toolbar background under buttons that overflow the editor PIE-1057
  packages/lib-react/editable-html-tip-tap/src/components/MenuBar.tsx
Due: types

fix(render-ui): let the custom audio button start playback when autoplay is off PIE-1068
  packages/lib-react/render-ui/src/preview-prompt.tsx
  packages/lib-react/render-ui/tests/preview-prompt-audio-button.test.tsx
Due: types

fix(deps): hold tiptap and prosemirror to one copy each (PIE-1042)
  .changeset/20260923081900-pie-element-element-player-pie-lib-e.md
  .github/dependabot.yml
  apps/element-a11y-demo/package.json
  apps/element-demo/package.json
  apps/learnosity-parity-demo/package.json
  bun.lock
  package.json
  packages/element-player/package.json
  packages/elements-svelte/simple-cloze/package.json
  packages/elements-svelte/venn-classification/package.json
  packages/lib-react/editable-html-tip-tap/package.json
  packages/lib-svelte/editable-html-tiptap-svelte/package.json
  tests/editor-single-copy.test.ts
  tools/cli/src/lib/upstream/sync-package-manager.ts
  tools/cli/src/lib/upstream/sync-presets.ts
  tools/cli/tests/sync-package-manager.test.ts
  tools/cli/tests/sync-presets.test.ts
Due: lint, types

fix(element-player): drop tiptap deps and the dead JsonEditor pair (PIE-1042)
  .changeset/20260923081900-pie-element-element-player-pie-lib-e.md
  bun.lock
  packages/element-player/package.json
  packages/element-player/src/components/JsonEditor.svelte
  packages/element-player/src/components/ModelInspector.svelte
Due: lint

fix(release): add changesets for the 23 Sep merges that never published
  .changeset/20260923110001-pie-lib-render-ui.md
  .changeset/20260923110002-pie-lib-editable-html-tip-tap.md
  .changeset/20260923110003-pie-element-placement-ordering.md
  .changeset/20260923110004-pie-element-match-list.md
  .changeset/20260923110005-pie-element-categorize.md
  .changeset/20260923110006-pie-lib-drag.md
  .changeset/20260923110007-pie-element-image-cloze-association.md
  .changeset/20260923110008-pie-lib-test-utils.md
  .changeset/20260923110009-pie-element-cli.md
Due: none

fix(placement-ordering): return the displaced token to the source column instead of swapping it into the moved token's slot PIE-1066
  packages/elements-react/placement-ordering/src/delivery/ordering.ts
Due: lint, types

fix(delivery-events-svelte): drop the tag-name host lookup and write the session on fallback (PIE-1075)
  .changeset/20260923-delivery-events-svelte-fallback-write.md
  .changeset/20260923-pie-1075-svelte-elements-player-owned-tag.md
  packages/lib-svelte/delivery-events/src/session-bridge.ts
  packages/lib-svelte/delivery-events/tests/session-bridge.test.ts
  packages/lib-svelte/delivery-events/vite.config.ts
Due: lint, types

fix(mc-populated-blank): leave the session's id and element to the player (PIE-1075)
  .changeset/20260923-pie-1075-mc-populated-blank-session.md
  packages/elements-svelte/mc-populated-blank/docs.contract.json
  packages/elements-svelte/mc-populated-blank/src/author/defaults.ts
  packages/elements-svelte/mc-populated-blank/src/author/index.ts
  packages/elements-svelte/mc-populated-blank/src/controller/defaults.ts
  packages/elements-svelte/mc-populated-blank/src/controller/index.test.ts
  packages/elements-svelte/mc-populated-blank/src/controller/index.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.session.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/index.ts
  packages/elements-svelte/mc-populated-blank/src/shared/types.ts
  packages/elements-svelte/mc-populated-blank/src/shared/uiText.ts
  packages/elements-svelte/mc-populated-blank/tests/delivery-session-contract.test.ts
Due: lint, types

fix(editable-html-tiptap-svelte): scope the editor styles and stop reporting changes the author did not make
  .changeset/20260923-editable-html-tiptap-svelte-host-safe.md
  packages/lib-svelte/editable-html-tiptap-svelte/package.json
  packages/lib-svelte/editable-html-tiptap-svelte/src/EditableHtml.svelte
  packages/lib-svelte/editable-html-tiptap-svelte/tests/EditableHtml.test.ts
  packages/lib-svelte/editable-html-tiptap-svelte/tests/reactive-props.svelte.ts
Due: lint, types

fix(simple-cloze): session, scoring, accessibility, styling and authoring fixes (PIE-1075)
  .changeset/20260923-simple-cloze-contract-and-styling.md
  biome.json
  packages/elements-svelte/simple-cloze/package.json
  packages/elements-svelte/simple-cloze/src/author/Author.svelte
  packages/elements-svelte/simple-cloze/src/author/index.ts
  packages/elements-svelte/simple-cloze/src/controller/index.ts
  packages/elements-svelte/simple-cloze/src/delivery/SimpleCloze.svelte
  packages/elements-svelte/simple-cloze/src/print/Print.svelte
  packages/elements-svelte/simple-cloze/src/print/index.ts
  packages/elements-svelte/simple-cloze/test.html
  packages/elements-svelte/simple-cloze/tests/author-model-contract.test.ts
  packages/elements-svelte/simple-cloze/tests/controller.test.ts
  packages/elements-svelte/simple-cloze/tests/delivery-a11y.test.ts
  packages/elements-svelte/simple-cloze/tests/delivery-session-contract.test.ts
  packages/elements-svelte/simple-cloze/tests/print.test.ts
Due: lint, types

fix(venn-classification): session, scoring, accessibility and authoring fixes (PIE-1075)
  .changeset/20260923-venn-classification-contract-and-a11y.md
  apps/element-demo/test/e2e/venn-classification-svelte.spec.ts
  bun.lock
  docs/prds/venn-classification/PRD.md
  packages/elements-svelte/venn-classification/package.json
  packages/elements-svelte/venn-classification/src/author/Author.svelte
  packages/elements-svelte/venn-classification/src/author/index.ts
  packages/elements-svelte/venn-classification/src/controller/defaults.ts
  packages/elements-svelte/venn-classification/src/controller/index.ts
  packages/elements-svelte/venn-classification/src/delivery/Tile.svelte
  packages/elements-svelte/venn-classification/src/delivery/VennClassification.svelte
  packages/elements-svelte/venn-classification/src/delivery/dnd.ts
  packages/elements-svelte/venn-classification/src/delivery/index.ts
  packages/elements-svelte/venn-classification/src/delivery/tile-accessible-name.ts
  packages/elements-svelte/venn-classification/tests/author-model-contract.test.ts
  packages/elements-svelte/venn-classification/tests/controller.test.ts
  packages/elements-svelte/venn-classification/tests/delivery-session-contract.test.ts
  packages/elements-svelte/venn-classification/tests/dnd.test.ts
  packages/elements-svelte/venn-classification/tests/tile-accessible-name.test.ts
Due: lint, types

docs: describe the player-owned session contract in the element-author skill and player-events README
  .agents/skills/pie-element-author/SKILL.md
  .claude/skills/pie-element-author/SKILL.md
  packages/shared/player-events/README.md
Due: none

fix(cli): strip the git hook environment from git subprocesses
  .changeset/20260923-cli-git-env-isolation.md
  tools/cli/src/utils/git.ts
  tools/cli/tests/git-env-isolation.test.ts
  tools/cli/tests/helpers/git-fixture.ts
  tools/cli/tests/sync-pielib-strategy.test.ts
  tools/cli/tests/sync-react-strategy.test.ts
Due: lint, types

chore(skills): remove grill-me and loop-review-agents agent skills
  .agents/skills/grill-me/SKILL.md
  .agents/skills/loop-review-agents/SKILL.md
  .agents/skills/source-command-grill-me/SKILL.md
  .claude/commands/grill-me.md
  .claude/commands/loop-review-agents.md
  .claude/skills/grill-me/SKILL.md
  .claude/skills/loop-review-agents/SKILL.md
Due: none

fix(test): keep agent worktrees out of the root vitest run
  vitest.config.ts
Due: lint, types

build(biome): lint the tree when run from a worktree
  biome.json
Due: none

fix(mc-populated-blank): self-contained layout, instructor-only print key, teacher instructions (PIE-1075)
  .changeset/20260923-pie-1075-mc-populated-blank-remaining.md
  apps/element-demo/test/e2e/mc-populated-blank-correct-answer.spec.ts
  packages/elements-svelte/mc-populated-blank/README.md
  packages/elements-svelte/mc-populated-blank/src/author/Author.svelte
  packages/elements-svelte/mc-populated-blank/src/controller/defaults.ts
  packages/elements-svelte/mc-populated-blank/src/controller/index.test.ts
  packages/elements-svelte/mc-populated-blank/src/controller/index.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/AudioPlayer.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/ChoiceRow.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/ClozeMarker.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/TeacherInstructions.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/computeDisplayState.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/computeDisplayState.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-base.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-vic.css
  packages/elements-svelte/mc-populated-blank/src/delivery/variant-css-map.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/variant-css-scope.test.ts
  packages/elements-svelte/mc-populated-blank/src/index.iife.ts
  packages/elements-svelte/mc-populated-blank/src/print/Print.svelte
  packages/elements-svelte/mc-populated-blank/src/print/index.ts
  packages/elements-svelte/mc-populated-blank/src/shared/types.ts
  packages/elements-svelte/mc-populated-blank/tests/delivery-render.test.ts
  packages/elements-svelte/mc-populated-blank/tests/print.test.ts
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
Due: lint, types

fix(simple-cloze): session value, plain-text scoring, reveal, math and teacher instructions (PIE-1075)
  .changeset/20260923-simple-cloze-remaining.md
  apps/element-a11y-demo/src/lib/samples/simple-cloze.json
  apps/element-demo/src/lib/samples/simple-cloze.json
  apps/learnosity-parity-demo/src/lib/samples/simple-cloze.json
  bun.lock
  packages/elements-svelte/simple-cloze/docs/demo/config.mjs
  packages/elements-svelte/simple-cloze/package.json
  packages/elements-svelte/simple-cloze/src/controller/defaults.ts
  packages/elements-svelte/simple-cloze/src/controller/index.ts
  packages/elements-svelte/simple-cloze/src/controller/plain-text.ts
  packages/elements-svelte/simple-cloze/src/delivery/SimpleCloze.svelte
  packages/elements-svelte/simple-cloze/src/delivery/TeacherInstructions.svelte
  packages/elements-svelte/simple-cloze/src/delivery/index.ts
  packages/elements-svelte/simple-cloze/src/print/Print.svelte
  packages/elements-svelte/simple-cloze/tests/controller.test.ts
  packages/elements-svelte/simple-cloze/tests/delivery-a11y.test.ts
  packages/elements-svelte/simple-cloze/tests/delivery-session-contract.test.ts
  packages/elements-svelte/simple-cloze/tests/print.test.ts
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
Due: lint, types

fix(venn-classification): keep placed tiles inside their regions, synthetic-click activation, model-set completeness and teacher instructions (PIE-1075)
  .changeset/20260923-venn-classification-remaining.md
  docs/prds/venn-classification/PRD.md
  packages/elements-svelte/venn-classification/src/author/Author.svelte
  packages/elements-svelte/venn-classification/src/controller/defaults.ts
  packages/elements-svelte/venn-classification/src/controller/index.ts
  packages/elements-svelte/venn-classification/src/delivery/TeacherInstructions.svelte
  packages/elements-svelte/venn-classification/src/delivery/Tile.svelte
  packages/elements-svelte/venn-classification/src/delivery/VennClassification.svelte
  packages/elements-svelte/venn-classification/src/delivery/index.ts
  packages/elements-svelte/venn-classification/src/delivery/layout.ts
  packages/elements-svelte/venn-classification/src/types.ts
  packages/elements-svelte/venn-classification/tests/author-model-contract.test.ts
  packages/elements-svelte/venn-classification/tests/controller.test.ts
  packages/elements-svelte/venn-classification/tests/delivery-session-contract.test.ts
  packages/elements-svelte/venn-classification/tests/delivery-teacher-instructions.test.ts
  packages/elements-svelte/venn-classification/tests/layout.test.ts
Due: lint, types

fix(delivery-events-svelte): find the host through shadow roots and warn when there is none (PIE-1075)
  .changeset/20260923-delivery-events-svelte-host-lookup.md
  packages/lib-svelte/delivery-events/src/session-bridge.ts
  packages/lib-svelte/delivery-events/tests/session-bridge.test.ts
Due: lint, types

build(deps): drop the unused @pie-lib/styling-svelte declarations (PIE-1075)
  bun.lock
  packages/elements-svelte/mc-populated-blank/package.json
  packages/elements-svelte/simple-cloze/package.json
  packages/elements-svelte/venn-classification/package.json
  packages/lib-svelte/editable-html-tiptap-svelte/package.json
Due: none

fix(styling-svelte): add the render-ui tokens it lacked and correct the README (PIE-1075)
  .changeset/20260923-styling-svelte-render-ui-parity.md
  packages/lib-svelte/styling/README.md
  packages/lib-svelte/styling/src/color.ts
  packages/lib-svelte/styling/tests/color.test.ts
Due: lint, types

fix(editable-html-tiptap-svelte): ship types that resolve from dist, drop inline button styles (PIE-1075)
  .changeset/20260923-editable-html-tiptap-svelte-toolbar-buttons.md
  .changeset/20260923-editable-html-tiptap-svelte-types.md
  packages/lib-svelte/editable-html-tiptap-svelte/src/EditableHtml.svelte
  packages/lib-svelte/editable-html-tiptap-svelte/src/index.ts
  packages/lib-svelte/editable-html-tiptap-svelte/src/types.ts
  packages/lib-svelte/editable-html-tiptap-svelte/tests/EditableHtml.test.ts
Due: lint, types

fix(editable-html-tiptap-svelte): show the placeholder while the editor is empty (PIE-1075)
  .changeset/20260923-editable-html-tiptap-svelte-placeholder.md
  packages/lib-svelte/editable-html-tiptap-svelte/src/EditableHtml.svelte
  packages/lib-svelte/editable-html-tiptap-svelte/tests/EditableHtml.test.ts
Due: lint, types

fix(math-input-svelte): port to runes, render StaticMath through MathJax, ship types that resolve from dist (PIE-1075)
  .changeset/20260923-math-input-svelte-runes.md
  bun.lock
  packages/lib-svelte/math-input-svelte/README.md
  packages/lib-svelte/math-input-svelte/package.json
  packages/lib-svelte/math-input-svelte/src/MathField.svelte
  packages/lib-svelte/math-input-svelte/src/StaticMath.svelte
  packages/lib-svelte/math-input-svelte/src/index.ts
  packages/lib-svelte/math-input-svelte/src/types.ts
  packages/lib-svelte/math-input-svelte/tests/math-input.test.ts
  packages/lib-svelte/math-input-svelte/tests/reactive-props.svelte.ts
Due: lint, types

fix(lint): anchor the .claude Biome exclusion to the project root
  biome.json
Due: none

fix(build): cache the legacy print bundle in module/ as a turbo build output
  turbo.json
Due: none

fix(apps): run svelte-kit sync on install
  apps/element-a11y-demo/package.json
  apps/element-demo/package.json
  apps/learnosity-parity-demo/package.json
Due: none

ci: drop svelte-kit sync steps now covered by bun install
  .github/workflows/a11y.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/iife-tests.yml
Due: none

fix(release): keep bun.lock in sync with version bumps
  bun.lock
  package.json
Due: none

fix(translator): translate the Spanish common.correct and common.incorrect strings
  .changeset/20260923-translator-es-common-correct.md
  packages/shared/translator/src/es.ts
Due: lint, types

fix(video-stimulus): report a failing source
  packages/elements-svelte/video-stimulus/src/delivery/VideoStimulus.svelte
  packages/elements-svelte/video-stimulus/tests/delivery.test.ts
Due: lint, types

chore(video-stimulus): drop shared-infra workarounds
  packages/elements-svelte/video-stimulus/vitest.config.ts
  scripts/lib/package-inspection.mjs
  tests/package-inspection.test.ts
  vitest.config.ts
Due: lint, types

refactor(video-stimulus): key controller messages and share one default model
  packages/elements-svelte/video-stimulus/src/author/i18n.ts
  packages/elements-svelte/video-stimulus/src/controller/defaults.ts
  packages/elements-svelte/video-stimulus/src/controller/index.ts
  packages/elements-svelte/video-stimulus/src/controller/messages.ts
  packages/elements-svelte/video-stimulus/tests/author.test.ts
Due: lint, types

test(video-stimulus): cover bad source and track, keyboard, 320px reflow and IIFE in e2e
  apps/element-demo/test/e2e/video-stimulus-svelte.spec.ts
Due: lint, types

chore(media-svelte): test with happy-dom like the rest of the repo
  bun.lock
  packages/lib-svelte/media-svelte/package.json
  packages/lib-svelte/media-svelte/vitest.config.ts
Due: lint, types

test(tokens): gate --pie-* usage in every lib-svelte package
  tests/pie-token-contract.test.ts
Due: lint, types

fix(video-stimulus): style load errors with neutral tokens and leave host lang to the player
  packages/elements-svelte/video-stimulus/src/delivery/VideoStimulus.svelte
  packages/elements-svelte/video-stimulus/src/delivery/index.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,svelte}
  types: any of: *.{ts,tsx}
