Repository pie-framework/pie-elements-ng: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    dependency-integrity-fast:
      run: bun run verify:dependency-integrity --fail-on-hoist
    lint:
      glob: "*.{js,ts,svelte}"
      run: bun run lint:fix {staged_files}
    types:
      glob: "*.{ts,tsx}"
      run: bunx tsc --noEmit

pre-push:
  parallel: false
  commands:
    dependency-integrity-full:
      run: bun run verify:dependency-integrity --check-peer-gaps --fail-on-hoist --fail-on-peer
    test:
      run: bun run test
    build:
      run: bun run build

fix(math-rendering): give each MathJax copy's explorer regions their own stylesheet ids
  .changeset/pie-1227-explorer-region-stylesheets.md
  packages/shared/math-rendering-mathjax/src/engine/bundled.ts
  packages/shared/math-rendering-mathjax/src/engine/bundled/mathjax.ts
  packages/shared/math-rendering-mathjax/tests/browser/bundled-engine.spec.ts
Due: lint, types

chore(changeset): release shared-utils sanitizeModelHtml as a patch
  .changeset/sanitize-model-html.md
Due: none

docs(math-rendering): generated preloaded builds start no page MathJax (PIE-1227)
  docs/MATH-RENDERING.md
Due: none

fix: keep elementary math and Star audio prompts through the model HTML sanitizer, and rank categories first in categorize
  .changeset/categorize-categories-first.md
  .changeset/model-html-elementary-math-audio.md
  packages/elements-react/categorize/src/delivery/categorize/__tests__/index.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/index.tsx
  packages/shared/utils/src/sanitize-model-html.ts
  packages/shared/utils/tests/sanitize-model-html.test.ts
Due: lint, types

style: format the sanitizer test
  packages/shared/utils/tests/sanitize-model-html.test.ts
Due: lint, types

fix(categorize): rank any touched category ahead of the choice pool so a minimal overlap makes it receptive PIE-1103
  packages/elements-react/match-list/src/delivery/__tests__/collision-detection.test.ts
  packages/elements-react/match-list/src/delivery/collision-detection.ts
  packages/elements-react/match-list/src/delivery/main.tsx
Due: lint, types

fix(categorize): rank any touched category ahead of the choice pool so a minimal overlap makes it receptive PIE-1103
  packages/elements-react/categorize/src/delivery/categorize/index.tsx
Due: types

fix(charting): reserve room below the axis for fraction category labels (PIE-1215)
  packages/lib-react/charting/src/__tests__/label-rotation.test.tsx
  packages/lib-react/charting/src/axes.tsx
  packages/lib-react/charting/src/mark-label.tsx
  packages/lib-react/plot/src/label.tsx
Due: types

fix(render-ui): announce evaluate feedback to screen readers (PIE-1151)
  packages/lib-react/render-ui/src/feedback.tsx
  packages/lib-react/render-ui/tests/feedback.test.tsx
Due: types

fix(editable-html-tip-tap): keep and upload pictures pasted from Word (PIE-1145)
  .changeset/word-paste-pictures.md
  packages/lib-react/editable-html-tip-tap/src/components/EditableHtml.tsx
  packages/lib-react/editable-html-tip-tap/src/extensions/image.tsx
  packages/lib-react/editable-html-tip-tap/src/external-paste.ts
  packages/lib-react/editable-html-tip-tap/test/external-paste.test.tsx
  packages/lib-svelte/editable-html-tiptap-svelte/src/external-paste.ts
Due: lint, types

fix(editable-html-tip-tap): paste Word's blank lines without formatting (PIE-1145)
  .changeset/word-paste-pictures.md
  packages/lib-react/editable-html-tip-tap/src/external-paste.ts
  packages/lib-react/editable-html-tip-tap/test/external-paste.test.tsx
  packages/lib-svelte/editable-html-tiptap-svelte/src/external-paste.ts
Due: lint, types

test(editable-html-tip-tap): paste a Word for Mac copy (PIE-1145)
  packages/lib-react/editable-html-tip-tap/test/external-paste.test.tsx
  packages/lib-react/editable-html-tip-tap/test/fixtures/word-for-mac.html
Due: types

feat(math-rendering): name a control that holds math from its hidden MathML (PIE-1153)
  docs/MATH-RENDERING.md
  packages/lib-react/drag/src/__tests__/draggable-control.test.tsx
  packages/lib-react/drag/src/draggable-control.ts
  packages/lib-react/math-rendering/src/index.ts
  packages/shared/math-rendering-mathjax/src/index.ts
  packages/shared/math-rendering-mathjax/src/math-name.ts
  packages/shared/math-rendering-mathjax/src/math-speech.ts
  packages/shared/math-rendering-mathjax/tests/browser/control-name.spec.ts
  packages/shared/math-rendering-mathjax/tests/math-name.test.ts
  packages/shared/math-rendering-mathjax/tests/math-speech.test.ts
Due: lint, types

fix(editable-html-tip-tap): upload pasted Word pictures one at a time (PIE-1145)
  packages/lib-react/editable-html-tip-tap/src/extensions/image.tsx
  packages/lib-react/editable-html-tip-tap/src/external-paste.ts
  packages/lib-react/editable-html-tip-tap/test/external-paste.test.tsx
  packages/lib-svelte/editable-html-tiptap-svelte/src/external-paste.ts
Due: lint, types

feat(render-ui): name math-only controls from their MathML (PIE-1153)
  docs/MATH-RENDERING.md
  packages/elements-react/categorize/src/delivery/__tests__/math-control-names.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/__tests__/choice.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/choice.tsx
  packages/elements-react/image-cloze-association/src/delivery/__tests__/math-control-names.test.tsx
  packages/elements-react/image-cloze-association/src/delivery/possible-response.tsx
  packages/elements-react/match-list/src/delivery/__tests__/math-control-names.test.tsx
  packages/elements-react/match-list/src/delivery/answer.tsx
  packages/elements-react/multiple-choice/src/delivery/__tests__/math-control-names.test.tsx
  packages/elements-react/multiple-choice/src/delivery/choice-input.tsx
  packages/elements-react/placement-ordering/src/delivery/__tests__/math-control-names.test.tsx
  packages/elements-react/placement-ordering/src/delivery/tile.tsx
  packages/lib-react/mask-markup/src/__tests__/math-control-names.test.tsx
  packages/lib-react/mask-markup/src/choices/choice.tsx
  packages/lib-react/mask-markup/src/components/blank.tsx
  packages/lib-react/mask-markup/src/components/dropdown.tsx
  packages/lib-react/render-ui/src/index.ts
  packages/lib-react/render-ui/src/math-name.tsx
  packages/lib-react/render-ui/tests/math-name.test.tsx
  tests/model-html-sinks.test.ts
Due: lint, types

test(editable-html-tip-tap): drop the macOS home path from the Word for Mac fixture (PIE-1145)
  packages/lib-react/editable-html-tip-tap/test/fixtures/word-for-mac.html
Due: none

feat(shared-utils): mark authored colors in model HTML (PIE-1119)
  packages/shared/utils/src/authored-colors.ts
  packages/shared/utils/src/index.ts
  packages/shared/utils/src/sanitize-model-html.ts
  packages/shared/utils/tests/authored-colors.test.ts
Due: lint, types

feat(math-rendering): label math in controls as it is typeset (PIE-1153)
  docs/MATH-RENDERING.md
  docs/a11y/select-text.md
  docs/prds/select-text/PRD.md
  packages/elements-react/categorize/src/delivery/__tests__/math-control-names.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/__tests__/choice.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/choice.tsx
  packages/elements-react/image-cloze-association/src/delivery/__tests__/math-control-names.test.tsx
  packages/elements-react/image-cloze-association/src/delivery/possible-response.tsx
  packages/elements-react/match-list/src/delivery/__tests__/math-control-names.test.tsx
  packages/elements-react/match-list/src/delivery/answer.tsx
  packages/elements-react/multiple-choice/src/delivery/__tests__/math-control-names.test.tsx
  packages/elements-react/multiple-choice/src/delivery/choice-input.tsx
  packages/elements-react/placement-ordering/src/delivery/__tests__/math-control-names.test.tsx
  packages/elements-react/placement-ordering/src/delivery/tile.tsx
  packages/lib-react/drag/src/__tests__/draggable-control.test.tsx
  packages/lib-react/drag/src/draggable-control.ts
  packages/lib-react/mask-markup/src/__tests__/math-control-names.test.tsx
  packages/lib-react/mask-markup/src/choices/choice.tsx
  packages/lib-react/mask-markup/src/components/blank.tsx
  packages/lib-react/mask-markup/src/components/dropdown.tsx
  packages/lib-react/math-rendering/src/index.ts
  packages/lib-react/render-ui/src/index.ts
  packages/lib-react/render-ui/src/math-name.tsx
  packages/lib-react/render-ui/tests/math-name.test.tsx
  packages/shared/math-rendering-mathjax/src/adapter.ts
  packages/shared/math-rendering-mathjax/src/index.ts
  packages/shared/math-rendering-mathjax/src/math-name.ts
  packages/shared/math-rendering-mathjax/src/math-speech.ts
  packages/shared/math-rendering-mathjax/src/render-math.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
  packages/shared/math-rendering-mathjax/tests/browser/control-name.spec.ts
  packages/shared/math-rendering-mathjax/tests/math-name.test.ts
  packages/shared/math-rendering-mathjax/tests/math-speech.test.ts
  tests/model-html-sinks.test.ts
Due: lint, types

fix(mc-populated-blank): hold the blank still and fit picture choices to their tiles (PIE-1247)
  .changeset/mc-populated-blank-reserved-blank.md
  apps/element-demo/src/lib/samples/mc-populated-blank.json
  apps/element-demo/test/e2e/mc-populated-blank-image-choices.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-interaction.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-r1-inline-sentence.spec.ts
  packages/elements-svelte/mc-populated-blank/README.md
  packages/elements-svelte/mc-populated-blank/src/delivery/ChoiceRow.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/ClozeMarker.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/ClozeMarker.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-base.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-s3.css
  packages/elements-svelte/mc-populated-blank/tests/print.test.ts
Due: lint, types

fix(element-a11y-demo): read interactive-control-name names from Chrome's accessibility tree
  apps/element-a11y-demo/test/a11y/README.md
  apps/element-a11y-demo/test/a11y/axe-scenarios.spec.ts
  apps/element-a11y-demo/test/a11y/control-names.spec.ts
  apps/element-a11y-demo/test/a11y/control-names.ts
  docs/a11y/drag-in-the-blank.md
Due: lint, types

fix(math-inline): drop the unnamed tab stop around the answer fields
  apps/element-a11y-demo/src/lib/a11y/scenarios/catalog.ts
  apps/element-a11y-demo/test/a11y/README.md
  packages/elements-react/math-inline/src/delivery/__tests__/tab-stops.test.tsx
  packages/elements-react/math-inline/src/delivery/main.tsx
Due: lint, types

fix(charting): keep a fraction category label visible after clicking into it and leaving + adjust UI PIE-1216
  packages/lib-react/charting/src/__tests__/mark-label-fraction.test.tsx
  packages/lib-react/charting/src/axes.tsx
  packages/lib-react/charting/src/mark-label.tsx
  packages/lib-react/plot/src/label.tsx
Due: types

fix(charting): change action button to mui menu for improved accesibility PIE-1225
  packages/lib-react/charting/src/__tests__/actions-button.test.tsx
  packages/lib-react/charting/src/actions-button.tsx
Due: types

docs(agents): state ADR 0003 rules for when an element reads accessibility settings
  AGENTS.md
Due: none

feat(math-rendering): put math in the tab order when the page sets opts.inTabOrder
  .changeset/math-in-tab-order-option.md
  docs/MATH-RENDERING.md
  packages/shared/math-rendering-mathjax/src/adapter.ts
  packages/shared/math-rendering-mathjax/src/assets.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
Due: lint, types

fix(charting): keep category label and Actions colors off the theme (PIE-1250)
  packages/lib-react/charting/src/actions-button.tsx
  packages/lib-react/charting/src/mark-label.tsx
Due: types

fix(image-cloze-association): keep the shuffled response order and honour lockChoiceOrder (PIE-1253)
  .changeset/image-cloze-association-stable-shuffle.md
  packages/elements-react/image-cloze-association/src/controller/index.ts
  packages/elements-react/image-cloze-association/src/delivery/__tests__/container-ids.test.ts
  packages/elements-react/image-cloze-association/tests/controller-choice-order.test.ts
Due: lint, types

docs(agents): legacy repos take no further work
  AGENTS.md
Due: none
