Repository pie-framework/pie-elements-ng: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    dependency-integrity-fast:
      run: bun run verify:dependency-integrity --fail-on-hoist
    lint:
      glob: "*.{js,ts,svelte}"
      run: bun run lint:fix {staged_files}
    types:
      glob: "*.{ts,tsx}"
      run: bunx tsc --noEmit

pre-push:
  parallel: false
  commands:
    dependency-integrity-full:
      run: bun run verify:dependency-integrity --check-peer-gaps --fail-on-hoist --fail-on-peer
    test:
      run: bun run test
    build:
      run: bun run build

chore(a11y-demo): share the video stimulus assets with element-demo
  apps/element-a11y-demo/static/video-stimulus
  apps/element-a11y-demo/static/video-stimulus/ATTRIBUTION.md
  apps/element-a11y-demo/static/video-stimulus/captions-en.vtt
  apps/element-a11y-demo/static/video-stimulus/poster.svg
  apps/element-a11y-demo/static/video-stimulus/sample.webm
Due: none

docs(video-stimulus): record the PRD sign-off and transcript ownership
  docs/prds/video-stimulus/PRD.md
  packages/elements-svelte/video-stimulus/CHANGELOG.md
Due: none

fix(video-stimulus): announce author edits through the host's ModelUpdatedEvent
  apps/element-demo/test/e2e/video-stimulus-svelte.spec.ts
  bun.lock
  packages/elements-svelte/video-stimulus/package.json
  packages/elements-svelte/video-stimulus/src/author/Author.svelte
  packages/elements-svelte/video-stimulus/src/author/index.ts
  packages/elements-svelte/video-stimulus/tests/author.test.ts
Due: lint, types

test(theming): allow --pie-primary in the Svelte element token contract
  tests/pie-token-contract.test.ts
Due: lint, types

test(element-demo): skip response checks for video-stimulus in the baseline
  apps/element-demo/test/e2e/baseline-all-elements.spec.ts
Due: lint, types

fix(elements-svelte): dispatch model.updated from the author element itself
  .changeset/svelte-author-model-updated.md
  packages/elements-svelte/mc-populated-blank/src/author/index.ts
  packages/elements-svelte/mc-populated-blank/src/print/index.ts
  packages/elements-svelte/mc-populated-blank/src/runtime-support.ts
  packages/elements-svelte/mc-populated-blank/tests/author-element.test.ts
  packages/elements-svelte/simple-cloze/src/author/Author.svelte
  packages/elements-svelte/simple-cloze/src/author/index.ts
  packages/elements-svelte/simple-cloze/src/print/index.ts
  packages/elements-svelte/simple-cloze/tests/author-model-contract.test.ts
  packages/elements-svelte/venn-classification/src/author/Author.svelte
  packages/elements-svelte/venn-classification/src/author/index.ts
  packages/elements-svelte/venn-classification/tests/author-model-contract.test.ts
Due: lint, types

fix(editable-html-tiptap-svelte): keep the hidden toolbar out of the tab order and name the text box
  packages/elements-svelte/simple-cloze/src/author/Author.svelte
  packages/elements-svelte/venn-classification/src/author/Author.svelte
  packages/lib-svelte/editable-html-tiptap-svelte/src/EditableHtml.svelte
  packages/lib-svelte/editable-html-tiptap-svelte/src/types.ts
  packages/lib-svelte/editable-html-tiptap-svelte/tests/EditableHtml.test.ts
Due: lint, types

fix(mc-populated-blank): render print through the delivery component
  .changeset/20260924-mc-populated-blank-print-renders-delivery.md
  packages/elements-svelte/mc-populated-blank/README.md
  packages/elements-svelte/mc-populated-blank/src/print/Print.svelte
  packages/elements-svelte/mc-populated-blank/src/print/preparePrint.ts
  packages/elements-svelte/mc-populated-blank/src/shared/types.ts
  packages/elements-svelte/mc-populated-blank/tests/print.test.ts
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
Due: lint, types

refactor(elements-svelte): build every Svelte element from shared tools/vite configs
  .changeset/20260924-svelte-element-root-reexports-delivery.md
  .claude/skills/pie-element-author/SKILL.md
  docs/PACKAGING_ARCHITECTURE.md
  packages/elements-svelte/mc-populated-blank/package.json
  packages/elements-svelte/mc-populated-blank/vite.author.config.ts
  packages/elements-svelte/mc-populated-blank/vite.config.iife.ts
  packages/elements-svelte/mc-populated-blank/vite.config.ts
  packages/elements-svelte/mc-populated-blank/vite.controller.config.ts
  packages/elements-svelte/mc-populated-blank/vite.delivery.config.ts
  packages/elements-svelte/mc-populated-blank/vite.print.config.ts
  packages/elements-svelte/mc-populated-blank/vite.runtime-support.config.ts
  packages/elements-svelte/simple-cloze/package.json
  packages/elements-svelte/simple-cloze/vite.author.config.ts
  packages/elements-svelte/simple-cloze/vite.config.iife.ts
  packages/elements-svelte/simple-cloze/vite.config.ts
  packages/elements-svelte/simple-cloze/vite.controller.config.ts
  packages/elements-svelte/simple-cloze/vite.delivery.config.ts
  packages/elements-svelte/simple-cloze/vite.print.config.ts
  packages/elements-svelte/simple-cloze/vite.runtime-support.config.ts
  packages/elements-svelte/venn-classification/package.json
  packages/elements-svelte/venn-classification/vite.author.config.ts
  packages/elements-svelte/venn-classification/vite.config.iife.ts
  packages/elements-svelte/venn-classification/vite.config.ts
  packages/elements-svelte/venn-classification/vite.controller.config.ts
  packages/elements-svelte/venn-classification/vite.delivery.config.ts
  packages/elements-svelte/venn-classification/vite.runtime-support.config.ts
  tools/vite/svelte-element-esm.config.ts
  tools/vite/svelte-element-iife.config.ts
  turbo.json
Due: lint, types

refactor(delivery-events-svelte): add defineDeliveryElement for the Svelte elements
  .agents/skills/pie-element-author/SKILL.md
  .changeset/20260924-delivery-events-svelte-define-delivery-element.md
  .claude/skills/pie-element-author/SKILL.md
  apps/element-demo/test/e2e/mc-populated-blank-interaction.spec.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.session.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/index.ts
  packages/elements-svelte/mc-populated-blank/src/shared/types.ts
  packages/elements-svelte/mc-populated-blank/tests/delivery-audio-session.test.ts
  packages/elements-svelte/mc-populated-blank/tests/delivery-session-contract.test.ts
  packages/elements-svelte/simple-cloze/src/author/Author.svelte
  packages/elements-svelte/simple-cloze/src/author/index.ts
  packages/elements-svelte/simple-cloze/src/delivery/SimpleCloze.svelte
  packages/elements-svelte/simple-cloze/src/delivery/index.ts
  packages/elements-svelte/simple-cloze/tests/delivery.test.ts
  packages/elements-svelte/venn-classification/src/author/Author.svelte
  packages/elements-svelte/venn-classification/src/author/index.ts
  packages/elements-svelte/venn-classification/src/delivery/VennClassification.svelte
  packages/elements-svelte/venn-classification/src/delivery/index.ts
  packages/elements-svelte/venn-classification/tests/delivery.test.ts
  packages/lib-svelte/delivery-events/src/delivery-element.ts
  packages/lib-svelte/delivery-events/src/index.ts
  packages/lib-svelte/delivery-events/src/session-bridge.ts
  packages/lib-svelte/delivery-events/src/write-session-in-place.ts
  packages/lib-svelte/delivery-events/tests/delivery-session-contract.test.ts
  packages/lib-svelte/delivery-events/tests/session-bridge.test.ts
  packages/lib-svelte/delivery-events/tests/write-session-in-place.test.ts
Due: lint, types

chore(changeset): drop the onChange note from the Svelte author changeset
  .changeset/svelte-author-model-updated.md
Due: none

feat(elements-svelte): take configuration in the Svelte author elements
  .changeset/svelte-author-configuration.md
  bun.lock
  docs/prds/venn-classification/PRD.md
  packages/elements-svelte/mc-populated-blank/src/author/Author.svelte
  packages/elements-svelte/mc-populated-blank/tests/author-element.test.ts
  packages/elements-svelte/simple-cloze/package.json
  packages/elements-svelte/simple-cloze/src/author/Author.svelte
  packages/elements-svelte/simple-cloze/src/controller/defaults.ts
  packages/elements-svelte/simple-cloze/tests/author-model-contract.test.ts
  packages/elements-svelte/venn-classification/package.json
  packages/elements-svelte/venn-classification/src/author/Author.svelte
  packages/elements-svelte/venn-classification/src/controller/defaults.ts
  packages/elements-svelte/venn-classification/tests/author-model-contract.test.ts
  packages/lib-svelte/config-ui/package.json
  packages/lib-svelte/config-ui/src/ConfigLayout.svelte
  packages/lib-svelte/config-ui/src/SettingsPanel.svelte
  packages/lib-svelte/config-ui/src/configuration.ts
  packages/lib-svelte/config-ui/src/index.ts
  packages/lib-svelte/config-ui/src/types.ts
  packages/lib-svelte/config-ui/tests/configuration.test.ts
  packages/lib-svelte/config-ui/tests/settings-panel.test.ts
  packages/lib-svelte/config-ui/tsconfig.json
  packages/lib-svelte/config-ui/vite.config.ts
Due: lint, types

feat(shared-test-utils): check author elements against a written authoring contract (PIE-1090)
  .changeset/author-contract-test-helpers.md
  .claude/skills/pie-element-author/SKILL.md
  bun.lock
  docs/API_REFERENCE.md
  docs/PIE_ELEMENT_CONTRACT.md
  packages/elements-svelte/mc-populated-blank/package.json
  packages/elements-svelte/mc-populated-blank/tests/author-element.test.ts
  packages/elements-svelte/simple-cloze/package.json
  packages/elements-svelte/simple-cloze/tests/author-model-contract.test.ts
  packages/elements-svelte/venn-classification/package.json
  packages/elements-svelte/venn-classification/tests/author-model-contract.test.ts
  packages/shared/test-utils/README.md
  packages/shared/test-utils/src/author-contract.ts
  packages/shared/test-utils/src/index.ts
  packages/shared/test-utils/tests/author-contract.test.ts
Due: lint, types

fix(elements-svelte): name the author text boxes after their configured labels (PIE-1090)
  .claude/skills/pie-element-author/SKILL.md
  packages/elements-svelte/simple-cloze/src/author/Author.svelte
  packages/elements-svelte/simple-cloze/tests/author-model-contract.test.ts
  packages/elements-svelte/venn-classification/src/author/Author.svelte
  packages/elements-svelte/venn-classification/tests/author-model-contract.test.ts
Due: lint, types

test(mc-populated-blank): cover the g-stem blank fix (PIE-793)
  .changeset/20260924-pie-793-mc-populated-blank-g-stem-underline.md
  apps/learnosity-parity-demo/test/e2e/mc-populated-blank-g-stem-underline-gap.spec.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-g-stem.css
  packages/elements-svelte/mc-populated-blank/tests/delivery-render.test.ts
Due: lint, types

docs: document session-changed as delivery elements dispatch it (PIE-1090)
  docs/API_REFERENCE.md
  docs/PIE_ELEMENT_CONTRACT.md
Due: none

docs: point the remaining session-event docs at the delivery contract (PIE-1090)
  .claude/skills/pie-element-author/SKILL.md
  docs/API_REFERENCE.md
  docs/ARCHITECTURE.md
  docs/DEMO_SYSTEM.md
  docs/TROUBLESHOOTING.md
Due: none

test(elements-svelte): guard markup against host-only Tailwind and daisyUI classes (PIE-1091)
  .changeset/20260924-pie-1091-simple-cloze-author-host-css.md
  packages/elements-svelte/simple-cloze/src/author/Author.svelte
  tests/svelte-host-css.test.ts
Due: lint, types

fix(mc-populated-blank): pair every choice background with a text colour (PIE-1092)
  .changeset/20260924-pie-1092-mc-populated-blank-choice-contrast.md
  apps/element-demo/test/e2e/mc-populated-blank-a11y.spec.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/ChoiceRow.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-g-stem.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-gg-plus.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-ggplus.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-gplusggg.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-plusggg.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-s3.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-vic.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sr-vic.css
  packages/elements-svelte/mc-populated-blank/src/delivery/variant-css-scope.test.ts
Due: lint, types

refactor(mc-populated-blank): delete the dead narrow-tile rule and the vic sheets' shadowed variables (PIE-1092)
  .changeset/20260924-mc-populated-blank-narrow-tile-limit.md
  packages/elements-svelte/mc-populated-blank/README.md
  packages/elements-svelte/mc-populated-blank/src/controller/index.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/computeLayoutStyle.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-vic.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sr-vic.css
  packages/elements-svelte/mc-populated-blank/src/shared/layoutLimits.ts
Due: lint, types

docs: show the synced-element README template using the custom element (PIE-1090)
  docs/migration/UPSTREAM_SYNC_GUIDE.md
Due: none

fix(mc-populated-blank): keep the r1 token box off inline_sentence stems (PIE-1093)
  .changeset/20260924-pie-1093-mc-populated-blank-r1-inline-sentence.md
  apps/element-demo/src/lib/samples/mc-populated-blank.json
  apps/element-demo/test/e2e/mc-populated-blank-r1-inline-sentence.spec.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-base.css
Due: lint, types

fix(plot): don't crash on touchstart when preventing the text-select cursor, which silently broke charting drag on touchscreens PIE-1074
  packages/lib-react/plot/src/grid-draggable.tsx
Due: types

fix(config-ui-svelte): name the package folder after the package (PIE-1090)
  biome.json
  bun.lock
  packages/lib-svelte/config-ui-svelte/package.json
  packages/lib-svelte/config-ui-svelte/src/ConfigLayout.svelte
  packages/lib-svelte/config-ui-svelte/src/SettingsPanel.svelte
  packages/lib-svelte/config-ui-svelte/src/configuration.ts
  packages/lib-svelte/config-ui-svelte/src/index.ts
  packages/lib-svelte/config-ui-svelte/src/types.ts
  packages/lib-svelte/config-ui-svelte/tests/configuration.test.ts
  packages/lib-svelte/config-ui-svelte/tests/settings-panel.test.ts
  packages/lib-svelte/config-ui-svelte/tsconfig.json
  packages/lib-svelte/config-ui-svelte/vite.config.ts
Due: lint, types

fix(elements-svelte): keep author edits across a detach and re-attach (PIE-1090)
  .changeset/author-contract-test-helpers.md
  .changeset/svelte-author-model-updated.md
  .claude/skills/pie-element-author/SKILL.md
  packages/elements-svelte/simple-cloze/src/author/Author.svelte
  packages/elements-svelte/venn-classification/src/author/Author.svelte
  packages/shared/test-utils/src/author-contract.ts
  packages/shared/test-utils/tests/author-contract.test.ts
Due: lint, types

docs: say legacy pie-author always merges model updates, and a readable model survives a re-attach (PIE-1090)
  docs/API_REFERENCE.md
  docs/ARCHITECTURE.md
  docs/PIE_ELEMENT_CONTRACT.md
Due: none

chore(changeset): leave mc-populated-blank out of the configuration entry; it declares the property and ignores it (PIE-1090)
  .changeset/svelte-author-configuration.md
Due: none

ci(iife): build the bundler and React elements before the bundle contract test
  .github/workflows/iife-tests.yml
Due: none

ci(iife): drop the nightly schedule; run the IIFE suite on demand only
  .github/workflows/iife-tests.yml
Due: none

fix(element-player): dispatch events from the host, bubbling and composed
  .changeset/20260924-element-player-dom-events.md
  packages/element-player/README.md
  packages/element-player/src/players/PieElementPlayer.svelte
  packages/element-player/tests/pie-element-player-events.test.ts
Due: lint, types

docs: use the event names and payloads elements dispatch
  docs/API_REFERENCE.md
  docs/TROUBLESHOOTING.md
Due: none

test(element-demo): find simple-cloze by the tag the ESM loader registers
  apps/element-demo/test/e2e/simple-cloze-svelte.spec.ts
Due: lint, types

ci(iife): build only the bundler, from the contract script
  .github/workflows/iife-tests.yml
  apps/element-demo/package.json
Due: none

fix(bundler): bundle workspace packages from source in workspace-fast mode
  .changeset/20260924-element-bundler-workspace-sources.md
  apps/element-demo/DEV_BUNDLER.md
  packages/shared/bundler-shared/src/index.ts
  packages/shared/bundler-shared/src/installer.ts
  packages/shared/bundler-shared/src/source-aliases.ts
  packages/shared/bundler-shared/src/webpack-config.ts
  packages/shared/bundler-shared/src/workspace-packages.ts
  packages/shared/bundler-shared/tests/bundler-progress.test.ts
  packages/shared/bundler-shared/tests/source-aliases.test.ts
  packages/shared/bundler-shared/tests/workspace-packages.test.ts
Due: lint, types

fix(element-player): apply the session only after the element has a model
  .changeset/20260924-element-player-model-before-session.md
  packages/element-player/src/players/PieElementPlayer.svelte
  packages/element-player/tests/pie-element-player-session-order.test.ts
Due: lint, types

test(element-demo): fix e2e specs left stale by the delivery page changes
  apps/element-demo/test/e2e/README.md
  apps/element-demo/test/e2e/baseline-all-elements.spec.ts
  apps/element-demo/test/e2e/demo-variants.spec.ts
  apps/element-demo/test/e2e/math-algebra-quadratic.spec.ts
  apps/element-demo/test/e2e/phase1-spatial-dnd.spec.ts
  apps/element-demo/test/e2e/phase2-structured.spec.ts
  apps/element-demo/test/e2e/phase3-text-and-hardening.spec.ts
  apps/element-demo/test/e2e/test-helpers.ts
Due: lint, types
