Repository pie-framework/pie-elements-ng: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: bun run lint:fix {staged_files}

types:
  run: bunx tsc --noEmit

fix: align changesets ignore list with current workspace
  .changeset/config.json
Due: none

fix: satisfy biome formatting for changeset config
  .changeset/config.json
Due: none

chore: exclude changesets from biome checks
  biome.json
Due: none

fix: unblock releases and notify Slack for release PRs
  .changeset/config.json
  .github/workflows/release.yml
  tools/cli/src/commands/verify/controllers.ts
Due: lint, types

fix: avoid Slack payload JSON failures in release workflow
  .github/workflows/release.yml
Due: none

feat: add standalone controller artifacts to bundler-shared
  packages/shared/bundler-shared/README.md
  packages/shared/bundler-shared/src/index.ts
  packages/shared/bundler-shared/src/types.ts
  packages/shared/bundler-shared/src/webpack-config.ts
  packages/shared/bundler-shared/tests/controller-urls.test.ts
Due: lint, types

chore: update dependencies and improve MathQuill integration
  .demo-server.5222.lock
  apps/element-demo/src/lib/element-imports.d.ts
  apps/element-demo/src/lib/element-imports.js
  bun.lock
  packages/shared/mathquill/package.json
  packages/shared/mathquill/src/extensions/index.ts
  packages/shared/mathquill/src/index.ts
  packages/shared/mathquill/src/jquery-setup.ts
  packages/shared/mathquill/vite.config.ts
Due: lint, types

chore: update lefthook config and regenerate element imports
  apps/element-demo/src/lib/element-imports.d.ts
  apps/element-demo/src/lib/element-imports.js
  lefthook.yml
Due: lint, types

chore: apply hook formatting updates
  apps/element-demo/scripts/generate-element-imports.ts
  apps/esm-player-test/src/js/player-loader.js
  tools/cli/src/commands/upstream/sync.ts
  tools/cli/src/commands/verify/dependency-integrity.ts
  tools/cli/src/utils/dependency-integrity.ts
Due: lint, types

fix: unblock pre-push build and dependency checks
  bun.lock
  packages/elements-react/fraction-model/package.json
  packages/elements-react/matrix/package.json
  packages/lib-react/editable-html-tip-tap/package.json
  packages/lib-react/test-utils/package.json
  packages/shared/bundler-shared/src/index.ts
Due: lint, types

fix: preserve peer dependencies during upstream sync
  .compatibility/report.json
  bun.lock
  packages/elements-react/fraction-model/package.json
  packages/elements-react/matrix/package.json
  packages/lib-react/editable-html-tip-tap/package.json
  packages/lib-react/test-utils/package.json
  tools/cli/src/lib/upstream/sync-package-manager.ts
  tools/cli/tests/sync-package-manager.test.ts
Due: lint, types

chore: auto-install lefthook for all developers
  README.md
  package.json
Due: none

fixed state issues
  .compatibility/report.json
  apps/element-demo/src/lib/components/DemoSelector.svelte
  apps/element-demo/src/lib/stores/demo-state.ts
Due: lint, types

chore(ci): require real release intent for publish flow
  .github/workflows/release.yml
Due: none

fix(element-player): drop unused theming bridge dependencies
  packages/element-player/package.json
Due: none

fix(theming-daisyui): declare required MUI peer dependency
  packages/shared/theming-daisyui/package.json
Due: none

fmt
  packages/element-theme-daisyui/src/index.ts
  packages/element-theme-daisyui/vite.config.ts
  packages/element-theme/src/theme-elements.ts
  packages/element-theme/test/theme-elements.test.ts
  packages/shared/theming/src/types.ts
Due: lint, types

upstream updates
  .compatibility/report.json
  bun.lock
  packages/elements-react/drag-in-the-blank/package.json
  packages/elements-react/drag-in-the-blank/src/author/choices.tsx
Due: types

upstream sync
  .compatibility/report.json
  bun.lock
  packages/elements-react/categorize/src/author/design/input-header.tsx
  packages/elements-react/categorize/src/delivery/categorize/index.tsx
  packages/elements-react/drawing-response/src/delivery/drawing-response/drawable-text.tsx
  packages/elements-react/extended-text-entry/src/delivery/annotation/annotation-editor.tsx
  packages/elements-react/extended-text-entry/src/delivery/main.tsx
  packages/elements-react/hotspot/src/author/hotspot-circle.tsx
  packages/elements-react/hotspot/src/author/hotspot-rectangle.tsx
  packages/elements-react/image-cloze-association/src/delivery/possible-response.tsx
  packages/elements-react/image-cloze-association/src/delivery/root.tsx
  packages/elements-react/match-list/package.json
  packages/elements-react/match-list/src/delivery/answer.tsx
  packages/elements-react/match-list/src/delivery/choices-list.tsx
  packages/elements-react/match-list/src/delivery/droppable-placeholder.tsx
  packages/elements-react/match-list/src/delivery/main.tsx
  packages/elements-react/match/src/author/row.tsx
  packages/elements-react/match/src/delivery/answer-grid.tsx
  packages/elements-react/multi-trait-rubric/src/author/common.tsx
  packages/elements-react/multi-trait-rubric/src/author/main.tsx
  packages/elements-react/multiple-choice/src/delivery/index.ts
  packages/elements-react/multiple-choice/src/print/index.tsx
  packages/lib-react/editable-html-tip-tap/src/components/EditableHtml.tsx
  packages/lib-react/editable-html-tip-tap/src/components/MenuBar.tsx
  packages/lib-react/editable-html-tip-tap/src/components/TiptapContainer.tsx
  packages/lib-react/editable-html-tip-tap/src/components/respArea/MathTemplated.tsx
  packages/lib-react/editable-html-tip-tap/src/extensions/index.tsx
  packages/lib-react/editable-html-tip-tap/src/extensions/media.tsx
  packages/lib-react/editable-html-tip-tap/src/extensions/responseArea.tsx
  packages/lib-react/mask-markup/src/drag-in-the-blank.tsx
  packages/lib-react/plot/src/grid-draggable.tsx
Due: lint, types

ci fixes
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

more ci improvements
  .github/workflows/release.yml
  README.md
  docs/ARCHITECTURE.md
  scripts/changeset-publish-resolved-workspaces.mjs
Due: none

chore: trim MathQuill hacks and print/options backwards compat
  README.md
  docs/PRINT_SUPPORT.md
  docs/SYNC_TRANSFORMS.md
  packages/elements-react/complex-rubric/src/print/index.ts
  packages/elements-react/ebsr/src/print/index.tsx
  packages/elements-react/explicit-constructed-response/src/print/index.tsx
  packages/elements-react/extended-text-entry/src/delivery/index.ts
  packages/elements-react/extended-text-entry/src/print/index.tsx
  packages/elements-react/math-inline/src/delivery/main.tsx
  packages/elements-react/math-inline/src/print/index.tsx
  packages/elements-react/math-templated/src/delivery/main.tsx
  packages/elements-react/math-templated/src/print/index.tsx
  packages/elements-react/multiple-choice/src/print/index.tsx
  packages/elements-react/passage/src/print/index.tsx
  packages/elements-react/rubric/src/print/index.tsx
  packages/elements-react/select-text/src/print/index.tsx
  packages/lib-react/config-ui/src/choice-configuration/index.tsx
  packages/lib-react/config-ui/src/feedback-config/feedback-selector.tsx
  packages/lib-react/drag/src/preview-component.tsx
  packages/lib-react/graphing/src/tools/line/component.tsx
  packages/lib-react/graphing/src/tools/ray/component.tsx
  packages/lib-react/graphing/src/tools/shared/arrow-head.tsx
  packages/lib-react/graphing/src/tools/shared/styles.ts
  packages/lib-react/math-input/src/mq/input.tsx
  packages/lib-react/math-input/src/mq/static.tsx
  packages/lib-react/math-toolbar/src/editor-and-pad.tsx
  packages/lib-react/rubric/src/authoring.tsx
  packages/print-player/README.md
  packages/print-player/USAGE_EXAMPLE.md
  packages/print-player/dev/index.html
  packages/print-player/src/pie-print.ts
  packages/print-player/src/types.ts
  tools/cli/src/lib/upstream/sync-imports.ts
  tools/cli/src/lib/upstream/sync-transforms.ts
Due: lint, types

chore: add baseline e2e harness and findings snapshot
  apps/element-demo/test/e2e/baseline-all-elements.spec.ts
  docs/e2e-baseline-findings-2026-03-20.md
Due: lint, types

chore: remediate baseline matrix and narrow remaining failures
  apps/element-demo/test/e2e/baseline-all-elements.spec.ts
  docs/e2e-baseline-findings-2026-03-20.md
Due: lint, types

chore: dedupe baseline gather handling and close remaining failures
  apps/element-demo/test/e2e/baseline-all-elements.spec.ts
  docs/e2e-baseline-findings-2026-03-20.md
Due: lint, types

fix upstream sync parity for ESM and dry-run safety
  tools/cli/src/commands/upstream/sync.ts
  tools/cli/src/commands/upstream/update.ts
  tools/cli/src/lib/upstream/sync-controllers-strategy.ts
  tools/cli/src/lib/upstream/sync-imports.ts
  tools/cli/src/lib/upstream/sync-package-manager.ts
  tools/cli/src/lib/upstream/sync-pielib-strategy.ts
  tools/cli/src/lib/upstream/sync-react-strategy.ts
  tools/cli/src/lib/upstream/sync-strategy.ts
  tools/cli/tests/sync-dry-run-guard.test.ts
  tools/cli/tests/sync-package-manager.test.ts
  tools/cli/tests/transform-configure-lib-imports.test.ts
Due: lint, types

chore: refresh compatibility report snapshot
  .compatibility/report.json
Due: none

fix baseline e2e runtime guards and charting ESM interop
  apps/element-demo/test/e2e/baseline-all-elements.spec.ts
  packages/lib-react/charting/src/mark-label.tsx
Due: lint, types

chore: apply formatter follow-up in baseline spec
  apps/element-demo/test/e2e/baseline-all-elements.spec.ts
Due: lint, types

refactor: centralize upstream sync compatibility presets
  .compatibility/report.json
  bun.lock
  packages/lib-react/charting/src/mark-label.tsx
  packages/lib-react/correct-answer-toggle/src/index.tsx
  packages/lib-react/graphing/src/mark-label.tsx
  packages/lib-react/graphing/src/tools/shared/point/base-point.tsx
  packages/lib-react/render-ui/src/preview-prompt.tsx
  tools/cli/src/commands/upstream/sync.ts
  tools/cli/src/lib/upstream/sync-imports.ts
  tools/cli/src/lib/upstream/sync-package-manager.ts
  tools/cli/src/lib/upstream/sync-pielib-strategy.ts
  tools/cli/src/lib/upstream/sync-presets.ts
  tools/cli/src/lib/upstream/sync-vite-config.ts
  tools/cli/tests/sync-presets.test.ts
  tools/cli/tests/sync-vite-config.test.ts
Due: lint, types

fix: make autosize interop patch idempotent
  bun.lock
  packages/lib-react/charting/src/mark-label.tsx
  packages/lib-react/graphing/src/mark-label.tsx
  tools/cli/src/lib/upstream/sync-presets.ts
Due: lint, types

fix: dedupe autosize interop declarations in sync patches
  bun.lock
  packages/lib-react/charting/src/mark-label.tsx
  packages/lib-react/graphing/src/mark-label.tsx
  tools/cli/src/lib/upstream/sync-presets.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,svelte}
  types: any of: *.{ts,tsx}
