Repository pie-framework/pie-elements-ng: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: bun run lint:fix {staged_files}

types:
  run: bunx tsc --noEmit

docs(agents): name the type-check and merge-gate commands that exist
  .agents/skills/pie-element-author/SKILL.md
  .claude/skills/pie-element-author/SKILL.md
  AGENTS.md
  README.md
Due: none

test: raise timeouts on tests that load webpack, scan builds or run git
  packages/shared/bundler-shared/tests/webpack-config.test.ts
  tests/release-synthesize-changesets.test.ts
  tests/svelte-leak.test.ts
Due: lint, types

fix(shared-lodash): conform isEqual, range, merge, max and find to lodash 4.17
  .changeset/20261005-shared-lodash-conformance.md
  bun.lock
  packages/elements-react/graphing-solution-set/tests/controller-outcome.test.ts
  packages/shared/lodash/package.json
  packages/shared/lodash/src/index.ts
  packages/shared/lodash/tests/lodash.test.ts
Due: lint, types

fix(hooks): type-check each staged package in pre-commit
  lefthook.yml
  scripts/type-check-staged.mjs
  tests/type-check-staged.test.ts
Due: lint, types

test: raise timeouts on more tests that read many files or spawn processes
  packages/lib-react/math-input/test/public-api.test.ts
  tests/esm-output.test.ts
  tests/node-esm-controllers.test.ts
  tests/pie-token-contract.test.ts
  tests/release-record-pr-changeset.test.ts
  tests/translator-declarations.test.ts
Due: lint, types

fix(number-line): stop writing item feedback into the controller defaults
  .changeset/20261005-number-line-default-feedback.md
  packages/elements-react/number-line/src/controller/index.ts
  packages/elements-react/number-line/tests/controller-defaults.test.ts
Due: lint, types

fix(number-line): stop the author view writing into its defaults
  .changeset/20261005-number-line-author-defaults.md
  packages/elements-react/number-line/src/author/__tests__/defaults.test.ts
  packages/elements-react/number-line/src/author/index.ts
Due: lint, types

fix(number-line): re-render the author view after a configuration change
  .changeset/20261005-number-line-author-configuration-change.md
  packages/elements-react/number-line/src/author/__tests__/configuration.test.ts
  packages/elements-react/number-line/src/author/index.ts
Due: lint, types

fix(number-line): copy the host's configuration in the author view
  .changeset/20261005-number-line-author-defaults.md
  packages/elements-react/number-line/src/author/__tests__/defaults.test.ts
  packages/elements-react/number-line/src/author/index.ts
Due: lint, types

fix(shared-lodash): port the remaining helpers from lodash 4.17
  .changeset/20261005-shared-lodash-remaining-helpers.md
  packages/shared/lodash/src/index.ts
  packages/shared/lodash/tests/lodash.test.ts
Due: lint, types

chore(turbo): opt out of turbo's agent guidance block in AGENTS.md
  turbo.json
Due: none

docs(math-rendering): describe what preloaded-player builds install
  docs/MATH-RENDERING.md
Due: none

ci: skip code checks for documentation-only changes
  .github/workflows/a11y.yml
  .github/workflows/ci.yml
  .lefthook/pre-push/pre-push-gate.sh
  AGENTS.md
  lefthook.yml
  scripts/ci-change-scope.mjs
  scripts/lib/change-scope.mjs
  scripts/pre-push-gate.mjs
  tests/change-scope.test.ts
Due: lint, types

chore(deps): move tiptap overrides, lockfile and single-copy guard to 3.31.4
  bun.lock
  package.json
  tests/editor-single-copy.test.ts
Due: lint, types

fix(number-line): show and announce each evaluated element's correctness
  docs/a11y/number-line.md
  packages/elements-react/number-line/src/delivery/number-line/__tests__/graph-description.test.tsx
  packages/elements-react/number-line/src/delivery/number-line/graph/description.ts
  packages/elements-react/number-line/src/delivery/number-line/graph/elements/correctness-mark.tsx
  packages/elements-react/number-line/src/delivery/number-line/graph/elements/line.tsx
  packages/elements-react/number-line/src/delivery/number-line/graph/elements/point.tsx
  packages/elements-react/number-line/src/delivery/number-line/graph/elements/ray.tsx
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
Due: lint, types

fix(match): make each radio-mode match row one radio group
  .changeset/20261005-match-radio-row-groups.md
  bun.lock
  docs/a11y/match.md
  packages/elements-react/match/package.json
  packages/elements-react/match/src/delivery/__tests__/answer-grid.test.tsx
  packages/elements-react/match/src/delivery/__tests__/match.test.tsx
  packages/elements-react/match/src/delivery/answer-grid.tsx
Due: types

fix(render-ui): make feedback and correctness colours readable under every scheme
  docs/a11y/theme-gap-inventory.md
  packages/elements-react/multiple-choice/src/delivery/__tests__/multiple-choice-error-text.test.tsx
  packages/elements-react/multiple-choice/src/delivery/multiple-choice.tsx
  packages/elements-react/number-line/src/delivery/number-line/__tests__/feedback.test.tsx
  packages/lib-react/render-ui/src/color.ts
  packages/lib-react/render-ui/tests/color-over-background.test.ts
  packages/lib-react/render-ui/tests/contrast.ts
  packages/lib-react/render-ui/tests/status-color-fallbacks.test.ts
Due: lint, types

fix(theming): keep the CORRECT and INCORRECT defaults in step with render-ui
  packages/shared/theming/src/constants.ts
Due: lint, types

fix(charting): make bars, columns and drag handles keyboard-operable sliders
  docs/a11y/charting.md
  packages/lib-react/charting/src/__tests__/mark-slider.test.tsx
  packages/lib-react/charting/src/axes.tsx
  packages/lib-react/charting/src/bars/common/bars.tsx
  packages/lib-react/charting/src/chart.tsx
  packages/lib-react/charting/src/common/mark-slider.tsx
  packages/lib-react/charting/src/line/common/line.tsx
  packages/lib-react/charting/src/mark-label.tsx
  packages/lib-react/charting/src/plot/common/plot.tsx
  packages/lib-react/charting/src/utils.ts
  packages/lib-react/plot/src/__tests__/keyboard.test.ts
  packages/lib-react/plot/src/index.ts
  packages/lib-react/plot/src/keyboard.ts
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
Due: lint, types

fix(multiple-choice): draw the choice focus ring on the THEMING.md focus chain
  packages/elements-react/multiple-choice/src/delivery/__tests__/choice-input-focus.test.tsx
  packages/elements-react/multiple-choice/src/delivery/choice-input.tsx
  packages/lib-react/render-ui/src/color.ts
  packages/lib-react/render-ui/tests/color-focus-outline.test.ts
  tests/pie-token-contract.test.ts
Due: lint, types

fix(mask-markup): outline the inline-dropdown combobox on keyboard focus
  packages/lib-react/mask-markup/src/components/__tests__/dropdown.test.tsx
  packages/lib-react/mask-markup/src/components/dropdown.tsx
Due: types

fix(math-input): theme the keypad focus ring, key ink and MathQuill ink
  packages/lib-react/math-input/src/keypad/index.tsx
  packages/lib-react/math-input/src/mq/common-mq-styles.ts
  packages/lib-react/math-input/src/mq/input.tsx
  packages/lib-react/math-input/src/mq/static.tsx
  packages/lib-react/math-input/test/keypad-theme.test.tsx
  packages/lib-react/math-input/test/mq-ink.test.tsx
  packages/lib-react/render-ui/src/color.ts
  packages/lib-react/render-ui/tests/color-over-background.test.ts
Due: lint, types

fix(math-rendering-mathjax): theme the explorer highlight and speech regions
  packages/shared/math-rendering-mathjax/src/adapter.ts
  packages/shared/math-rendering-mathjax/src/explorer-styles.ts
  packages/shared/math-rendering-mathjax/tests/browser/explorer-theme.spec.ts
  packages/shared/math-rendering-mathjax/tests/explorer-styles.test.ts
Due: lint, types

docs(a11y): record the PIE-1200 focus and ink fixes
  docs/MATH-RENDERING.md
  docs/a11y/ebsr.md
  docs/a11y/explicit-constructed-response.md
  docs/a11y/extended-text-entry.md
  docs/a11y/inline-dropdown.md
  docs/a11y/math-inline.md
  docs/a11y/math-templated.md
  docs/a11y/multiple-choice.md
  docs/a11y/theme-gap-inventory.md
Due: none

fix(theming): make the light preset's --pie-missing readable as text
  packages/element-theme/test/theme-elements.test.ts
  packages/shared/theming/src/pie-themes.ts
Due: lint, types

fix(multiple-choice, match-list): draw correctness marks in the status colours
  docs/a11y/theme-gap-inventory.md
  packages/elements-react/match-list/src/delivery/__tests__/answer.test.tsx
  packages/elements-react/match-list/src/delivery/answer.tsx
  packages/elements-react/multiple-choice/src/delivery/__tests__/feedback-tick.test.tsx
  packages/elements-react/multiple-choice/src/delivery/feedback-tick.tsx
  packages/shared/theming/src/constants.ts
Due: lint, types

style(element-theme): format the --pie-missing contrast test
  packages/element-theme/test/theme-elements.test.ts
Due: lint, types

fix(mc-populated-blank): store the pick in value, as multiple-choice does
  .changeset/20261005-mc-populated-blank-value-session.md
  apps/element-a11y-demo/src/lib/samples/mc-populated-blank.json
  apps/element-demo/src/lib/samples/mc-populated-blank.json
  apps/element-demo/test/e2e/mc-populated-blank-correct-answer.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-interaction.spec.ts
  packages/elements-svelte/mc-populated-blank/README.md
  packages/elements-svelte/mc-populated-blank/src/controller/index.test.ts
  packages/elements-svelte/mc-populated-blank/src/controller/index.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.header.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.session.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/index.ts
  packages/elements-svelte/mc-populated-blank/src/shared/session.ts
  packages/elements-svelte/mc-populated-blank/src/shared/types.ts
  packages/elements-svelte/mc-populated-blank/tests/delivery-audio-session.test.ts
  packages/lib-svelte/delivery-events/tests/delivery-session-contract.test.ts
Due: lint, types

fix(element-demo): navigate and load samples under SvelteKit 3
  apps/element-demo/src/routes/[element]/+layout.svelte
  apps/element-demo/src/routes/[element]/+layout.ts
  apps/element-demo/src/routes/[element]/+page.ts
Due: lint, types

docs(math-rendering): describe the per-element MathJax that browser builds bundle
  docs/IIFE-BUNDLE-ARCHITECTURE.md
  docs/MATH-RENDERING.md
  packages/shared/math-rendering-mathjax/src/index.ts
Due: lint, types

fix(categorize): rank the source category last and light only the real drop target while dragging PIE-1103
  packages/elements-react/categorize/src/delivery/categorize/__tests__/collision-detection.test.ts
  packages/elements-react/categorize/src/delivery/categorize/__tests__/droppable-placeholder.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/collision-detection.ts
  packages/elements-react/categorize/src/delivery/categorize/droppable-placeholder.tsx
Due: lint, types

feat(math-rendering): load MathJax's assets from a configurable npm root
  .changeset/pie-1227-mathjax-asset-root.md
  apps/element-a11y-demo/src/app.html
  apps/element-demo/src/app.html
  docs/MATH-RENDERING.md
  packages/shared/math-rendering-mathjax/package.json
  packages/shared/math-rendering-mathjax/src/adapter.ts
  packages/shared/math-rendering-mathjax/src/assets.ts
  packages/shared/math-rendering-mathjax/src/engine/bundled.ts
  packages/shared/math-rendering-mathjax/src/engine/bundled/assets.d.ts
  packages/shared/math-rendering-mathjax/src/engine/bundled/mathjax.ts
  packages/shared/math-rendering-mathjax/src/engine/page.ts
  packages/shared/math-rendering-mathjax/src/index.ts
  packages/shared/math-rendering-mathjax/src/speech-worker.ts
  packages/shared/math-rendering-mathjax/src/types.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
  packages/shared/math-rendering-mathjax/tests/browser/assets.spec.ts
  packages/shared/math-rendering-mathjax/tests/browser/bundled-engine.spec.ts
  packages/shared/math-rendering-mathjax/tests/browser/csp.spec.ts
  packages/shared/math-rendering-mathjax/tests/browser/harness.ts
  packages/shared/math-rendering-mathjax/tests/browser/retained-math.spec.ts
  packages/shared/math-rendering-mathjax/tests/browser/svg-output.spec.ts
  packages/shared/math-rendering-mathjax/tests/speech-worker.test.ts
  packages/shared/math-rendering-mathjax/vite.browser.config.ts
  packages/shared/math-rendering-mathjax/vite.config.ts
  packages/shared/math-rendering-mathjax/vite.no-cdn.ts
Due: lint, types

feat(math-rendering): take each MathJax file's URL from assetUrls
  .changeset/pie-1227-mathjax-asset-root.md
  docs/MATH-RENDERING.md
  packages/shared/math-rendering-mathjax/src/assets.ts
  packages/shared/math-rendering-mathjax/src/engine/bundled/mathjax.ts
  packages/shared/math-rendering-mathjax/src/speech-worker.ts
  packages/shared/math-rendering-mathjax/src/types.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
  packages/shared/math-rendering-mathjax/tests/browser/assets.spec.ts
  packages/shared/math-rendering-mathjax/tests/browser/harness.ts
  packages/shared/math-rendering-mathjax/tests/speech-worker.test.ts
Due: lint, types

fix(drag): keep the drag-in-the-blank choice tray inside its column (PIE-1233)
  .changeset/20261006-ditb-choice-tray-width.md
  packages/lib-react/drag/src/__tests__/drag-in-the-blank-dp.test.tsx
  packages/lib-react/drag/src/drag-in-the-blank-dp.tsx
Due: types

fix(mask-markup): no spacers around blanks in table cells (PIE-1232)
  .changeset/20261006-ditb-table-cell-spacers.md
  packages/lib-react/mask-markup/src/__tests__/mask-spacers.test.tsx
  packages/lib-react/mask-markup/src/mask.tsx
Due: types

fix(mask-markup): tiles and filled blanks take line-height normal (PIE-1234)
  .changeset/20261006-ditb-chip-line-height.md
  packages/lib-react/mask-markup/src/choices/__tests__/choice-theme.test.tsx
  packages/lib-react/mask-markup/src/choices/choice.tsx
  packages/lib-react/mask-markup/src/components/__tests__/blank.test.tsx
  packages/lib-react/mask-markup/src/components/blank.tsx
Due: types

fix(categorize): the choice tray keeps its own layout styles (PIE-1235)
  .changeset/20261006-categorize-choice-board-layout.md
  packages/elements-react/categorize/src/delivery/categorize/__tests__/droppable-placeholder.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/droppable-placeholder.tsx
Due: types

fix(render-ui): prompt table rules match inside the player's table wrapper (PIE-1236)
  .changeset/20261006-prompt-table-wrapper.md
  packages/lib-react/render-ui/src/preview-prompt.tsx
  packages/lib-react/render-ui/tests/preview-prompt-table-wrapper.test.tsx
Due: types

Path conditions:
  lint: any of: *.{js,ts,svelte}
  types: any of: *.{ts,tsx}
