Repository pie-framework/pie-elements-ng: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: bun run lint:fix {staged_files}

types:
  run: bunx tsc --noEmit

fix(math-rendering-mathjax): start the MathJax load on the first render
  .changeset/20260927-mathjax-load-on-first-render.md
  docs/MATH-RENDERING.md
  packages/shared/math-rendering-mathjax/src/adapter.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
Due: lint, types

docs(math-rendering-mathjax): preloaded elements typeset through the adapter
  docs/MATH-RENDERING.md
Due: none

fix(elements-react): make IIFE prop-types and debug shims match production behaviour
  .changeset/20260928-react-element-iife-shims.md
  packages/elements-react/categorize/vite.config.iife.ts
  packages/elements-react/charting/vite.config.iife.ts
  packages/elements-react/complex-rubric/vite.config.iife.ts
  packages/elements-react/drag-in-the-blank/vite.config.iife.ts
  packages/elements-react/drawing-response/vite.config.iife.ts
  packages/elements-react/ebsr/vite.config.iife.ts
  packages/elements-react/explicit-constructed-response/vite.config.iife.ts
  packages/elements-react/extended-text-entry/vite.config.iife.ts
  packages/elements-react/fraction-model/vite.config.iife.ts
  packages/elements-react/graphing-solution-set/vite.config.iife.ts
  packages/elements-react/graphing/vite.config.iife.ts
  packages/elements-react/hotspot/vite.config.iife.ts
  packages/elements-react/image-cloze-association/vite.config.iife.ts
  packages/elements-react/inline-dropdown/vite.config.iife.ts
  packages/elements-react/likert/vite.config.iife.ts
  packages/elements-react/match-list/vite.config.iife.ts
  packages/elements-react/match/vite.config.iife.ts
  packages/elements-react/math-inline/vite.config.iife.ts
  packages/elements-react/math-templated/vite.config.iife.ts
  packages/elements-react/matrix/vite.config.iife.ts
  packages/elements-react/multi-trait-rubric/vite.config.iife.ts
  packages/elements-react/multiple-choice/vite.config.iife.ts
  packages/elements-react/number-line/vite.config.iife.ts
  packages/elements-react/passage/vite.config.iife.ts
  packages/elements-react/placement-ordering/vite.config.iife.ts
  packages/elements-react/rubric/vite.config.iife.ts
  packages/elements-react/select-text/vite.config.iife.ts
  tools/cli/src/lib/upstream/sync-constants.ts
  tools/cli/src/lib/upstream/sync-react-strategy.ts
  tools/cli/tests/iife-shims.test.ts
  tools/cli/tests/sync-react-strategy.test.ts
Due: lint, types

fix(element-theme-daisyui): emit declarations at the types entry point; fail publish-surface on unpacked entry targets
  .changeset/20260928-element-theme-daisyui-types.md
  packages/element-theme-daisyui/tsconfig.json
  scripts/check-publish-surface.mjs
  tests/package-inspection.test.ts
Due: lint, types

fix(elements-svelte): make shipped declarations resolve without dev dependencies or bundler resolution
  .changeset/20260928-declaration-imports-resolve.md
  bun.lock
  packages/element-player/src/lib/element-loader.ts
  packages/element-player/src/lib/unified-player-loader.ts
  packages/elements-svelte/mc-populated-blank/package.json
  packages/elements-svelte/mc-populated-blank/src/author/defaults.ts
  packages/elements-svelte/mc-populated-blank/src/controller/defaults.ts
  packages/elements-svelte/mc-populated-blank/src/controller/index.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/computeLayoutStyle.ts
  packages/elements-svelte/mc-populated-blank/src/index.iife.ts
  packages/elements-svelte/mc-populated-blank/src/index.ts
  packages/elements-svelte/mc-populated-blank/src/print/preparePrint.ts
  packages/elements-svelte/mc-populated-blank/src/shared/types.ts
  packages/elements-svelte/simple-cloze/package.json
  packages/elements-svelte/simple-cloze/src/controller/index.ts
  packages/elements-svelte/simple-cloze/src/index.iife.ts
  packages/elements-svelte/simple-cloze/src/index.ts
  packages/elements-svelte/venn-classification/package.json
  scripts/check-publish-surface.mjs
  tests/package-inspection.test.ts
Due: lint, types

fix(translator): declare Translator over i18n without its conflicting t signature
  .changeset/20260928-translator-declaration.md
  packages/shared/translator/src/index.ts
  tests/translator-declarations.test.ts
Due: lint, types

test(touch): cover graph dragging with touch input (PIE-1087)
  .changeset/20260928103000-pie-lib-test-utils-touch-helpers.md
  .github/workflows/ci.yml
  apps/element-demo/playwright.config.ts
  apps/element-demo/test/e2e/graph-elements.touch.spec.ts
  apps/element-demo/test/e2e/touch-helpers.ts
  bun.lock
  package.json
  packages/lib-react/plot/package.json
  packages/lib-react/plot/test/grid-draggable-touch.test.tsx
  packages/lib-react/plot/vite.config.ts
  packages/lib-react/test-utils/src/index.tsx
  packages/lib-react/test-utils/src/touch.ts
Due: lint, types

chore(element-player): remove unused panel components and types
  packages/element-player/src/components/ModeSelector.svelte
  packages/element-player/src/components/ModelPanel.svelte
  packages/element-player/src/components/ScoringPanel.svelte
  packages/element-player/src/components/SessionPanel.svelte
  packages/element-player/src/components/Tabs.svelte
  packages/element-player/src/index.ts
  packages/element-player/src/lib/math-rendering-types.ts
  packages/element-player/src/lib/types.ts
Due: lint, types

fix(elements-react): declare React as a dependency only, with no peer
  .changeset/20260928-element-react-dependency-only.md
  AGENTS.md
  bun.lock
  docs/PIE_ELEMENT_CONTRACT.md
  packages/elements-react/categorize/package.json
  packages/elements-react/charting/package.json
  packages/elements-react/complex-rubric/package.json
  packages/elements-react/drag-in-the-blank/package.json
  packages/elements-react/drawing-response/package.json
  packages/elements-react/ebsr/package.json
  packages/elements-react/explicit-constructed-response/package.json
  packages/elements-react/extended-text-entry/package.json
  packages/elements-react/fraction-model/package.json
  packages/elements-react/graphing-solution-set/package.json
  packages/elements-react/graphing/package.json
  packages/elements-react/hotspot/package.json
  packages/elements-react/image-cloze-association/package.json
  packages/elements-react/inline-dropdown/package.json
  packages/elements-react/likert/package.json
  packages/elements-react/match-list/package.json
  packages/elements-react/match/package.json
  packages/elements-react/math-inline/package.json
  packages/elements-react/math-templated/package.json
  packages/elements-react/matrix/package.json
  packages/elements-react/multi-trait-rubric/package.json
  packages/elements-react/multiple-choice/package.json
  packages/elements-react/number-line/package.json
  packages/elements-react/passage/package.json
  packages/elements-react/placement-ordering/package.json
  packages/elements-react/rubric/package.json
  packages/elements-react/select-text/package.json
  scripts/check-publish-surface.mjs
  tests/package-inspection.test.ts
  tools/cli/src/commands/packages/create-react-elements.ts
  tools/cli/src/commands/packages/init-synced-elements.ts
  tools/cli/src/lib/upstream/sync-constants.ts
  tools/cli/src/lib/upstream/sync-package-manager.ts
  tools/cli/tests/sync-package-manager.test.ts
Due: lint, types

chore(cli): remove dead sync helpers and stop syncing unreachable upstream files
  .changeset/20260928-remove-unused-code.md
  docs/INLINE-MENU-TRANSFORM.md
  docs/SYNC_TRANSFORMS.md
  packages/elements-react/graphing/src/delivery/utils.ts
  packages/elements-react/image-cloze-association/src/delivery/constants.ts
  packages/elements-react/likert/src/delivery/session-updater.ts
  packages/elements-react/match/src/author/common.tsx
  packages/elements-react/matrix/src/delivery/session-updater.ts
  packages/elements-react/number-line/src/delivery/number-line/point-chooser/styles.ts
  packages/elements-react/placement-ordering/src/author/help.tsx
  packages/lib-react/charting/src/tool-menu.tsx
  packages/lib-react/drag/src/drag-type.ts
  packages/lib-react/drag/src/preview-component.tsx
  packages/lib-react/editable-html-tip-tap/src/components/media/MediaWrapper.tsx
  packages/lib-react/editable-html-tip-tap/src/styles/editorContainerStyles.ts
  packages/lib-react/editable-html-tip-tap/src/theme.ts
  packages/lib-react/graphing-solution-set/src/toggle-bar.tsx
  packages/lib-react/graphing-solution-set/src/tools/polygon/line.tsx
  packages/lib-react/graphing-solution-set/src/tools/shared/line/line-path.tsx
  packages/lib-react/graphing-solution-set/src/tools/shared/line/with-root-edge.tsx
  packages/lib-react/mask-markup/src/components/correct-input.tsx
  packages/lib-react/mask-markup/src/components/input.tsx
  packages/lib-react/math-input/src/math-input.tsx
  tools/cli/src/lib/upstream/sync-compatibility.ts
  tools/cli/src/lib/upstream/sync-constants.ts
  tools/cli/src/lib/upstream/sync-imports.ts
  tools/cli/src/lib/upstream/sync-package-json.ts
  tools/cli/src/lib/upstream/sync-source-tree.ts
  tools/cli/src/lib/upstream/sync-vite-config.ts
  tools/cli/src/utils/compatibility.ts
  tools/cli/src/utils/conversion.ts
  tools/cli/src/utils/git.ts
  tools/cli/tests/sync-source-tree.test.ts
Due: lint, types

chore: remove retired print-player and bundler-shared packages, stale files and unused dependencies
  apps/element-a11y-demo/package.json
  apps/learnosity-parity-demo/package.json
  bun.lock
  docs/PRINT_SUPPORT.md
  docs/img/element-loading-flow-1-1769534134386.jpg
  docs/img/high-level-architecture-1-1769797925382.jpg
  docs/img/import-resolution-flow-1-1769534170644.jpg
  docs/img/two-server-architecture-1-1769534102818.jpg
  docs/img/unified-architecture-comparison-1-1769801122632.jpg
  docs/img/unified-component-architecture-1-1769797855505.jpg
  package.json
  packages/lib-react/math-toolbar/test/editor-and-pad.test.ts
  packages/print-player/CHANGELOG.md
  packages/print-player/README.md
  packages/print-player/bun.lock
  packages/print-player/dev/index.html
  packages/print-player/package.json
  packages/print-player/src/ce-registry.ts
  packages/print-player/src/element-resolver.ts
  packages/print-player/src/index.ts
  packages/print-player/src/markup-processor.ts
  packages/print-player/src/pie-print.ts
  packages/print-player/src/types.ts
  packages/print-player/tsconfig.json
  packages/print-player/vite.config.ts
  packages/shared/bundler-shared-compat/CHANGELOG.md
  packages/shared/bundler-shared-compat/README.md
  packages/shared/bundler-shared-compat/index.d.ts
  packages/shared/bundler-shared-compat/index.js
  packages/shared/bundler-shared-compat/package.json
  packages/shared/bundler-shared-compat/types.d.ts
  packages/shared/bundler-shared-compat/types.js
  scripts/configure-trusted-publishers.mjs
  tools/cli/.compatibility/report.json
  tools/cli/packages/cli/bin/dev.js
  tools/cli/packages/cli/bin/run.js
Due: lint, types

docs(prd): propose a shared browser runtime for element browser builds
  docs/prds/shared-browser-runtime/PRD.md
Due: none

docs(prd): accept the shared browser runtime as the replacement for ./browser/*
  docs/prds/shared-browser-runtime/PRD.md
Due: none

docs(math-rendering): point to the one-MathJax-per-page support rule
  docs/MATH-RENDERING.md
Due: none

fix(editable-html-tip-tap): pin Tiptap's menu extensions to the rest of the set (PIE-1110)
  .changeset/20260928-pie-1110-tiptap-menus-pinned.md
  bun.lock
  packages/lib-react/editable-html-tip-tap/package.json
  tests/editor-single-copy.test.ts
  tools/cli/src/lib/upstream/sync-package-manager.ts
  tools/cli/tests/sync-package-manager.test.ts
Due: lint, types

fix(math-rendering-mathjax): keep MathJax 4 output intact beside MathJax 3
  .changeset/20260928-mathjax-coexistence-hardening.md
  bun.lock
  packages/shared/math-rendering-mathjax/package.json
  packages/shared/math-rendering-mathjax/playwright.config.ts
  packages/shared/math-rendering-mathjax/src/adapter.ts
  packages/shared/math-rendering-mathjax/src/index.ts
  packages/shared/math-rendering-mathjax/src/render-math.ts
  packages/shared/math-rendering-mathjax/src/unsupported-page.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
  packages/shared/math-rendering-mathjax/tests/browser/mathjax-coexistence.spec.ts
Due: lint, types

chore(deps): move prosemirror packages to their latest releases (PIE-1113)
  bun.lock
  package.json
Due: none

fix(elements-react): clear React roots on disconnect
  .changeset/clear-react-roots-on-disconnect.md
  packages/elements-react/categorize/src/delivery/index.ts
  packages/elements-react/categorize/tests/delivery-reconnect.test.ts
  packages/elements-react/explicit-constructed-response/src/print/index.tsx
  packages/elements-react/extended-text-entry/src/print/index.tsx
  packages/elements-react/math-inline/src/print/index.tsx
  packages/elements-react/math-templated/src/print/index.tsx
  packages/elements-react/multiple-choice/src/delivery/index.ts
  packages/elements-react/multiple-choice/src/print/index.tsx
  packages/elements-react/multiple-choice/tests/print-reconnect.test.ts
  packages/elements-react/passage/src/print/index.tsx
  packages/elements-react/rubric/src/delivery/index.ts
  packages/elements-react/rubric/src/print/index.tsx
  packages/elements-react/rubric/tests/delivery-reconnect.test.ts
  packages/elements-react/select-text/src/print/index.tsx
Due: lint, types

chore: fold @pie-lib/controller-utils into shared-controller-utils
  .changeset/20260925021601-pie-element-categorize-pie-element-chart.md
  .changeset/pie-1041-move-lib-versions-off-contested-bases.md
  .changeset/vendored-lodash-runtime.md
  bun.lock
  packages/lib-react/controller-utils/CHANGELOG.md
  packages/lib-react/controller-utils/package.json
  packages/lib-react/controller-utils/src/index.ts
  packages/lib-react/controller-utils/src/partial-scoring.ts
  packages/lib-react/controller-utils/src/persistence.ts
  packages/lib-react/controller-utils/tsconfig.json
  packages/lib-react/controller-utils/vite.config.ts
  tools/cli/src/commands/upstream/README.md
  tools/cli/src/commands/upstream/analyze-esm.ts
  tools/cli/src/commands/upstream/sync.ts
  tools/cli/src/lib/upstream/sync-constants.ts
  tools/cli/tests/workspace-pie-lib.test.ts
Due: lint, types

docs: correct stale demo, stack and packaging docs
  AGENTS.md
  apps/README.md
  apps/element-demo/DEV_BUNDLER.md
  apps/esm-player-test/README.md
  docs/ARCHITECTURE.md
  docs/DEMO_SYSTEM.md
  docs/PACKAGING_ARCHITECTURE.md
  docs/PRINT_SUPPORT.md
  docs/PUBLISHING.md
  docs/migration/UPSTREAM_SYNC_GUIDE.md
  docs/prds/_template.md
  docs/prds/video-stimulus/PRD.md
  docs/why-a-new-project.md
  packages/element-player/README.md
  tools/cli/README.md
Due: none

fix(deps): drop unused react-test-renderer and change-case runtime dependencies
  .changeset/20260929-editable-html-tip-tap-drop-change-case.md
  .changeset/20260929-likert-drop-react-test-renderer.md
  bun.lock
  packages/elements-react/likert/package.json
  packages/lib-react/editable-html-tip-tap/package.json
Due: none

fix(cli): keep Svelte elements and curated samples in the demo metadata generator
  apps/element-demo/src/lib/elements/registry.ts
  docs/DEMO_SYSTEM.md
  docs/demo-configuration-guide.md
  tools/cli/src/lib/upstream/sync-demo-metadata.ts
Due: lint, types

refactor(mc-populated-blank): order choices with the shared controller-utils helpers
  .changeset/20260929-mc-populated-blank-shared-shuffle.md
  bun.lock
  packages/elements-svelte/mc-populated-blank/package.json
  packages/elements-svelte/mc-populated-blank/src/controller/index.ts
Due: lint, types

fix(math-rendering-mathjax): stop reporting delegation to the player's MathJax 3 as a conflict
  .changeset/20260929-mathjax-legacy-delegation-not-a-conflict.md
  packages/shared/math-rendering-mathjax/src/render-math.ts
  packages/shared/math-rendering-mathjax/src/unsupported-page.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
Due: lint, types

fix(release): version private packages again under changesets 3
  .changeset/config.json
Due: none

fix(release): update changesets action inputs for v2 (PIE-1114)
  .github/workflows/release.yml
Due: none

fix(release): skip lefthook on the changesets version commit and push (PIE-1114)
  .github/workflows/release.yml
Due: none

fix(editable-html-tip-tap): keep math toolbar open after insert (PIE-1115)
  apps/element-demo/test/e2e/editable-html-math-toolbar.spec.ts
  packages/lib-react/editable-html-tip-tap/src/extensions/math.tsx
  packages/lib-react/math-toolbar/src/editor-and-pad.tsx
Due: lint, types

test(media-svelte): run the sanitizer tests under a declared jsdom
  bun.lock
  packages/lib-svelte/media-svelte/package.json
  packages/lib-svelte/media-svelte/tests/Transcript.test.ts
  packages/lib-svelte/media-svelte/tests/media-support.test.ts
  packages/lib-svelte/media-svelte/vitest.config.ts
Due: lint, types

style(element-demo): format the math toolbar e2e spec (PIE-1115)
  apps/element-demo/test/e2e/editable-html-math-toolbar.spec.ts
Due: lint, types

refactor(video-stimulus): build and author the way develop's Svelte elements do
  bun.lock
  package.json
  packages/elements-svelte/video-stimulus/author.js
  packages/elements-svelte/video-stimulus/package.json
  packages/elements-svelte/video-stimulus/src/author/Author.svelte
  packages/elements-svelte/video-stimulus/src/author/index.ts
  packages/elements-svelte/video-stimulus/src/delivery/index.ts
  packages/elements-svelte/video-stimulus/src/types.ts
  packages/elements-svelte/video-stimulus/tests/author.test.ts
  packages/elements-svelte/video-stimulus/tests/delivery.test.ts
  packages/elements-svelte/video-stimulus/vite.author.config.ts
  packages/elements-svelte/video-stimulus/vite.config.iife.ts
  packages/elements-svelte/video-stimulus/vite.config.ts
  packages/elements-svelte/video-stimulus/vite.controller.config.ts
  packages/elements-svelte/video-stimulus/vite.delivery.config.ts
  packages/elements-svelte/video-stimulus/vite.runtime-support.config.ts
  packages/elements-svelte/video-stimulus/vitest.config.ts
  packages/lib-svelte/media-svelte/package.json
  packages/lib-svelte/media-svelte/src/types.ts
  packages/lib-svelte/media-svelte/tests/Transcript.test.ts
  packages/lib-svelte/media-svelte/tests/media-support.test.ts
  packages/lib-svelte/media-svelte/vitest.config.ts
  packages/shared/types/src/types.ts
Due: lint, types

fix(mc-populated-blank): bundle default audio play button SVGs
  .changeset/20260929120000-mc-populated-blank-play-button-svg.md
  biome.json
  packages/elements-svelte/mc-populated-blank/src/delivery/assets/audioButtonSkinAssets.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/assets/listen-playing-default.svg
  packages/elements-svelte/mc-populated-blank/src/delivery/assets/listen-playing-es.svg
  packages/elements-svelte/mc-populated-blank/src/delivery/assets/listen-silent-default.svg
  packages/elements-svelte/mc-populated-blank/src/delivery/assets/listen-silent-es.svg
  packages/elements-svelte/mc-populated-blank/src/delivery/computeDisplayState.ts
  packages/elements-svelte/mc-populated-blank/src/types/svg-raw.d.ts
Due: lint, types

fix(mc-populated-blank): place the prompt and correct-answer toggle above the stem (PIE-1116)
  .changeset/20260929-mc-populated-blank-header-row.md
  .changeset/20260929-mc-populated-blank-prompt-row.md
  apps/element-demo/src/lib/samples/mc-populated-blank.json
  apps/element-demo/test/e2e/mc-populated-blank-header-placement.spec.ts
  packages/elements-svelte/mc-populated-blank/README.md
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.header.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/computeLayoutProfile.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/computeLayoutProfile.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-s3.css
Due: lint, types

chore(changeset): fold the mc-populated-blank changesets into one
  .changeset/20260929-mc-populated-blank-header-row.md
  .changeset/20260929-mc-populated-blank-prompt-row.md
Due: none

perf(mc-populated-blank): optimize the bundled audio button SVGs (CONTOOL-3253)
  .changeset/20260929-mc-populated-blank-optimize-listen-svgs.md
  packages/elements-svelte/mc-populated-blank/src/delivery/assets/audioButtonSkinAssets.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/assets/listen-playing-default.svg
  packages/elements-svelte/mc-populated-blank/src/delivery/assets/listen-playing-es.svg
  packages/elements-svelte/mc-populated-blank/src/delivery/assets/listen-silent-default.svg
  packages/elements-svelte/mc-populated-blank/src/delivery/assets/listen-silent-es.svg
Due: lint, types

fix(number-line): allow touch dragging (PIE-1104)
  .changeset/20260930-number-line-touch-drag.md
  packages/elements-react/number-line/src/delivery/number-line/graph/index.tsx
Due: types

feat(select-text): use color.text() instead of mui colors and improve contrast for hover state color PIE-875 PIE-876
  .changeset/select-text-hover-page-ink.md
  packages/elements-react/math-templated/src/author/response.tsx
  packages/lib-react/editable-html-tip-tap/src/components/respArea/MathTemplated.tsx
  packages/lib-react/render-ui/src/color.ts
  packages/lib-react/text-select/src/token-select/token.tsx
  packages/shared/theming/src/constants.ts
  packages/shared/theming/src/pie-themes.ts
Due: lint, types

docs(mc-populated-blank): add layout wireframes to the README
  packages/elements-svelte/mc-populated-blank/README.md
  packages/elements-svelte/mc-populated-blank/docs/layouts/choice-rows.png
  packages/elements-svelte/mc-populated-blank/docs/layouts/layout-audio-blank-only.png
  packages/elements-svelte/mc-populated-blank/docs/layouts/layout-audio-mc-only.png
  packages/elements-svelte/mc-populated-blank/docs/layouts/layout-default-flow.png
  packages/elements-svelte/mc-populated-blank/docs/layouts/layout-inline-sentence-audio.png
  packages/elements-svelte/mc-populated-blank/docs/layouts/layout-narrow.png
  packages/elements-svelte/mc-populated-blank/docs/layouts/layout-stimulus-image-blank.png
  packages/elements-svelte/mc-populated-blank/docs/layouts/layout-token-sequence.png
Due: none

Path conditions:
  lint: any of: *.{js,ts,svelte}
  types: any of: *.{ts,tsx}
