Repository pie-framework/pie-elements-ng: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    dependency-integrity-fast:
      run: bun run verify:dependency-integrity --fail-on-hoist
    lint:
      glob: "*.{js,ts,svelte}"
      run: bun run lint:fix {staged_files}
    types:
      glob: "*.{ts,tsx}"
      run: bunx tsc --noEmit

pre-push:
  parallel: false
  commands:
    dependency-integrity-full:
      run: bun run verify:dependency-integrity --check-peer-gaps --fail-on-hoist --fail-on-peer
    test:
      run: bun run test
    build:
      run: bun run build

fix(charting): rotate long category labels on first render
  docs/a11y/charting.md
  packages/lib-react/charting/src/__tests__/label-rotation.test.tsx
  packages/lib-react/charting/src/axes.tsx
Due: types

fix(likert, matrix): make each likert scale and matrix row one radio group
  .changeset/20261004-likert-matrix-radio-groups.md
  bun.lock
  docs/a11y/likert.md
  docs/a11y/matrix.md
  packages/elements-react/likert/package.json
  packages/elements-react/likert/src/delivery/__tests__/likert.test.tsx
  packages/elements-react/likert/src/delivery/choice-input.tsx
  packages/elements-react/likert/src/delivery/likert.tsx
  packages/elements-react/matrix/package.json
  packages/elements-react/matrix/src/delivery/ChoiceInput.tsx
  packages/elements-react/matrix/src/delivery/Matrix.tsx
  packages/elements-react/matrix/src/delivery/__tests__/matrix.test.tsx
Due: types

fix: take the remaining element DOM ids from the shared unique-id helper
  bun.lock
  packages/elements-react/complex-rubric/package.json
  packages/elements-react/complex-rubric/src/author/__tests__/rubric-type.test.ts
  packages/elements-react/complex-rubric/src/author/index.ts
  packages/elements-react/complex-rubric/src/author/main.tsx
  packages/elements-react/complex-rubric/src/delivery/__tests__/rubric-ids.test.ts
  packages/elements-react/complex-rubric/src/delivery/index.ts
  packages/elements-react/complex-rubric/src/print/index.ts
  packages/elements-react/fraction-model/src/delivery/__tests__/answer-fraction-ids.test.tsx
  packages/elements-react/fraction-model/src/delivery/answer-fraction.tsx
  packages/elements-react/match-list/src/delivery/__tests__/answer-area.test.tsx
  packages/elements-react/match-list/src/delivery/__tests__/page-unique-ids.test.tsx
  packages/elements-react/match-list/src/delivery/answer-area.tsx
  packages/elements-react/match-list/src/delivery/main.tsx
  packages/elements-react/math-inline/package.json
  packages/elements-react/math-inline/src/author/__tests__/answer-block-embed.test.ts
  packages/elements-react/math-inline/src/author/general-config-block.tsx
  packages/elements-react/math-inline/src/delivery/__tests__/answer-block-ids.test.tsx
  packages/elements-react/math-inline/src/delivery/main.tsx
  packages/elements-react/multiple-choice/package.json
  packages/elements-react/multiple-choice/src/delivery/__tests__/choice-input-ids.test.tsx
  packages/elements-react/multiple-choice/src/delivery/choice-input.tsx
  packages/lib-react/charting/src/__tests__/page-unique-ids.test.tsx
  packages/lib-react/charting/src/bars/common/correct-check-icon.tsx
  packages/lib-react/charting/src/chart-type.tsx
  packages/lib-react/charting/src/chart.tsx
  packages/lib-react/charting/src/common/drag-handle.tsx
  packages/lib-react/graphing/src/__tests__/page-unique-ids.test.tsx
  packages/lib-react/graphing/src/graph.tsx
  packages/lib-react/graphing/src/tools/line/component.tsx
  packages/lib-react/graphing/src/tools/ray/component.tsx
  packages/lib-react/graphing/src/tools/shared/arrow-head.tsx
Due: lint, types

fix(charting): reserve room below the axis for rotated category labels
  docs/a11y/charting.md
  packages/lib-react/charting/src/__tests__/label-rotation.test.tsx
  packages/lib-react/charting/src/axes.tsx
  packages/lib-react/charting/src/chart.tsx
  packages/lib-react/charting/src/utils.ts
Due: lint, types

feat(extended-text-entry): add a plain-text paste setting for student responses (PIE-1145)
  .changeset/20261004-ete-plain-text-paste.md
  docs/prds/extended-text-entry/PRD.md
  packages/elements-react/extended-text-entry/src/author/__tests__/main.test.tsx
  packages/elements-react/extended-text-entry/src/author/defaults.ts
  packages/elements-react/extended-text-entry/src/author/main.tsx
  packages/elements-react/extended-text-entry/src/controller/defaults.ts
  packages/elements-react/extended-text-entry/src/controller/index.ts
  packages/elements-react/extended-text-entry/src/delivery/__tests__/main.test.tsx
  packages/elements-react/extended-text-entry/src/delivery/main.tsx
  packages/elements-react/extended-text-entry/tests/controller.test.ts
Due: lint, types

fix(config-ui): name each settings-panel switch by its label
  .changeset/20261004-config-ui-toggle-names.md
  bun.lock
  packages/elements-react/extended-text-entry/src/author/__tests__/main.test.tsx
  packages/lib-react/config-ui/package.json
  packages/lib-react/config-ui/src/settings/toggle.tsx
  packages/lib-react/config-ui/tests/settings-toggle.test.tsx
Due: types

docs(select-text): accept the keyboard token selection PRD
  docs/prds/select-text/PRD.md
Due: none

feat(select-text): select tokens from the keyboard (PIE-1165)
  packages/elements-react/select-text/src/delivery/main.tsx
  packages/lib-react/text-select/src/__tests__/token-select-keyboard.test.tsx
  packages/lib-react/text-select/src/text-select.tsx
  packages/lib-react/text-select/src/token-select/index.tsx
  packages/lib-react/text-select/src/token-select/token.tsx
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
  packages/shared/translator/tests/resources.test.ts
Due: lint, types

fix(a11y): raise non-text contrast on annotation outlines, the math Done check and transcript controls (PIE-1192)
  .changeset/20261004-non-text-contrast.md
  packages/elements-react/extended-text-entry/src/delivery/__tests__/annotation-theme.test.tsx
  packages/elements-react/extended-text-entry/src/delivery/annotation/annotation-menu.tsx
  packages/elements-react/extended-text-entry/src/delivery/annotation/annotation-utils.ts
  packages/elements-react/extended-text-entry/src/delivery/annotation/freeform-editor.tsx
  packages/elements-svelte/video-stimulus/src/delivery/VideoStimulus.svelte
  packages/elements-svelte/video-stimulus/tests/delivery-theme.test.ts
  packages/lib-react/math-toolbar/src/__tests__/done-button.test.tsx
  packages/lib-react/math-toolbar/src/done-button.tsx
  packages/lib-svelte/media-svelte/src/Transcript.svelte
  packages/lib-svelte/media-svelte/tests/Transcript-theme.test.ts
Due: lint, types

fix(element-a11y-demo): skip inline targets in target-size
  apps/element-a11y-demo/test/a11y/README.md
  apps/element-a11y-demo/test/a11y/axe-scenarios.spec.ts
Due: lint, types

docs(select-text): document keyboard token selection
  .changeset/20261004-select-text-keyboard.md
  docs/a11y/select-text.md
  docs/prds/select-text/PRD.md
  packages/elements-react/select-text/README.md
Due: none

fix(theming): mix math keypad and editable-html toolbar fills into the scheme background (PIE-1193)
  .changeset/20261004-dark-keypad-toolbar-fills.md
  packages/lib-react/editable-html-tip-tap/src/components/MenuBar.tsx
  packages/lib-react/editable-html-tip-tap/src/constants.ts
  packages/lib-react/editable-html-tip-tap/src/extensions/custom-toolbar-wrapper.tsx
  packages/lib-react/editable-html-tip-tap/src/extensions/image-component.tsx
  packages/lib-react/editable-html-tip-tap/src/extensions/math.tsx
  packages/lib-react/editable-html-tip-tap/test/toolbar-theme.test.tsx
  packages/lib-react/math-input/src/keypad/index.tsx
  packages/lib-react/render-ui/src/color.ts
  packages/lib-react/render-ui/tests/color-over-background.test.ts
Due: lint, types

fix(editable-html-tip-tap): darken the editor toolbar's Done check to #388E3C (PIE-1192)
  .changeset/20261004-non-text-contrast.md
  packages/lib-react/editable-html-tip-tap/src/components/common/done-button.tsx
  packages/lib-react/editable-html-tip-tap/test/done-button.test.tsx
Due: types

fix(editable-html-tip-tap): describe the Done check on the mixed toolbar fill (PIE-1193)
  packages/lib-react/editable-html-tip-tap/src/components/common/done-button.tsx
  packages/lib-react/editable-html-tip-tap/test/done-button.test.tsx
  packages/lib-react/render-ui/tests/color-over-background.test.ts
Due: lint, types

fix(select-text): restore the non-breaking space escape (PIE-1165)
  packages/lib-react/text-select/src/token-select/index.tsx
Due: types

fix(extended-text-entry): take the annotation menu outline from the theme border (PIE-1192)
  .changeset/20261004-annotation-outline-theme.md
  packages/elements-react/extended-text-entry/src/delivery/__tests__/annotation-theme.test.tsx
  packages/elements-react/extended-text-entry/src/delivery/annotation/annotation-menu.tsx
  packages/elements-react/extended-text-entry/src/delivery/annotation/annotation-utils.ts
Due: lint, types

fix(editable-html-tip-tap): draw the toolbar Done check in the theme's correct-icon colour (PIE-1193)
  .changeset/20261004-dark-keypad-toolbar-fills.md
  packages/lib-react/editable-html-tip-tap/src/components/common/done-button.tsx
  packages/lib-react/editable-html-tip-tap/test/done-button.test.tsx
  packages/lib-react/math-toolbar/src/__tests__/done-button.test.tsx
  packages/lib-react/math-toolbar/src/done-button.tsx
  packages/lib-react/render-ui/tests/color-over-background.test.ts
Due: lint, types

fix(render-ui): give each prompt its own audio and play-button ids (PIE-1194)
  .changeset/20261004-preview-prompt-audio-ids.md
  packages/lib-react/render-ui/src/preview-prompt.tsx
  packages/lib-react/render-ui/tests/preview-prompt-audio-button.test.tsx
  packages/lib-react/render-ui/tests/preview-prompt-audio-ids.test.tsx
Due: types

fix(passage): give each passage its own tab and panel ids (PIE-1194)
  .changeset/20261004-passage-tab-ids.md
  bun.lock
  packages/elements-react/passage/package.json
  packages/elements-react/passage/src/delivery/__tests__/tab-ids.test.ts
  packages/elements-react/passage/src/delivery/stimulus-tabs.tsx
  packages/elements-react/passage/src/print/__tests__/panel-ids.test.ts
Due: lint, types

fix(passage): drop the tabpanel role when no tab buttons render (PIE-1198)
  .changeset/20261004-passage-panel-role.md
  packages/elements-react/passage/src/delivery/__tests__/panel-role.test.ts
  packages/elements-react/passage/src/delivery/stimulus-tabs.tsx
  packages/elements-react/passage/src/print/__tests__/panel-ids.test.ts
Due: lint, types

fix(render-ui,config-ui,ebsr): scope authored extraCSSRules to their own item (PIE-1197)
  .changeset/20261004-scope-extra-css-rules.md
  bun.lock
  packages/elements-react/ebsr/package.json
  packages/elements-react/ebsr/src/delivery/__tests__/extra-css-rules.test.ts
  packages/elements-react/ebsr/src/delivery/index.tsx
  packages/lib-react/config-ui/src/layout/config-layout.tsx
  packages/lib-react/config-ui/tests/config-layout-extra-css-rules.test.tsx
  packages/lib-react/render-ui/src/ui-layout.tsx
  packages/lib-react/render-ui/tests/ui-layout-extra-css-rules.test.tsx
Due: lint, types

docs(a11y): inventory styling the --pie-* theme does not control (PIE-1195)
  docs/a11y/INDEX.md
  docs/a11y/theme-gap-inventory.md
Due: none

fix(svelte): route Svelte delivery colours through --pie-* tokens (PIE-1195)
  .changeset/20261004-svelte-delivery-theme-tokens.md
  packages/elements-svelte/mc-populated-blank/src/delivery/AudioPlayer.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/ChoiceRow.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/simple-cloze/src/delivery/SimpleCloze.svelte
  packages/elements-svelte/venn-classification/src/delivery/Tile.svelte
  packages/elements-svelte/venn-classification/src/delivery/Tray.svelte
  packages/elements-svelte/venn-classification/src/delivery/VennClassification.svelte
  tests/pie-token-contract.test.ts
Due: lint, types

fix(svelte): route Svelte delivery colours through --pie-* tokens (PIE-1203)
  .changeset/20261004-svelte-delivery-theme-tokens.md
  packages/elements-svelte/mc-populated-blank/src/delivery/AudioPlayer.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/ChoiceRow.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/simple-cloze/src/delivery/SimpleCloze.svelte
  packages/elements-svelte/venn-classification/src/delivery/Tile.svelte
  packages/elements-svelte/venn-classification/src/delivery/Tray.svelte
  packages/elements-svelte/venn-classification/src/delivery/VennClassification.svelte
  tests/pie-token-contract.test.ts
Due: lint, types

docs(a11y): correct the theme-gap inventory and list the student-facing tickets (PIE-1195)
  docs/a11y/theme-gap-inventory.md
Due: none

fix(render-ui,charting): make the custom audio button and the charting Actions trigger keyboard operable (PIE-1204)
  .changeset/20261005-keyboard-operable-audio-and-actions.md
  bun.lock
  packages/elements-react/categorize/src/delivery/categorize/index.tsx
  packages/elements-react/drag-in-the-blank/src/delivery/main.tsx
  packages/elements-react/hotspot/src/delivery/hotspot/index.tsx
  packages/elements-react/image-cloze-association/src/delivery/root.tsx
  packages/elements-react/multiple-choice/src/delivery/multiple-choice.tsx
  packages/lib-react/charting/package.json
  packages/lib-react/charting/src/__tests__/actions-button.test.tsx
  packages/lib-react/charting/src/actions-button.tsx
  packages/lib-react/render-ui/package.json
  packages/lib-react/render-ui/src/color.ts
  packages/lib-react/render-ui/src/preview-prompt.tsx
  packages/lib-react/render-ui/tests/preview-prompt-audio-button.test.tsx
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
  tests/pie-token-contract.test.ts
Due: lint, types

fix(graphing): use fixed black stroke for all shapes PIE-1138
  packages/lib-react/graphing/src/tools/shared/line/line-path.tsx
Due: types

fix(render-ui): update color-contrast especially for placement-ordering PIE-821
  packages/elements-react/placement-ordering/src/delivery/tile.tsx
  packages/lib-react/drag/src/placeholder.tsx
  packages/lib-react/render-ui/src/color.ts
  packages/shared/theming/src/pie-themes.ts
Due: lint, types

docs(a11y): map the editor toolbar icons to --pie-text, as PIE-1202 does (PIE-1195)
  docs/a11y/theme-gap-inventory.md
Due: none

test(render-ui): align color assertions with updated border-dark PIE-821
  packages/elements-react/extended-text-entry/src/delivery/__tests__/annotation-theme.test.tsx
  packages/lib-react/drag/src/__tests__/placeholder.test.tsx
Due: types

fix(mask-markup): only the dnd-kit drop target shows receptive during a drag, not the hovered blank PIE-1100
  packages/lib-react/mask-markup/src/components/__tests__/blank.test.tsx
  packages/lib-react/mask-markup/src/components/blank.tsx
Due: types

fix(categorize): rank any touched category ahead of the choice pool so a minimal overlap makes it receptive PIE-1103
  packages/elements-react/categorize/src/delivery/categorize/__tests__/collision-detection.test.ts
  packages/elements-react/categorize/src/delivery/categorize/collision-detection.ts
  packages/elements-react/categorize/src/delivery/categorize/index.tsx
Due: lint, types

fix(match-list): scroll the Tab target into view during a keyboard drag (PIE-1210)
  apps/element-demo/test/e2e/match-list-keyboard-reflow.spec.ts
  packages/elements-react/match-list/src/delivery/__tests__/keyboard-coordinates.test.ts
  packages/elements-react/match-list/src/delivery/keyboard-coordinates.ts
Due: lint, types

fix(placement-ordering): return a tile released outside the element next to its own slot to the pool (PIE-1212)
  apps/element-demo/test/e2e/README.md
  apps/element-demo/test/e2e/dnd-release-outside.spec.ts
  packages/elements-react/placement-ordering/src/delivery/__tests__/placement-ordering.test.tsx
  packages/elements-react/placement-ordering/src/delivery/placement-ordering.tsx
Due: lint, types

fix(feedback): stop throwing when a correctness level has no feedback (PIE-1208)
  packages/elements-react/number-line/tests/controller.test.ts
  packages/elements-react/select-text/tests/controller.test.ts
  packages/shared/feedback/src/index.ts
  packages/shared/feedback/tests/feedback.test.ts
Due: lint, types

fix(categorize): remove a placed choice released outside the region (PIE-1211)
  apps/element-demo/test/e2e/README.md
  apps/element-demo/test/e2e/dnd-release-outside.spec.ts
  packages/elements-react/categorize/src/delivery/categorize/__tests__/index.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/index.tsx
  packages/lib-react/drag/src/__tests__/collision.test.ts
  packages/lib-react/drag/src/collision.ts
  packages/lib-react/drag/src/index.ts
Due: lint, types

fix(render-ui): close inline menus on an outside click or tap (PIE-1209)
  apps/element-demo/test/e2e/baseline-all-elements.spec.ts
  packages/lib-react/render-ui/INLINE-MENU.md
  packages/lib-react/render-ui/src/inline-menu.tsx
  packages/lib-react/render-ui/tests/inline-menu.test.tsx
Due: lint, types

fix(math-inline,math-templated): follow the theme on the Correct Answer card and draw the math-toolbar Done check in --pie-correct-icon (PIE-1196)
  .changeset/20261005-math-response-card-scheme.md
  packages/elements-react/math-inline/src/author/__tests__/response-card-theme.test.tsx
  packages/elements-react/math-inline/src/author/response.tsx
  packages/elements-react/math-templated/src/author/__tests__/response-card-theme.test.tsx
  packages/elements-react/math-templated/src/author/response.tsx
  packages/lib-react/math-toolbar/src/__tests__/done-button.test.tsx
  packages/lib-react/math-toolbar/src/done-button.tsx
  packages/lib-react/render-ui/tests/color-over-background.test.ts
Due: lint, types
