Repository pie-framework/pie-elements-ng: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    dependency-integrity-fast:
      run: bun run verify:dependency-integrity --fail-on-hoist
    lint:
      glob: "*.{js,ts,svelte}"
      run: bun run lint:fix {staged_files}
    types:
      glob: "*.{ts,tsx}"
      run: bunx tsc --noEmit

pre-push:
  parallel: false
  commands:
    dependency-integrity-full:
      run: bun run verify:dependency-integrity --check-peer-gaps --fail-on-hoist --fail-on-peer
    test:
      run: bun run test
    build:
      run: bun run build

feat: announce blank state and follwing possible options to screen readers PIE-784
  packages/elements-svelte/mc-populated-blank/src/controller/defaults.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/ClozeMarker.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/ClozeMarker.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.blankHint.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/shared/types.ts
Due: lint, types

feat: announce blank state and follwing possible options to screen readers PIE-784
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.blankHint.test.ts
Due: lint, types

fix(sync): pin mathjs to 13.x and stop pinning react-draggable
  tools/cli/src/lib/upstream/sync-imports.ts
  tools/cli/tests/sync-package-manager.test.ts
Due: lint, types

chore(sync): pull upstream drag fixes, visx v4 and tiptap updates
  bun.lock
  packages/elements-react/explicit-constructed-response/src/author/defaults.ts
  packages/elements-react/explicit-constructed-response/src/controller/defaults.ts
  packages/elements-react/explicit-constructed-response/src/controller/index.ts
  packages/elements-react/extended-text-entry/src/controller/index.ts
  packages/elements-react/match-list/src/delivery/answer-area.tsx
  packages/elements-react/match-list/src/delivery/answer.tsx
  packages/elements-react/match-list/src/delivery/main.tsx
  packages/elements-react/number-line/package.json
  packages/elements-react/number-line/src/controller/tickUtils.ts
  packages/elements-react/number-line/src/delivery/number-line/graph/tick-utils.ts
  packages/elements-react/number-line/src/delivery/number-line/graph/ticks.tsx
  packages/lib-react/charting/package.json
  packages/lib-react/editable-html-tip-tap/src/components/EditableHtml.tsx
  packages/lib-react/graphing-solution-set/package.json
  packages/lib-react/graphing/package.json
  packages/lib-react/plot/src/draggable.tsx
  packages/lib-react/plot/src/grid-draggable.tsx
Due: lint, types

fix(match): fix color theming for match-list, refactor duplicate code PIE-869
  packages/elements-react/match/src/delivery/answer-grid.tsx
Due: types

chore(release): add changesets for the sync and the CJS build fix
  .changeset/20260907125115-pie-element-explicit-constructed-res.md
  .changeset/20260908071707-pie-lib-charting-pie-lib-graphing.md
Due: none

chore: update lockfile for the @tiptap/extensions restore
  bun.lock
Due: none

fix(build): generate the legacy print lane so module/print.js survives sync PIE-1007
  packages/elements-react/complex-rubric/package.json
  packages/elements-react/ebsr/package.json
  packages/elements-react/explicit-constructed-response/package.json
  packages/elements-react/extended-text-entry/package.json
  packages/elements-react/math-inline/package.json
  packages/elements-react/math-templated/package.json
  packages/elements-react/multiple-choice/package.json
  packages/elements-react/passage/package.json
  packages/elements-react/rubric/package.json
  packages/elements-react/select-text/package.json
  scripts/check-publish-surface.mjs
  tools/cli/src/lib/upstream/sync-constants.ts
  tools/cli/src/lib/upstream/sync-package-manager.ts
  tools/cli/tests/sync-package-manager.test.ts
Due: lint, types

chore(release): add changeset for the legacy print bundle restore
  .changeset/20260909072433-pie-element-complex-rubric-pie-eleme.md
Due: none

fix(mc-populated-blank): stop capping graphic choice images below their 150x150 authored size
  apps/learnosity-parity-demo/src/lib/samples/mc-populated-blank.json
  apps/learnosity-parity-demo/static/mc-populated-blank-150.svg
  apps/learnosity-parity-demo/test/e2e/mc-populated-blank-image-size-cap.spec.ts
  packages/elements-svelte/mc-populated-blank/README.md
  packages/elements-svelte/mc-populated-blank/src/controller/index.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/ChoiceRow.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/ClozeMarker.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/computeLayoutStyle.ts
  packages/elements-svelte/mc-populated-blank/src/shared/layoutLimits.ts
Due: lint, types

fix(mask-markup): keep inline-dropdown menu opaque (PIE-1008)
  .changeset/20260910065749-pie-lib-mask-markup.md
  packages/lib-react/mask-markup/src/components/dropdown.tsx
  packages/lib-react/render-ui/src/color.ts
Due: lint, types

chore(release): reconstruct changesets for the PRs merged without them
  .changeset/20260910084336-pie-element-categorize.md
  .changeset/20260910084337-pie-element-categorize.md
  .changeset/20260910084357-pie-element-shared-theming-pie-lib-d.md
  .changeset/20260910084358-pie-element-mc-populated-blank.md
  .changeset/20260910084400-pie-element-match.md
  .changeset/20260910084401-pie-element-image-cloze-association-.md
Due: none

fix(graphing): lock background and disabled mark colors to the palette default
  packages/lib-react/graphing/src/graph-with-controls.tsx
  packages/lib-react/graphing/src/tools/shared/arrow-head.tsx
  packages/lib-react/graphing/src/tools/shared/point/index.tsx
  packages/lib-react/graphing/src/tools/shared/styles.ts
Due: lint, types

fix(graphing): lock background and disabled mark colors to the palette default
  packages/lib-react/graphing-solution-set/src/tools/shared/styles.ts
  packages/lib-react/graphing/src/graph-with-controls.tsx
  packages/lib-react/graphing/src/tools/shared/arrow-head.tsx
  packages/lib-react/graphing/src/tools/shared/point/index.tsx
  packages/lib-react/graphing/src/tools/shared/styles.ts
Due: lint, types

chore(release): add changeset for the graphing palette lock (PIE-877)
  .changeset/20260910091717-pie-lib-graphing-pie-lib-graphing-so.md
Due: none

fix(mc-populated-blank): fix cloze/stem baseline alignment and image sizing for r1 CQT layouts
  apps/learnosity-parity-demo/src/lib/samples/mc-populated-blank.json
  apps/learnosity-parity-demo/static/mc-populated-blank-stimulus-988.svg
  apps/learnosity-parity-demo/test/e2e/mc-populated-blank-cloze-baseline.spec.ts
  apps/learnosity-parity-demo/test/e2e/mc-populated-blank-image-cap-shift.spec.ts
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-g-stem-graphic-choices.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-g-stem-graphic-stem.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-g-stem-stem.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-gg-plus-graphic-choices.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-gg-plus-graphic-stem.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-gg-plus-stem.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-ggplus-graphic-choices.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-ggplus-graphic-stem.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-ggplus-stem.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-gplusggg-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-plusggg-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-s3-stem-selected.png
  packages/elements-svelte/mc-populated-blank/src/delivery/ChoiceRow.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/ClozeMarker.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-base.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-s3.css
Due: lint, types

fix(charting): give disabled tick labels one readable color (PIE-922)
  .changeset/20260911091500-pie-lib-charting-render-ui-disabled-text.md
  packages/lib-react/charting/src/mark-label.tsx
  packages/lib-react/render-ui/src/color.ts
  packages/shared/theming/src/constants.ts
  packages/shared/theming/src/pie-themes.ts
  packages/shared/theming/src/types.ts
  tests/pie-token-contract.test.ts
Due: lint, types

fix: make the main image horizontally scrollable when its full width doesn't fit PIE-807
  bun.lock
  packages/elements-react/image-cloze-association/package.json
  packages/elements-react/image-cloze-association/src/delivery/image-container.tsx
  packages/elements-react/image-cloze-association/src/delivery/interactive-section.tsx
  packages/elements-react/image-cloze-association/src/delivery/root.tsx
Due: types

chore(release): add changeset for the mc-populated-blank r1 CQT fixes
  .changeset/20260915094038-pie-element-mc-populated-blank.md
Due: none

feat(release): auto-publish -next from develop without a version PR
  .github/workflows/release.yml
  AGENTS.md
  package.json
  scripts/release-synthesize-changesets.mjs
  tests/release-synthesize-changesets.test.ts
Due: lint, types

fix(release): report publishes from the publish script, not changesets/action
  .github/workflows/release.yml
  scripts/changeset-publish-resolved-workspaces.mjs
Due: none

fix(bundler): publish print.js shims and resolve entry subpaths from declarations
  .changeset/print-shim-publish-contract.md
  docs/PIE_ELEMENT_CONTRACT.md
  packages/elements-react/complex-rubric/package.json
  packages/elements-react/complex-rubric/print.js
  packages/elements-react/ebsr/package.json
  packages/elements-react/ebsr/print.js
  packages/elements-react/explicit-constructed-response/package.json
  packages/elements-react/explicit-constructed-response/print.js
  packages/elements-react/extended-text-entry/package.json
  packages/elements-react/extended-text-entry/print.js
  packages/elements-react/math-inline/package.json
  packages/elements-react/math-inline/print.js
  packages/elements-react/math-templated/package.json
  packages/elements-react/math-templated/print.js
  packages/elements-react/multiple-choice/package.json
  packages/elements-react/multiple-choice/print.js
  packages/elements-react/passage/package.json
  packages/elements-react/passage/print.js
  packages/elements-react/rubric/package.json
  packages/elements-react/rubric/print.js
  packages/elements-react/select-text/package.json
  packages/elements-react/select-text/print.js
  packages/elements-svelte/mc-populated-blank/package.json
  packages/elements-svelte/mc-populated-blank/print.js
  packages/elements-svelte/simple-cloze/package.json
  packages/elements-svelte/simple-cloze/print.js
  packages/shared/bundler-shared/src/entry-generator.ts
  packages/shared/bundler-shared/src/installer.ts
  packages/shared/bundler-shared/src/webpack-config.ts
  packages/shared/bundler-shared/tests/entry-generator.test.ts
  scripts/check-publish-surface.mjs
  tools/cli/src/commands/verify/controllers.ts
  tools/cli/src/lib/upstream/sync-package-manager.ts
  tools/cli/tests/element-contracts.test.ts
Due: lint, types

fix(release): drop devDependencies from published manifests
  .changeset/mc-populated-blank-installable-manifest.md
  scripts/changeset-publish-resolved-workspaces.mjs
Due: none

fix(editable-html-tip-tap): restore role=textbox, add data-pie-editor, and put the toolbar in normal flow (PIE-1015, PIE-1016, DNAFORM-2093)
  packages/lib-react/editable-html-tip-tap/src/components/EditableHtml.tsx
  packages/lib-react/editable-html-tip-tap/src/components/MenuBar.tsx
Due: types

chore(release): add a registry preflight and move the @pie-lib version bases PIE-1041
  .changeset/pie-1041-move-lib-versions-off-contested-bases.md
  package.json
  scripts/check-version-availability.mjs
Due: none

fix(placement-ordering): paint the empty choice slot on the surface token (PIE-872)
  packages/lib-react/drag/src/placeholder.tsx
Due: types

chore(release): run the version-availability preflight from the version script PIE-1041
  package.json
Due: none

chore(lint): format the version-availability script and unblock biome
  biome.json
  scripts/check-version-availability.mjs
Due: none

fix: commit a coalesced session-changed on element teardown (PIE-1058)
  .changeset/20260917-pie-1058-session-commit-on-teardown.md
  packages/elements-react/explicit-constructed-response/src/delivery/index.ts
  packages/elements-react/explicit-constructed-response/src/delivery/main.tsx
  packages/elements-react/explicit-constructed-response/tests/delivery-session-commit.test.ts
  packages/elements-react/explicit-constructed-response/vite.config.ts
  packages/elements-react/extended-text-entry/src/delivery/index.ts
  packages/elements-react/extended-text-entry/src/delivery/main.tsx
  packages/elements-react/extended-text-entry/tests/delivery-session-commit.test.ts
  packages/elements-react/extended-text-entry/vite.config.ts
  packages/elements-react/math-inline/src/delivery/index.ts
  packages/elements-react/math-inline/tests/delivery-session-commit.test.ts
  packages/elements-react/math-inline/vite.config.ts
  packages/elements-react/math-templated/src/delivery/index.ts
  packages/elements-react/math-templated/tests/delivery-session-commit.test.ts
  packages/elements-react/math-templated/vite.config.ts
  packages/elements-react/multiple-choice/src/delivery/index.ts
  packages/elements-react/multiple-choice/tests/delivery-session-commit.test.ts
  packages/elements-react/multiple-choice/vite.config.ts
  packages/shared/player-events/README.md
  packages/shared/player-events/src/index.ts
  packages/shared/player-events/src/session-notifier.ts
  packages/shared/player-events/tests/session-notifier.test.ts
  tests/pie-token-contract.test.ts
  vitest.config.ts
Due: lint, types

fix(elements-svelte): write into the player's session object (PIE-1058)
  .changeset/20260917-pie-1058-mc-populated-blank-session.md
  apps/element-a11y-demo/src/lib/samples/mc-populated-blank.json
  packages/elements-svelte/mc-populated-blank/README.md
  packages/elements-svelte/mc-populated-blank/src/controller/index.test.ts
  packages/elements-svelte/mc-populated-blank/src/controller/index.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.session.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/index.ts
  packages/elements-svelte/mc-populated-blank/src/shared/types.ts
  packages/elements-svelte/mc-populated-blank/tests/delivery-session-contract.test.ts
  packages/elements-svelte/simple-cloze/src/delivery/index.ts
  packages/elements-svelte/venn-classification/src/delivery/index.ts
  packages/lib-svelte/delivery-events/src/session-bridge.ts
  packages/lib-svelte/delivery-events/tests/session-bridge.test.ts
  packages/shared/player-events/README.md
Due: lint, types

fix: finish the mc-populated-blank rename and trim the notifier (PIE-1058)
  apps/element-demo/src/lib/samples/mc-populated-blank.json
  apps/learnosity-parity-demo/src/lib/samples/mc-populated-blank.json
  packages/elements-react/explicit-constructed-response/vite.config.ts
  packages/elements-react/extended-text-entry/src/delivery/main.tsx
  packages/elements-react/extended-text-entry/vite.config.ts
  packages/elements-react/math-inline/vite.config.ts
  packages/elements-react/math-templated/vite.config.ts
  packages/elements-react/multiple-choice/vite.config.ts
  packages/elements-svelte/mc-populated-blank/src/shared/types.ts
  packages/lib-svelte/delivery-events/src/session-bridge.ts
  packages/lib-svelte/delivery-events/tests/session-bridge.test.ts
  packages/shared/player-events/src/session-notifier.ts
  packages/shared/player-events/tests/session-notifier.test.ts
Due: lint, types

revert(mc-populated-blank): keep choiceId as the session key (PIE-1058)
  .changeset/20260917-pie-1058-mc-populated-blank-session.md
  apps/element-a11y-demo/src/lib/samples/mc-populated-blank.json
  apps/element-demo/src/lib/samples/mc-populated-blank.json
  apps/learnosity-parity-demo/src/lib/samples/mc-populated-blank.json
  packages/elements-svelte/mc-populated-blank/README.md
  packages/elements-svelte/mc-populated-blank/src/controller/index.test.ts
  packages/elements-svelte/mc-populated-blank/src/controller/index.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.session.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/index.ts
  packages/elements-svelte/mc-populated-blank/src/shared/types.ts
  packages/elements-svelte/mc-populated-blank/tests/delivery-session-contract.test.ts
Due: lint, types

fix(editable-html-tip-tap): upload pasted images instead of inlining base64 PIE-1017
  .changeset/20260917141500-pie-lib-editable-html-tip-tap.md
  packages/lib-react/editable-html-tip-tap/src/components/image/InsertImageHandler.ts
  packages/lib-react/editable-html-tip-tap/src/components/image/findImageNode.ts
  packages/lib-react/editable-html-tip-tap/src/extensions/image-component.tsx
  packages/lib-react/editable-html-tip-tap/src/extensions/image.tsx
  packages/lib-react/editable-html-tip-tap/test/image-paste-upload.test.tsx
Due: lint, types

fix: close the text-to-underline gap for sel_r1-g_plusggg blanks PIE-793
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-g-stem.css
Due: lint

fix: close the text-to-underline gap for sel_r1-g_plusggg blanks PIE-793
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-g-stem.css
Due: none

fix(categorize): make the interactive region horizontally scrollable when its full width doesn't fit PIE-808
  bun.lock
  packages/elements-react/categorize/package.json
  packages/elements-react/categorize/src/delivery/categorize/index.tsx
Due: types

test(player-events): pin the commit method name pie-players looks for
  packages/shared/player-events/tests/session-notifier.test.ts
Due: lint, types

fix(match-list): skip empty response areas in native Tab order and move focus to the destination tile after a move PIE-996
  packages/elements-react/match-list/src/delivery/answer.tsx
  packages/elements-react/match-list/src/delivery/main.tsx
Due: types

fix(placement-ordering): skip empty source/target areas in native Tab order and move focus to the destination tile after a move PIE-997
  packages/elements-react/placement-ordering/src/delivery/placement-ordering.tsx
  packages/elements-react/placement-ordering/src/delivery/tile.tsx
Due: types
