Repository pie-framework/pie-elements-ng: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    dependency-integrity-fast:
      run: bun run verify:dependency-integrity --fail-on-hoist
    lint:
      glob: "*.{js,ts,svelte}"
      run: bun run lint:fix {staged_files}
    types:
      glob: "*.{ts,tsx}"
      run: bunx tsc --noEmit

pre-push:
  parallel: false
  commands:
    dependency-integrity-full:
      run: bun run verify:dependency-integrity --check-peer-gaps --fail-on-hoist --fail-on-peer
    test:
      run: bun run test
    build:
      run: bun run build

fix(mc-populated-blank): render the radios at 24x24
  docs/a11y/mc-populated-blank.md
  packages/elements-svelte/mc-populated-blank/README.md
  packages/elements-svelte/mc-populated-blank/src/delivery/ChoiceRow.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/ChoiceRow.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-s3.css
  packages/elements-svelte/mc-populated-blank/src/delivery/variant-css-scope.test.ts
Due: lint, types

test(translator): check the charting and graphing Spanish, nested groups included
  packages/shared/translator/tests/resources.test.ts
Due: lint, types

fix(charting, graphing): name the category and mark label inputs
  bun.lock
  docs/a11y/charting.md
  docs/a11y/graphing-solution-set.md
  docs/a11y/graphing.md
  packages/lib-react/charting/package.json
  packages/lib-react/charting/src/__tests__/mark-label-name.test.tsx
  packages/lib-react/charting/src/__tests__/vitest-env.d.ts
  packages/lib-react/charting/src/axes.tsx
  packages/lib-react/charting/src/chart.tsx
  packages/lib-react/charting/src/mark-label.tsx
  packages/lib-react/graphing-solution-set/package.json
  packages/lib-react/graphing-solution-set/src/__tests__/mark-label-name.test.tsx
  packages/lib-react/graphing-solution-set/src/__tests__/vitest-env.d.ts
  packages/lib-react/graphing-solution-set/src/graph-with-controls.tsx
  packages/lib-react/graphing-solution-set/src/graph.tsx
  packages/lib-react/graphing-solution-set/src/mark-label.tsx
  packages/lib-react/graphing-solution-set/src/tools/shared/line/index.tsx
  packages/lib-react/graphing/package.json
  packages/lib-react/graphing/src/__tests__/mark-label-name.test.tsx
  packages/lib-react/graphing/src/__tests__/vitest-env.d.ts
  packages/lib-react/graphing/src/graph-with-controls.tsx
  packages/lib-react/graphing/src/graph.tsx
  packages/lib-react/graphing/src/mark-label.tsx
  packages/lib-react/graphing/src/tools/circle/component.tsx
  packages/lib-react/graphing/src/tools/point/component.tsx
  packages/lib-react/graphing/src/tools/polygon/component.tsx
  packages/lib-react/graphing/src/tools/shared/line/index.tsx
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
Due: lint, types

fix(graphing): make each toolbar tool one button
  apps/element-demo/test/e2e/phase1-spatial-dnd.spec.ts
  bun.lock
  docs/a11y/graphing.md
  packages/lib-react/graphing/package.json
  packages/lib-react/graphing/src/__tests__/toggle-bar.test.tsx
  packages/lib-react/graphing/src/__tests__/vitest-env.d.ts
  packages/lib-react/graphing/src/toggle-bar.tsx
Due: lint, types

docs(prd): propose keyboard selection for select-text
  docs/prds/select-text/PRD.md
Due: none

fix(correct-answer-toggle): make the toggle a keyboard-operable button
  bun.lock
  packages/lib-react/correct-answer-toggle/package.json
  packages/lib-react/correct-answer-toggle/src/index.tsx
  packages/lib-react/correct-answer-toggle/test/correct-answer-toggle.test.tsx
Due: types

fix(graphing-solution-set): name each line-selection radio from its line name
  bun.lock
  docs/a11y/graphing-solution-set.md
  packages/lib-react/graphing-solution-set/package.json
  packages/lib-react/graphing-solution-set/src/__tests__/tool-menu.test.tsx
  packages/lib-react/graphing-solution-set/src/__tests__/vitest-env.d.ts
  packages/lib-react/graphing-solution-set/src/tool-menu.tsx
Due: lint, types

fix(math-input): name each response field's textarea in the item language
  bun.lock
  docs/a11y/math-inline.md
  docs/a11y/math-templated.md
  packages/elements-react/math-inline/src/delivery/main.tsx
  packages/elements-react/math-templated/src/delivery/main.tsx
  packages/lib-react/math-input/package.json
  packages/lib-react/math-input/src/mq/field-label.ts
  packages/lib-react/math-input/src/mq/input.tsx
  packages/lib-react/math-input/src/mq/static.tsx
  packages/lib-react/math-input/test/public-api.test.ts
  packages/lib-react/math-input/test/textarea-label.test.tsx
  packages/lib-react/math-input/test/vitest-env.d.ts
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
  packages/shared/translator/tests/resources.test.ts
Due: lint, types

fix(plot): name and describe the chart and graph svg
  bun.lock
  docs/a11y/charting.md
  docs/a11y/graphing-solution-set.md
  docs/a11y/graphing.md
  packages/lib-react/charting/package.json
  packages/lib-react/charting/src/__tests__/text-alternative.test.tsx
  packages/lib-react/charting/src/__tests__/vitest-env.d.ts
  packages/lib-react/charting/src/chart.tsx
  packages/lib-react/graphing-solution-set/package.json
  packages/lib-react/graphing-solution-set/src/__tests__/text-alternative.test.tsx
  packages/lib-react/graphing-solution-set/src/__tests__/vitest-env.d.ts
  packages/lib-react/graphing-solution-set/src/graph.tsx
  packages/lib-react/graphing/package.json
  packages/lib-react/graphing/src/__tests__/text-alternative.test.tsx
  packages/lib-react/graphing/src/__tests__/vitest-env.d.ts
  packages/lib-react/graphing/src/graph-with-controls.tsx
  packages/lib-react/graphing/src/graph.tsx
  packages/lib-react/plot/package.json
  packages/lib-react/plot/src/__tests__/root-name.test.tsx
  packages/lib-react/plot/src/__tests__/vitest-env.d.ts
  packages/lib-react/plot/src/root.tsx
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
Due: lint, types

fix(inline-dropdown): keep aria-expanded on the closed combobox
  docs/a11y/inline-dropdown.md
  packages/lib-react/mask-markup/src/components/__tests__/dropdown.test.tsx
  packages/lib-react/mask-markup/src/components/dropdown.tsx
Due: types

fix(element-a11y-demo): pass nested svgs that hold text or sit in a named svg in media-alternative
  apps/element-a11y-demo/test/a11y/README.md
  apps/element-a11y-demo/test/a11y/axe-scenarios.spec.ts
Due: lint, types

fix(number-line): describe the graph from its range, ticks and plotted elements
  bun.lock
  docs/a11y/number-line.md
  packages/elements-react/number-line/package.json
  packages/elements-react/number-line/src/delivery/number-line/__tests__/graph-description.test.tsx
  packages/elements-react/number-line/src/delivery/number-line/__tests__/vitest-env.d.ts
  packages/elements-react/number-line/src/delivery/number-line/graph/description.ts
  packages/elements-react/number-line/src/delivery/number-line/graph/index.tsx
  packages/elements-react/number-line/src/delivery/number-line/index.tsx
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
  packages/shared/translator/tests/resources.test.ts
Due: lint, types

fix(editable-html-tip-tap): name the text box in explicit-constructed-response and extended-text-entry
  bun.lock
  docs/a11y/explicit-constructed-response.md
  docs/a11y/extended-text-entry.md
  packages/elements-react/extended-text-entry/package.json
  packages/elements-react/extended-text-entry/src/delivery/__tests__/main.test.tsx
  packages/elements-react/extended-text-entry/src/delivery/__tests__/vitest-env.d.ts
  packages/elements-react/extended-text-entry/src/delivery/main.tsx
  packages/lib-react/editable-html-tip-tap/package.json
  packages/lib-react/editable-html-tip-tap/src/components/EditableHtml.tsx
  packages/lib-react/editable-html-tip-tap/test/textbox-name.test.tsx
  packages/lib-react/mask-markup/src/__tests__/constructed-response.test.tsx
  packages/lib-react/mask-markup/src/constructed-response.tsx
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
  packages/shared/translator/tests/resources.test.ts
Due: lint, types

docs(element-a11y-demo): move the media-alternative note ahead of the other check notes
  apps/element-a11y-demo/test/a11y/README.md
Due: none

fix(number-line): describe each plotted element in the graph's description
  docs/a11y/number-line.md
  packages/elements-react/number-line/src/delivery/number-line/__tests__/graph-description.test.tsx
  packages/elements-react/number-line/src/delivery/number-line/graph/description.ts
  packages/elements-react/number-line/src/delivery/number-line/graph/index.tsx
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
Due: lint, types

fix(fraction-model): name each model from its parts and selection
  bun.lock
  docs/a11y/fraction-model.md
  packages/elements-react/fraction-model/package.json
  packages/elements-react/fraction-model/src/delivery/__tests__/fraction-model-chart.test.tsx
  packages/elements-react/fraction-model/src/delivery/__tests__/vitest-env.d.ts
  packages/elements-react/fraction-model/src/delivery/fraction-model-chart.tsx
  packages/elements-react/fraction-model/src/delivery/main.tsx
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
  packages/shared/translator/tests/resources.test.ts
Due: lint, types

fix(drawing-response): name the color selects and the drawing canvas
  bun.lock
  docs/a11y/drawing-response.md
  packages/elements-react/drawing-response/package.json
  packages/elements-react/drawing-response/src/delivery/drawing-response/__tests__/drawable-main-label.test.tsx
  packages/elements-react/drawing-response/src/delivery/drawing-response/__tests__/drawable-palette.test.tsx
  packages/elements-react/drawing-response/src/delivery/drawing-response/__tests__/drawing-area-label.test.ts
  packages/elements-react/drawing-response/src/delivery/drawing-response/__tests__/vitest-env.d.ts
  packages/elements-react/drawing-response/src/delivery/drawing-response/drawable-main.tsx
  packages/elements-react/drawing-response/src/delivery/drawing-response/drawable-palette.tsx
  packages/elements-react/drawing-response/src/delivery/drawing-response/drawing-area-label.ts
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
  packages/shared/translator/tests/resources.test.ts
Due: lint, types

fix(element-a11y-demo): skip aria-hidden and inert controls in interactive-control-name
  apps/element-a11y-demo/test/a11y/README.md
  apps/element-a11y-demo/test/a11y/axe-scenarios.spec.ts
Due: lint, types

fix(number-line): name the graph as a group so its draggable points stay exposed
  docs/a11y/number-line.md
  packages/elements-react/number-line/src/delivery/number-line/__tests__/graph-description.test.tsx
  packages/elements-react/number-line/src/delivery/number-line/graph/index.tsx
Due: types

fix(plot): give each svg description a random id
  packages/lib-react/plot/src/root.tsx
Due: types

fix(drawing-response): name the canvas as a drawing area without listing the tools
  docs/a11y/drawing-response.md
  packages/elements-react/drawing-response/src/delivery/drawing-response/__tests__/drawable-main-label.test.tsx
  packages/elements-react/drawing-response/src/delivery/drawing-response/__tests__/drawing-area-label.test.ts
  packages/elements-react/drawing-response/src/delivery/drawing-response/drawable-main.tsx
  packages/elements-react/drawing-response/src/delivery/drawing-response/drawing-area-label.ts
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
Due: lint, types

test(rubric): keep only the toggle size test
  docs/a11y/rubric.md
  packages/elements-react/rubric/src/delivery/__tests__/main.test.tsx
Due: types

fix(icons): hide the correct-response icon from assistive technology
  bun.lock
  packages/lib-react/icons/package.json
  packages/lib-react/icons/src/__tests__/correct-response-icon.test.tsx
  packages/lib-react/icons/src/__tests__/vitest-env.d.ts
  packages/lib-react/icons/src/correct-response-icon.tsx
Due: lint, types

fix(matrix): keep other rows' answers when a row's selection changes
  packages/elements-react/matrix/src/delivery/__tests__/session-changed.test.ts
  packages/elements-react/matrix/src/delivery/index.ts
Due: lint, types

fix(editable-html-tip-tap): make the toolbar a named toolbar, inert while hidden
  bun.lock
  docs/a11y/explicit-constructed-response.md
  docs/a11y/extended-text-entry.md
  packages/elements-react/extended-text-entry/src/delivery/__tests__/main.test.tsx
  packages/elements-react/extended-text-entry/src/delivery/annotation/annotation-editor.tsx
  packages/elements-react/extended-text-entry/src/delivery/main.tsx
  packages/lib-react/editable-html-tip-tap/package.json
  packages/lib-react/editable-html-tip-tap/src/components/MenuBar.tsx
  packages/lib-react/editable-html-tip-tap/src/components/TiptapContainer.tsx
  packages/lib-react/editable-html-tip-tap/test/toolbar-semantics.test.tsx
  packages/lib-react/mask-markup/src/__tests__/constructed-response.test.tsx
  packages/lib-react/mask-markup/src/constructed-response.tsx
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
  packages/shared/translator/tests/resources.test.ts
Due: lint, types

fix(graphing-solution-set): disable read-only labels and render polygon labels
  docs/a11y/graphing-solution-set.md
  docs/a11y/graphing.md
  packages/lib-react/graphing-solution-set/src/__tests__/coordinates-label.test.tsx
  packages/lib-react/graphing-solution-set/src/__tests__/mark-label-name.test.tsx
  packages/lib-react/graphing-solution-set/src/coordinates-label.tsx
  packages/lib-react/graphing-solution-set/src/mark-label.tsx
  packages/lib-react/graphing-solution-set/src/tools/polygon/component.tsx
  packages/lib-react/graphing/src/__tests__/coordinates-label.test.tsx
  packages/lib-react/graphing/src/coordinates-label.tsx
Due: types

fix(theming): follow the theme background on answer slots, legends and media buttons
  bun.lock
  packages/elements-react/match-list/src/delivery/__tests__/answer.test.tsx
  packages/elements-react/match-list/src/delivery/answer.tsx
  packages/elements-svelte/video-stimulus/src/delivery/VideoStimulus.svelte
  packages/elements-svelte/video-stimulus/tests/delivery-theme.test.ts
  packages/lib-react/charting/src/__tests__/key-legend.test.tsx
  packages/lib-react/charting/src/key-legend.tsx
  packages/lib-react/drag/src/__tests__/placeholder.test.tsx
  packages/lib-react/drag/src/placeholder.tsx
  packages/lib-react/graphing/src/__tests__/key-legend.test.tsx
  packages/lib-react/graphing/src/key-legend.tsx
  packages/lib-react/text-select/package.json
  packages/lib-react/text-select/src/__tests__/legend.test.tsx
  packages/lib-react/text-select/src/__tests__/vitest-env.d.ts
  packages/lib-react/text-select/src/legend.tsx
  packages/lib-svelte/media-svelte/src/Transcript.svelte
  packages/lib-svelte/media-svelte/tests/Transcript-theme.test.ts
Due: lint, types

test(element-a11y-demo): drop keyboard-tab-reach from the extended-text evaluate scan
  apps/element-a11y-demo/src/lib/a11y/scenarios/catalog.ts
  apps/element-a11y-demo/test/a11y/README.md
Due: lint, types

fix(render-ui): create page-unique ids for delivery components
  bun.lock
  docs/a11y/inline-dropdown.md
  docs/a11y/rubric.md
  packages/elements-react/likert/src/delivery/__tests__/likert.test.tsx
  packages/elements-react/likert/src/delivery/choice-input.tsx
  packages/elements-react/match/src/delivery/__tests__/answer-grid.test.tsx
  packages/elements-react/match/src/delivery/answer-grid.tsx
  packages/elements-react/math-inline/package.json
  packages/elements-react/math-inline/src/delivery/__tests__/page-unique-ids.test.tsx
  packages/elements-react/math-inline/src/delivery/main.tsx
  packages/elements-react/math-inline/src/delivery/simple-question-block.tsx
  packages/elements-react/matrix/src/delivery/Matrix.tsx
  packages/elements-react/matrix/src/delivery/__tests__/matrix.test.tsx
  packages/elements-react/number-line/src/delivery/number-line/__tests__/graph-description.test.tsx
  packages/elements-react/number-line/src/delivery/number-line/graph/index.tsx
  packages/elements-react/placement-ordering/package.json
  packages/elements-react/placement-ordering/src/delivery/__tests__/placement-ordering.test.tsx
  packages/elements-react/placement-ordering/src/delivery/__tests__/vitest-env.d.ts
  packages/elements-react/placement-ordering/src/delivery/placement-ordering.tsx
  packages/elements-react/rubric/src/delivery/__tests__/main.test.tsx
  packages/elements-react/rubric/src/delivery/main.tsx
  packages/lib-react/drag/src/drag-provider.tsx
  packages/lib-react/graphing-solution-set/src/__tests__/text-alternative.test.tsx
  packages/lib-react/graphing-solution-set/src/__tests__/tool-menu.test.tsx
  packages/lib-react/graphing-solution-set/src/graph.tsx
  packages/lib-react/graphing-solution-set/src/tool-menu.tsx
  packages/lib-react/graphing-solution-set/src/tools/line/component.tsx
  packages/lib-react/graphing-solution-set/src/tools/shared/arrow-head.tsx
  packages/lib-react/mask-markup/src/components/__tests__/dropdown.test.tsx
  packages/lib-react/mask-markup/src/components/dropdown.tsx
  packages/lib-react/render-ui/src/collapsible/index.tsx
  packages/lib-react/render-ui/src/index.ts
  packages/lib-react/render-ui/src/unique-id.ts
  packages/lib-react/render-ui/tests/unique-id.test.tsx
Due: lint, types

fix(mask-markup): name the inline-dropdown combobox by its query and value
  docs/a11y/inline-dropdown.md
  packages/lib-react/mask-markup/src/components/__tests__/dropdown.test.tsx
  packages/lib-react/mask-markup/src/components/dropdown.tsx
Due: types

fix(hotspot): describe each evaluated shape by its correctness
  docs/a11y/hotspot.md
  packages/elements-react/hotspot/src/delivery/hotspot/__tests__/container.test.tsx
  packages/elements-react/hotspot/src/delivery/hotspot/container.tsx
  packages/elements-react/hotspot/src/delivery/hotspot/image-konva-tooltip.tsx
  packages/shared/translator/src/en.ts
  packages/shared/translator/src/es.ts
Due: lint, types

fix(rubric): make the rubric toggle a native disclosure button
  docs/a11y/complex-rubric.md
  docs/a11y/rubric.md
  packages/elements-react/rubric/src/delivery/__tests__/main.test.tsx
  packages/elements-react/rubric/src/delivery/main.tsx
Due: types

fix(graphing, graphing-solution-set): place mark labels by their sized width
  docs/a11y/graphing-solution-set.md
  packages/lib-react/graphing-solution-set/src/__tests__/mark-label-placement.test.tsx
  packages/lib-react/graphing-solution-set/src/mark-label.tsx
  packages/lib-react/graphing/src/__tests__/mark-label-placement.test.tsx
  packages/lib-react/graphing/src/mark-label.tsx
Due: types

fix(rubric): render the score points as a list
  packages/elements-react/rubric/src/delivery/__tests__/main.test.tsx
  packages/elements-react/rubric/src/delivery/main.tsx
Due: types

fix(theming): follow the theme background on choice cards, chips, annotation popovers and editor controls
  bun.lock
  packages/elements-react/categorize/src/delivery/categorize/__tests__/choice-theme.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/__tests__/choice.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/choice.tsx
  packages/elements-react/drawing-response/src/delivery/drawing-response/container.tsx
  packages/elements-react/extended-text-entry/src/delivery/__tests__/annotation-theme.test.tsx
  packages/elements-react/extended-text-entry/src/delivery/annotation/annotation-menu.tsx
  packages/elements-react/extended-text-entry/src/delivery/annotation/freeform-editor.tsx
  packages/elements-react/image-cloze-association/src/delivery/__tests__/possible-response-theme.test.tsx
  packages/elements-react/image-cloze-association/src/delivery/possible-response.tsx
  packages/elements-react/match-list/src/delivery/answer.tsx
  packages/elements-react/placement-ordering/src/delivery/tile.tsx
  packages/lib-react/mask-markup/src/choices/__tests__/choice-theme.test.tsx
  packages/lib-react/mask-markup/src/choices/choice.tsx
  packages/lib-react/math-toolbar/package.json
  packages/lib-react/math-toolbar/src/__tests__/done-button.test.tsx
  packages/lib-react/math-toolbar/src/done-button.tsx
  packages/lib-react/plot/src/__tests__/label-theme.test.tsx
  packages/lib-react/plot/src/label.tsx
Due: types

fix(editable-html-tip-tap): show the drag-in-the-blank delete toolbar while an area is selected
  packages/lib-react/editable-html-tip-tap/src/components/MenuBar.tsx
  packages/lib-react/editable-html-tip-tap/test/toolbar-semantics.test.tsx
Due: types

test(correct-answer-toggle): let the decorative icons be hidden
  packages/lib-react/correct-answer-toggle/test/correct-answer-toggle.test.tsx
Due: types

fix(hotspot): take the evaluation description id from createUniqueId
  packages/elements-react/hotspot/src/delivery/hotspot/container.tsx
Due: types

fix(editable-html-tip-tap): keep pasted formatting, lists and table semantics (PIE-1145)
  .changeset/20261002-external-paste.md
  .changeset/20261002-plain-text-paste.md
  packages/lib-react/editable-html-tip-tap/src/components/EditableHtml.tsx
  packages/lib-react/editable-html-tip-tap/src/extensions/extended-table-cell.ts
  packages/lib-react/editable-html-tip-tap/src/extensions/extended-table.tsx
  packages/lib-react/editable-html-tip-tap/src/extensions/table-semantics.ts
  packages/lib-react/editable-html-tip-tap/src/external-paste.ts
  packages/lib-react/editable-html-tip-tap/src/plain-text-paste.ts
  packages/lib-react/editable-html-tip-tap/src/word-lists.ts
  packages/lib-react/editable-html-tip-tap/test/external-paste.test.tsx
  packages/lib-svelte/editable-html-tiptap-svelte/src/EditableHtml.svelte
  packages/lib-svelte/editable-html-tiptap-svelte/src/external-paste.ts
  packages/lib-svelte/editable-html-tiptap-svelte/src/plain-text-paste.ts
  packages/lib-svelte/editable-html-tiptap-svelte/src/semantic-table.ts
  packages/lib-svelte/editable-html-tiptap-svelte/src/table-semantics.ts
  packages/lib-svelte/editable-html-tiptap-svelte/src/word-lists.ts
  packages/lib-svelte/editable-html-tiptap-svelte/tests/EditableHtml.test.ts
  packages/lib-svelte/editable-html-tiptap-svelte/tests/external-paste.test.ts
  packages/lib-svelte/editable-html-tiptap-svelte/tests/plain-text-paste.test.ts
  packages/lib-svelte/editable-html-tiptap-svelte/tests/word-lists.test.ts
Due: lint, types
