Repository pie-framework/pie-elements-ng: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    dependency-integrity-fast:
      run: bun run verify:dependency-integrity --fail-on-hoist
    lint:
      glob: "*.{js,ts,svelte}"
      run: bun run lint:fix {staged_files}
    types:
      glob: "*.{ts,tsx}"
      run: bunx tsc --noEmit

pre-push:
  parallel: false
  commands:
    dependency-integrity-full:
      run: bun run verify:dependency-integrity --check-peer-gaps --fail-on-hoist --fail-on-peer
    test:
      run: bun run test
    build:
      run: bun run build

fix: updated the impact of changing the state of the audio transcript checkbox (CONTOOL-2194)
  apps/element-demo/src/routes/[element]/+layout.svelte
Due: lint

fix: The audio transcript is now responsive to the flag (CONTOOL-2194)
  apps/element-demo/src/lib/samples/mc-populated-blank.json
  apps/element-demo/test/e2e/mc-populated-blank-interaction.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-transcript-parity.spec.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/AudioPlayer.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/AudioPlayer.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.transcript.test.ts
Due: lint, types

Fix: The listen button is right justified for _gplusggg (CONTOOL-2194)
  apps/element-demo/test/e2e/mc-populated-blank-visual-parity.spec.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-plusggg.css
Due: lint, types

chore: point to a valid _gplusggg content item (CONTOOL-2194)
  apps/element-demo/src/lib/samples/mc-populated-blank.json
  packages/element-player/src/lib/element-loader.ts
  scripts/fetch-learnosity-item.mjs
Due: lint, types

fix: tests for _gplusggg in place and passing. Validates all other tests are passing. (CONTOOL-2194)
  apps/element-demo/test/e2e/mc-populated-blank-gplusggg-parity.spec.ts
  packages/elements-svelte/mc-populated-blank/src/controller/index.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/AudioPlayer.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-gplusggg.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-vic.css
  scripts/fetch-learnosity-item.mjs
Due: lint, types

fix: test multiple-choice release PIE-447
  .changeset/crisp-heads-wink.md
  .changeset/pre.json
  bun.lock
  packages/elements-react/ebsr/CHANGELOG.md
  packages/elements-react/ebsr/package.json
  packages/elements-react/ebsr/src/delivery/index.tsx
  packages/elements-react/multiple-choice/CHANGELOG.md
  packages/elements-react/multiple-choice/package.json
  packages/elements-react/multiple-choice/src/delivery/index.ts
  packages/elements-react/multiple-choice/src/delivery/main.tsx
  packages/elements-react/multiple-choice/src/delivery/multiple-choice.tsx
  packages/lib-react/graphing/package.json
  packages/lib-react/graphing/src/tools/polygon/component.tsx
Due: lint, types

enter changeset prerelease mode (next)
  .changeset/pre.json
Due: none

add changeset to bump next
  .changeset/petite-hats-try.md
Due: none

update bun.lock
  bun.lock
Due: none

bump only multiple-choice
  .changeset/petite-hats-try.md
Due: none

bump only multiple-choice
  .changeset/common-cougars-hang.md
Due: none

chore: created a plan to create better parity testing (CONTOOL-2194)
  docs/prds/mc-populated-blank-parity/PRD.md
  docs/prds/mc-populated-blank-parity/issues/01-learnosity-signing-endpoint.md
  docs/prds/mc-populated-blank-parity/issues/02-parity-route-skeleton.md
  docs/prds/mc-populated-blank-parity/issues/03-sentinel-element-identification.md
  docs/prds/mc-populated-blank-parity/issues/04-audio-mock-utility.md
  docs/prds/mc-populated-blank-parity/issues/05-aria-attribute-list.md
  docs/prds/mc-populated-blank-parity/issues/06-first-variant-parity-spec.md
  docs/prds/mc-populated-blank-parity/issues/07-remaining-variant-parity-specs.md
  docs/prds/mc-populated-blank-parity/issues/08-image-based-variant-additions.md
Due: none

enable cicd npm publish
  .changeset/floppy-sites-watch.md
  .github/workflows/release.yml
Due: none

turbo update
  bun.lock
  package.json
Due: none

PIE-423
  packages/elements-react/multiple-choice/package.json
  packages/shared/math-rendering-mathjax/src/adapter.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
Due: lint, types

chore: New live playwrite end to end tests for more parity checking (CONTOOL-2194)
  apps/element-demo/package.json
  apps/element-demo/playwright.config.ts
  apps/element-demo/src/lib/samples/mc-populated-blank.json
  apps/element-demo/src/routes/[element]/parity/+page.server.ts
  apps/element-demo/src/routes/[element]/parity/+page.svelte
  apps/element-demo/test/e2e/audio-mock.ts
  apps/element-demo/test/e2e/mc-populated-blank-gg-plus-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-ggplus-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-gplusggg-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-s3-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-sel-vic-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-sr-vic-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-transcript-parity.spec.ts
  docs/prds/mc-populated-blank-parity/issues/03-sentinel-element-identification.md
  docs/prds/mc-populated-blank-parity/issues/08-image-based-variant-additions.md
  packages/elements-svelte/mc-populated-blank/src/controller/defaults.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/AudioPlayer.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/AudioPlayer.test.ts
  packages/elements-svelte/mc-populated-blank/src/shared/types.ts
Due: lint, types

re-enable publishing on changeset detection
  .changeset/orange-toes-dream.md
  .github/workflows/release.yml
Due: none

fix: New parity tests are passing (CONTOOL-2194)
  apps/element-demo/src/lib/samples/mc-populated-blank.json
  apps/element-demo/src/routes/[element]/parity/+page.server.ts
  apps/element-demo/src/routes/[element]/parity/+page.svelte
  apps/element-demo/test/e2e/audio-mock.ts
  apps/element-demo/test/e2e/mc-populated-blank-gg-plus-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-ggplus-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-gplusggg-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-s3-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-sel-vic-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-sr-vic-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-transcript-parity.spec.ts
Due: lint, types

fix: audio player refactoring (CONTOOL-2194)
  apps/element-demo/src/routes/[element]/parity/+page.server.ts
  apps/element-demo/src/routes/[element]/parity/+page.svelte
  apps/element-demo/test/e2e/audio-mock.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/AudioPlayer.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/AudioPlayer.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
Due: lint, types

chore: commit check formatting (CONTOOL-2194)
  packages/elements-svelte/mc-populated-blank/src/delivery/AudioPlayer.svelte
Due: lint

fix: extracted a ChoiceRow component (CONTOOL-2194)
  packages/elements-svelte/mc-populated-blank/src/delivery/ChoiceRow.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/ChoiceRow.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
Due: lint, types

fix: Extracted a ClozeMarker component (CONTOOL2194)
  packages/elements-svelte/mc-populated-blank/CONTEXT.md
  packages/elements-svelte/mc-populated-blank/src/delivery/ClozeMarker.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/ClozeMarker.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
Due: lint, types

fix: More tests created to cover holes in test plan (CONTOOL-2194)
  apps/element-demo/test/e2e/mc-populated-blank-interaction.spec.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/AudioPlayer.test.ts
Due: lint, types

fix: Extracted compute layout profile and added tests (CONTOOL-2194)
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/computeLayoutProfile.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/computeLayoutProfile.ts
Due: lint, types

fix: consolidated tests afer looking for overlap (CONTOOL-2194)
  apps/element-demo/test/e2e/mc-populated-blank-gg-plus-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-ggplus-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-gplusggg-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-parity-shared.ts
  apps/element-demo/test/e2e/mc-populated-blank-s3-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-sel-vic-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-sr-vic-parity.spec.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/computeLayoutProfile.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/computeLayoutProfile.ts
Due: lint, types

fix: Added AXE testing based upon accessibility specs in project (CONTOOL-2194)
  apps/element-demo/test/e2e/mc-populated-blank-a11y.spec.ts
Due: lint, types

PIE-534 add a11y scenario suite
  .github/workflows/a11y.yml
  apps/element-demo/package.json
  apps/element-demo/playwright.a11y.config.ts
  apps/element-demo/src/lib/a11y/A11yRunControls.svelte
  apps/element-demo/src/lib/a11y/A11yScanPlayer.svelte
  apps/element-demo/src/lib/a11y/run-types.ts
  apps/element-demo/src/lib/a11y/scenarios/catalog.ts
  apps/element-demo/src/lib/a11y/scenarios/types.ts
  apps/element-demo/src/lib/a11y/suite.ts
  apps/element-demo/src/lib/a11y/wcag.ts
  apps/element-demo/src/lib/element-player/configure-loader.ts
  apps/element-demo/src/lib/server/a11y-runner.ts
  apps/element-demo/src/routes/+page.svelte
  apps/element-demo/src/routes/a11y/+page.svelte
  apps/element-demo/src/routes/a11y/+page.ts
  apps/element-demo/src/routes/a11y/[element]/scan/+page.svelte
  apps/element-demo/src/routes/a11y/[element]/scan/+page.ts
  apps/element-demo/src/routes/a11y/api/reports/[runId]/[file]/+server.ts
  apps/element-demo/src/routes/a11y/api/runs/+server.ts
  apps/element-demo/src/routes/a11y/api/runs/[runId]/+server.ts
  apps/element-demo/src/routes/a11y/inventory/+page.svelte
  apps/element-demo/src/routes/a11y/inventory/+page.ts
  apps/element-demo/src/routes/a11y/reports/[runId]/+page.server.ts
  apps/element-demo/src/routes/a11y/reports/[runId]/+page.svelte
  apps/element-demo/test/a11y/README.md
  apps/element-demo/test/a11y/axe-inventory.spec.ts
  apps/element-demo/test/a11y/axe-scenarios.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-correct-answer.spec.ts
  apps/element-demo/test/e2e/phase1-spatial-dnd.spec.ts
  apps/element-demo/test/e2e/smoke-matrix.spec.ts
  apps/element-demo/test/e2e/unified-player-strategy.spec.ts
  docs/ACCESSIBILITY.md
  package.json
Due: lint, types

PIE-534 deepen a11y scenario coverage
  .cursor/rules/a11y-scenario-suite.mdc
  apps/element-demo/src/lib/a11y/scenarios/catalog.ts
  apps/element-demo/src/lib/a11y/scenarios/types.ts
  apps/element-demo/test/a11y/axe-scenarios.spec.ts
  docs/a11y/TRACKING.md
  docs/a11y/categorize.md
  docs/a11y/charting.md
  docs/a11y/complex-rubric.md
  docs/a11y/drag-in-the-blank.md
  docs/a11y/drawing-response.md
  docs/a11y/ebsr.md
  docs/a11y/explicit-constructed-response.md
  docs/a11y/extended-text-entry.md
  docs/a11y/fraction-model.md
  docs/a11y/graphing-solution-set.md
  docs/a11y/graphing.md
  docs/a11y/hotspot.md
  docs/a11y/image-cloze-association.md
  docs/a11y/inline-dropdown.md
  docs/a11y/likert.md
  docs/a11y/match-list.md
  docs/a11y/match.md
  docs/a11y/math-inline.md
  docs/a11y/math-templated.md
  docs/a11y/matrix.md
  docs/a11y/mc-populated-blank.md
  docs/a11y/multi-trait-rubric.md
  docs/a11y/multiple-choice.md
  docs/a11y/number-line.md
  docs/a11y/passage.md
  docs/a11y/placement-ordering.md
  docs/a11y/rubric.md
  docs/a11y/select-text.md
  docs/a11y/simple-cloze.md
  docs/a11y/venn-classification.md
Due: lint, types

fix: working through some manual testing (CONTOOL-2194)
  apps/element-demo/test/e2e/mc-populated-blank-gplusggg-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-s3-parity.spec.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-gplusggg.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-plusggg.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-s3.css
Due: lint, types

fix: Commit check formatting (CONTOOL-2194)
  apps/element-demo/test/e2e/capture-baselines.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-parity-shared.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-g-stem.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-gg-plus.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-gplusggg.css
Due: lint, types

docs: add PIE Elements NG project overview
  docs/img/why-new-project-pie-elements-ng-1-1778213475864.jpg
  docs/why-a-new-project.md
Due: none

fix: Added the remaining variant parity tests (CONTOOL2194)
  apps/element-demo/test/e2e/mc-populated-blank-s3-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-sel-vic-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-sr-vic-parity.spec.ts
  apps/element-demo/test/e2e/parity-regions.ts
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-s3-audio.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-s3-choices.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-s3-stem.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-vic-choices.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-vic-stem.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sr-vic-choices.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sr-vic-stem.png
Due: lint, types

fix: added delay to fix failing test (CONTOOL-2194)
  apps/element-demo/test/e2e/mc-populated-blank-correct-answer.spec.ts
Due: lint, types

a11y wip
  docs/a11y/INDEX.md
  docs/a11y/INITIATIVE-MAP.md
  docs/a11y/_audit-template.md
  docs/a11y/confluence-map.json
  docs/prds/PM_GUIDE.md
  docs/prds/README.md
  package.json
  scripts/a11y-confluence-sync.mjs
Due: none

fix: Added tests for graphic content (CONTOOL-2194)
  apps/element-demo/test/e2e/mc-populated-blank-graphic-parity.spec.ts
  apps/element-demo/test/e2e/parity-regions.ts
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-g-stem-graphic-choices.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-g-stem-graphic-stem.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-gg-plus-graphic-choices.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-gg-plus-graphic-stem.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-ggplus-graphic-choices.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-ggplus-graphic-stem.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-gplusggg-graphic-choices.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-gplusggg-graphic-stem.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-plusggg-graphic-choices.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-plusggg-graphic-stem.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-s3-graphic-choices.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-s3-graphic-stem.png
Due: lint, types

fix: added audio transcript tests (CONTOOL-2194)
  apps/element-demo/src/lib/samples/mc-populated-blank.json
  apps/element-demo/test/e2e/mc-populated-blank-audio-structure.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-graphic-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-transcript-parity.spec.ts
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-g-stem-graphic-transcript.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-g-stem-transcript.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-gg-plus-graphic-transcript.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-gg-plus-transcript.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-ggplus-graphic-transcript.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-ggplus-transcript.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-gplusggg-graphic-transcript.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-gplusggg-transcript.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-plusggg-graphic-transcript.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-plusggg-transcript.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-s3-graphic-transcript.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-s3-transcript.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-vic-transcript.png
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
Due: lint, types

fix: the s3 cloze text font size is correct when a selection is made (CONTOOL-2194)
  apps/element-demo/src/lib/samples/mc-populated-blank.json
  apps/element-demo/test/e2e/mc-populated-blank-s3-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-selected-state-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-transcript-parity.spec.ts
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-g-stem-choices-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-g-stem-graphic-choices-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-g-stem-graphic-stem-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-g-stem-stem-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-gg-plus-choices-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-gg-plus-graphic-choices-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-gg-plus-graphic-stem-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-gg-plus-stem-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-ggplus-choices-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-ggplus-graphic-choices-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-ggplus-graphic-stem-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-ggplus-stem-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-gplusggg-choices-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-gplusggg-graphic-choices-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-gplusggg-graphic-stem-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-gplusggg-stem-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-plusggg-choices-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-plusggg-graphic-choices-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-plusggg-graphic-stem-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-plusggg-stem-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-s3-choices-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-s3-graphic-choices-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-s3-graphic-stem-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-r1-s3-stem-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-vic-choices-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sel-vic-stem-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sr-vic-choices-selected.png
  apps/element-demo/test/e2e/snapshots/pie-variant-sr-vic-stem-selected.png
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-s3.css
Due: lint, types

fix: removed content shift on selection (CONTOOL-2194)
  apps/element-demo/test/e2e/mc-populated-blank-gplusggg-parity.spec.ts
  apps/element-demo/test/e2e/mc-populated-blank-selected-state-parity.spec.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-gplusggg.css
Due: lint, types

chore: some auto-formatting applied (CONTOOL-2194)
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-gplusggg.css
Due: none
