Repository pie-framework/pie-elements-ng: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    dependency-integrity-fast:
      run: bun run verify:dependency-integrity --fail-on-hoist
    lint:
      glob: "*.{js,ts,svelte}"
      run: bun run lint:fix {staged_files}
    types:
      glob: "*.{ts,tsx}"
      run: bunx tsc --noEmit

pre-push:
  parallel: false
  commands:
    dependency-integrity-full:
      run: bun run verify:dependency-integrity --check-peer-gaps --fail-on-hoist --fail-on-peer
    test:
      run: bun run test
    build:
      run: bun run build

chore: release mc-populated-blank v0.2.1 and publish guidance
  .claude/instructions.md
  .cursorrules
  packages/elements-svelte/mc-populated-blank/CHANGELOG.md
  packages/elements-svelte/mc-populated-blank/package.json
Due: none

fix: align mc-populated-blank correct-answer UX with PIE patterns
  apps/element-demo/test/e2e/mc-populated-blank-correct-answer.spec.ts
  packages/elements-svelte/mc-populated-blank/package.json
  packages/elements-svelte/mc-populated-blank/src/controller/index.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/lib-svelte/styling/src/correct-answer.ts
  packages/lib-svelte/styling/src/index.ts
Due: lint, types

fix: mark unanswered evaluate state as incorrect in mc-populated-blank
  apps/element-demo/test/e2e/mc-populated-blank-correct-answer.spec.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
Due: lint, types

chore: release mc-populated-blank v0.2.2
  packages/elements-svelte/mc-populated-blank/CHANGELOG.md
  packages/elements-svelte/mc-populated-blank/package.json
Due: none

chore: publish styling package and repair svelte dependency graph
  packages/elements-svelte/mc-populated-blank/CHANGELOG.md
  packages/elements-svelte/mc-populated-blank/package.json
  packages/elements-svelte/simple-cloze/CHANGELOG.md
  packages/elements-svelte/simple-cloze/package.json
  packages/lib-svelte/editable-html-tiptap-svelte/CHANGELOG.md
  packages/lib-svelte/editable-html-tiptap-svelte/package.json
  packages/lib-svelte/styling/CHANGELOG.md
  packages/lib-svelte/styling/package.json
Due: none

chore: publish svelte styling under @pie-lib scope
  bun.lock
  packages/elements-svelte/mc-populated-blank/CHANGELOG.md
  packages/elements-svelte/mc-populated-blank/package.json
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/simple-cloze/CHANGELOG.md
  packages/elements-svelte/simple-cloze/package.json
  packages/lib-svelte/editable-html-tiptap-svelte/CHANGELOG.md
  packages/lib-svelte/editable-html-tiptap-svelte/package.json
  packages/lib-svelte/styling/CHANGELOG.md
  packages/lib-svelte/styling/README.md
  packages/lib-svelte/styling/package.json
  packages/lib-svelte/styling/src/index.ts
Due: lint, types

fix: align mc-populated-blank evaluate correctness contract
  packages/elements-svelte/mc-populated-blank/src/controller/index.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
Due: lint, types

fix: stabilize mc-populated-blank controller export shape
  packages/elements-svelte/mc-populated-blank/src/index.iife.ts
  packages/elements-svelte/mc-populated-blank/src/index.ts
Due: lint, types

fix: keep root mc-populated-blank exports unchanged
  packages/elements-svelte/mc-populated-blank/src/index.ts
Due: lint, types

fix: remove lodash from mc-populated-blank controller
  packages/elements-svelte/mc-populated-blank/package.json
  packages/elements-svelte/mc-populated-blank/src/controller/index.ts
  packages/elements-svelte/mc-populated-blank/src/index.ts
  packages/elements-svelte/mc-populated-blank/vite.controller.config.ts
Due: lint, types

Finalize Svelte element release updates and controller loading hardening.
  apps/element-demo/src/lib/samples/mc-populated-blank.json
  bun.lock
  package.json
  packages/element-player/src/lib/unified-player-loader.ts
  packages/elements-svelte/mc-populated-blank/CHANGELOG.md
  packages/elements-svelte/mc-populated-blank/package.json
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/simple-cloze/CHANGELOG.md
  packages/elements-svelte/simple-cloze/package.json
  scripts/publish-with-env-token.sh
Due: lint, types

chore: require env-token publish script for manual npm releases
  .claude/instructions.md
  .cursorrules
Due: none

fix: add controller shim compatibility and publish mc-populated-blank 0.2.9
  .claude/instructions.md
  .cursor/rules/pie-api-builder-controller-compat.mdc
  .cursorrules
  README.md
  packages/elements-svelte/mc-populated-blank/CHANGELOG.md
  packages/elements-svelte/mc-populated-blank/README.md
  packages/elements-svelte/mc-populated-blank/controller.js
  packages/elements-svelte/mc-populated-blank/package.json
Due: lint

feat: bundle CQT variant styles and tighten demo parity
  apps/element-demo/src/lib/samples/mc-populated-blank.json
  apps/element-demo/src/lib/stores/demo-state.ts
  packages/elements-svelte/mc-populated-blank/README.md
  packages/elements-svelte/mc-populated-blank/src/controller/index.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-g-stem.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-gg-plus.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-ggplus.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-gplusggg.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-plusggg.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-s3.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-vic.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sr-vic.css
  packages/elements-svelte/mc-populated-blank/src/delivery/variant-css-map.ts
  packages/elements-svelte/mc-populated-blank/src/types/css-raw.d.ts
Due: lint, types

chore: release mc-populated-blank 0.2.10
  packages/elements-svelte/mc-populated-blank/CHANGELOG.md
  packages/elements-svelte/mc-populated-blank/package.json
Due: none

upstream sync
  .compatibility/report.json
  bun.lock
  packages/elements-react/categorize/package.json
  packages/elements-react/charting/package.json
  packages/elements-react/complex-rubric/package.json
  packages/elements-react/drag-in-the-blank/package.json
  packages/elements-react/drawing-response/package.json
  packages/elements-react/ebsr/package.json
  packages/elements-react/explicit-constructed-response/package.json
  packages/elements-react/extended-text-entry/package.json
  packages/elements-react/fraction-model/package.json
  packages/elements-react/graphing-solution-set/package.json
  packages/elements-react/graphing/package.json
  packages/elements-react/hotspot/package.json
  packages/elements-react/image-cloze-association/package.json
  packages/elements-react/inline-dropdown/package.json
  packages/elements-react/likert/package.json
  packages/elements-react/match/package.json
  packages/elements-react/matrix/package.json
  packages/elements-react/multi-trait-rubric/package.json
  packages/elements-react/multiple-choice/package.json
  packages/elements-react/number-line/package.json
  packages/elements-react/passage/package.json
  packages/elements-react/placement-ordering/package.json
  packages/elements-react/rubric/package.json
  packages/elements-react/select-text/package.json
  packages/lib-react/charting/package.json
  packages/lib-react/config-ui/package.json
  packages/lib-react/editable-html-tip-tap/package.json
  packages/lib-react/editable-html-tip-tap/src/components/TiptapContainer.tsx
  packages/lib-react/editable-html-tip-tap/src/components/respArea/ExplicitConstructedResponse.tsx
  packages/lib-react/editable-html-tip-tap/src/extensions/image-component.tsx
  packages/lib-react/editable-html-tip-tap/src/extensions/image.tsx
  packages/lib-react/editable-html-tip-tap/src/extensions/math.tsx
  packages/lib-react/graphing-solution-set/package.json
  packages/lib-react/graphing/package.json
  packages/lib-react/mask-markup/package.json
  packages/lib-react/math-toolbar/package.json
  packages/lib-react/plot/package.json
  packages/lib-react/rubric/package.json
Due: types

remove forced reload since that nukes the user input/ session
  apps/element-demo/src/lib/element-player/components/ModeSelector.svelte
  apps/element-demo/src/routes/[element]/+layout.svelte
Due: lint

fix: align release dist-tag routing with upstream policy
  .github/workflows/release.yml
  README.md
  docs/ARCHITECTURE.md
  docs/PUBLISHING.md
  package.json
  scripts/backfill-dist-tags.mjs
  scripts/changeset-publish-resolved-workspaces.mjs
  scripts/publish-with-env-token.sh
  scripts/release-publish-selective.mjs
Due: none

upstream sync
  .compatibility/report.json
  bun.lock
  packages/lib-react/charting/package.json
  packages/lib-react/config-ui/package.json
  packages/lib-react/correct-answer-toggle/package.json
  packages/lib-react/drag/package.json
  packages/lib-react/editable-html-tip-tap/package.json
  packages/lib-react/editable-html-tip-tap/src/components/media/MediaDialog.tsx
  packages/lib-react/editable-html-tip-tap/src/extensions/image-component.tsx
  packages/lib-react/editable-html-tip-tap/src/extensions/image.tsx
  packages/lib-react/graphing-solution-set/package.json
  packages/lib-react/graphing/package.json
  packages/lib-react/mask-markup/package.json
  packages/lib-react/math-toolbar/package.json
  packages/lib-react/plot/package.json
  packages/lib-react/render-ui/package.json
  packages/lib-react/render-ui/src/preview-prompt.tsx
  packages/lib-react/rubric/package.json
  packages/lib-react/text-select/package.json
Due: types

chore: refresh generated docs manifests
  apps/element-demo/static/element-docs/categorize/manifest.json
  apps/element-demo/static/element-docs/charting/manifest.json
  apps/element-demo/static/element-docs/complex-rubric/manifest.json
  apps/element-demo/static/element-docs/drag-in-the-blank/manifest.json
  apps/element-demo/static/element-docs/drawing-response/manifest.json
  apps/element-demo/static/element-docs/ebsr/manifest.json
  apps/element-demo/static/element-docs/explicit-constructed-response/manifest.json
  apps/element-demo/static/element-docs/extended-text-entry/manifest.json
  apps/element-demo/static/element-docs/fraction-model/manifest.json
  apps/element-demo/static/element-docs/graphing-solution-set/manifest.json
  apps/element-demo/static/element-docs/graphing/manifest.json
  apps/element-demo/static/element-docs/hotspot/manifest.json
  apps/element-demo/static/element-docs/image-cloze-association/manifest.json
  apps/element-demo/static/element-docs/inline-dropdown/manifest.json
  apps/element-demo/static/element-docs/likert/manifest.json
  apps/element-demo/static/element-docs/match-list/manifest.json
  apps/element-demo/static/element-docs/match/manifest.json
  apps/element-demo/static/element-docs/math-inline/manifest.json
  apps/element-demo/static/element-docs/math-templated/manifest.json
  apps/element-demo/static/element-docs/matrix/manifest.json
  apps/element-demo/static/element-docs/mc-populated-blank/manifest.json
  apps/element-demo/static/element-docs/multi-trait-rubric/manifest.json
  apps/element-demo/static/element-docs/multiple-choice/manifest.json
  apps/element-demo/static/element-docs/number-line/manifest.json
  apps/element-demo/static/element-docs/passage/manifest.json
  apps/element-demo/static/element-docs/placement-ordering/manifest.json
  apps/element-demo/static/element-docs/rubric/manifest.json
  apps/element-demo/static/element-docs/select-text/manifest.json
  apps/element-demo/static/element-docs/simple-cloze/manifest.json
Due: none

feat: PIE-219 refine IIFE retry lifecycle and cancellation events
  packages/element-player/src/index.ts
  packages/element-player/src/lib/iife-bundle-loader.ts
  packages/element-player/src/lib/unified-player-loader.ts
  packages/element-player/src/players/PieElementPlayer.svelte
  packages/element-player/tests/iife-bundle-loader.test.ts
Due: lint, types

PIE-219 add runtime-support preflight and publish checks.
  apps/element-demo/src/routes/[element]/author/+page.svelte
  apps/element-demo/src/routes/[element]/deliver/+page.svelte
  apps/element-demo/src/routes/[element]/print/+page.svelte
  package.json
  packages/element-player/src/index.ts
  packages/element-player/src/lib/element-loader.ts
  packages/element-player/src/lib/runtime-support.ts
  packages/element-player/src/lib/types.ts
  packages/element-player/src/lib/unified-player-loader.ts
  packages/element-player/src/players/PieElementPlayer.svelte
  packages/element-player/tests/pie-element-player-runtime-check.test.ts
  packages/element-player/tests/runtime-support-loader.test.ts
  scripts/verify-runtime-support-exports.mjs
Due: lint, types

PIE-219 apply formatter updates for runtime-support files.
  packages/element-player/src/lib/element-loader.ts
  packages/element-player/src/players/PieElementPlayer.svelte
  packages/element-player/tests/runtime-support-loader.test.ts
Due: lint, types

docs(prd): add PRD tree, conventions, and heading-accessibility spec
  .claude/instructions.md
  .cursorrules
  docs/prds/README.md
  docs/prds/_template.md
  docs/prds/heading-accessibility/PRD.md
  docs/prds/heading-accessibility/diagrams/architecture.jpg
  docs/prds/venn-classification/PRD.md
  docs/prds/venn-classification/wireframes/authoring.jpg
  docs/prds/venn-classification/wireframes/delivery.jpg
  packages/elements-svelte/mc-populated-blank/README.md
Due: none

claude instructions
  .claude/CLAUDE.md
Due: none

chore: address biome lint warnings
  apps/element-demo/src/lib/testing/react-element-matrix.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/index.ts
  packages/elements-svelte/venn-classification/src/delivery/layout.ts
  packages/elements-svelte/venn-classification/tests/controller.test.ts
  packages/elements-svelte/venn-classification/tests/layout.test.ts
  tools/cli/src/lib/docs/contracts.ts
Due: lint, types

fix(ci): declare vite toolchain in lib-react packages and route CLI build through turbo
  bun.lock
  package.json
  packages/lib-react/categorize/package.json
  packages/lib-react/charting/package.json
  packages/lib-react/config-ui/package.json
  packages/lib-react/controller-utils/package.json
  packages/lib-react/correct-answer-toggle/package.json
  packages/lib-react/drag/package.json
  packages/lib-react/editable-html-tip-tap/package.json
  packages/lib-react/graphing-solution-set/package.json
  packages/lib-react/graphing-utils/package.json
  packages/lib-react/graphing/package.json
  packages/lib-react/icons/package.json
  packages/lib-react/mask-markup/package.json
  packages/lib-react/math-input/package.json
  packages/lib-react/math-rendering/package.json
  packages/lib-react/math-toolbar/package.json
  packages/lib-react/plot/package.json
  packages/lib-react/render-ui/package.json
  packages/lib-react/rubric/package.json
  packages/lib-react/style-utils/package.json
  packages/lib-react/test-utils/package.json
  packages/lib-react/text-select/package.json
  packages/lib-react/tools/package.json
  packages/lib-react/translator/package.json
  tools/cli/src/lib/upstream/sync-constants.ts
  tools/cli/src/lib/upstream/sync-package-manager.ts
Due: lint, types

fix(ci): declare svelte vite plugin at root and make docs:verify tolerant of json formatting
  package.json
  tools/cli/src/lib/docs/generator.ts
Due: lint, types

fix(ci): align esm-output test with build excludes and ignore changeset README in release detect
  .github/workflows/release.yml
  tests/esm-output.test.ts
Due: lint, types

chore(upstream-sync): pin pie-lib build-tool devDeps to repo versions
  tools/cli/src/lib/upstream/sync-package-manager.ts
Due: lint, types

ci(release): disable automated npm publish from GitHub Actions
  .github/workflows/release.yml
Due: none

docs: review and clean up documentation
  .claude/skills/pie-controller-reviewer/SKILL.md
  .claude/skills/pie-element-author/SKILL.md
  .claude/skills/pie-prd-author/SKILL.md
  .claude/skills/upstream-sync-guide/SKILL.md
  PATRICIA_ISSUES_TRACKER.md
  README.md
  UBIQUITOUS_LANGUAGE.md
  docs/ACCESSIBILITY.md
  docs/API_REFERENCE.md
  docs/ARCHITECTURE.md
  docs/BUNDLER_SERVICE.md
  docs/TROUBLESHOOTING.md
  docs/e2e-baseline-findings-2026-03-20.md
  docs/esm-dependencies-analysis.md
  docs/esm-testing-strategy.md
  docs/migration/UPSTREAM_SYNC_GUIDE.md
  docs/upstream-sync-commit-guide.md
  docs/verdaccio-setup.md
Due: none

docs: document just-in-time PRD strategy for existing elements
  .claude/skills/pie-prd-author/SKILL.md
  docs/prds/README.md
Due: none

chore(upstream-sync): upstream update
  .compatibility/report.json
  packages/elements-react/categorize/package.json
  packages/elements-react/charting/package.json
  packages/elements-react/complex-rubric/package.json
  packages/elements-react/drag-in-the-blank/package.json
  packages/elements-react/drawing-response/package.json
  packages/elements-react/ebsr/package.json
  packages/elements-react/explicit-constructed-response/package.json
  packages/elements-react/extended-text-entry/package.json
  packages/elements-react/fraction-model/package.json
  packages/elements-react/graphing-solution-set/package.json
  packages/elements-react/graphing/package.json
  packages/elements-react/hotspot/package.json
  packages/elements-react/image-cloze-association/package.json
  packages/elements-react/inline-dropdown/package.json
  packages/elements-react/likert/package.json
  packages/elements-react/match-list/package.json
  packages/elements-react/match/package.json
  packages/elements-react/matrix/package.json
  packages/elements-react/multi-trait-rubric/package.json
  packages/elements-react/multiple-choice/package.json
  packages/elements-react/number-line/package.json
  packages/elements-react/passage/package.json
  packages/elements-react/passage/src/delivery/index.ts
  packages/elements-react/passage/src/delivery/stimulus-tabs.tsx
  packages/elements-react/placement-ordering/package.json
  packages/elements-react/rubric/package.json
  packages/elements-react/select-text/package.json
  packages/lib-react/charting/package.json
  packages/lib-react/graphing-solution-set/package.json
  packages/lib-react/graphing/package.json
  packages/lib-react/graphing/src/graph.tsx
  packages/lib-react/graphing/src/tools/circle/component.tsx
  packages/lib-react/graphing/src/tools/point/component.tsx
  packages/lib-react/graphing/src/tools/polygon/component.tsx
  packages/lib-react/graphing/src/tools/shared/line/index.tsx
  packages/lib-react/plot/package.json
  packages/lib-react/plot/src/grid-draggable.tsx
Due: lint, types

wip
  .compatibility/report.json
  bun.lock
Due: none
