Repository pie-framework/pie-elements-ng: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    dependency-integrity-fast:
      run: bun run verify:dependency-integrity --fail-on-hoist
    lint:
      glob: "*.{js,ts,svelte}"
      run: bun run lint:fix {staged_files}
    types:
      glob: "*.{ts,tsx}"
      run: bunx tsc --noEmit

pre-push:
  parallel: false
  commands:
    dependency-integrity-full:
      run: bun run verify:dependency-integrity --check-peer-gaps --fail-on-hoist --fail-on-peer
    test:
      run: bun run test
    build:
      run: bun run build

docs+ci(PIE-834): fail `auto` publish on a missing NPM_TOKEN
  .github/workflows/release.yml
  docs/PUBLISHING.md
Due: none

refactor(PIE-879)!: converge on pie-players' `CatalogCard` shape
  .changeset/20260807170000-pie-element-shared-types-asl.md
  docs/API_REFERENCE.md
  packages/shared/types/src/types.ts
  packages/shared/types/tests/accessibility-catalogs.test.ts
  packages/shared/types/tests/fixtures/sign-language-cards.ts
Due: lint, types

refactor(PIE-879)!: state a signing card's adaptation language once, on the card
  .changeset/20260807170000-pie-element-shared-types-asl.md
  docs/API_REFERENCE.md
  packages/shared/types/src/types.ts
  packages/shared/types/tests/accessibility-catalogs.test.ts
  packages/shared/types/tests/fixtures/sign-language-cards.ts
Due: lint, types

refactor(PIE-855)!: reveal the audio transcript from CSS, drop showVisibleTranscript
  .changeset/20260812125500-pie-element-mc-populated-blank.md
  apps/element-demo/test/e2e/mc-populated-blank-audio-structure.spec.ts
  apps/element-demo/test/e2e/test-helpers.ts
  apps/learnosity-parity-demo/test/e2e/mc-populated-blank-sel-vic-parity.spec.ts
  apps/learnosity-parity-demo/test/e2e/mc-populated-blank-sr-vic-parity.spec.ts
  apps/learnosity-parity-demo/test/e2e/mc-populated-blank-transcript-parity.spec.ts
  apps/learnosity-parity-demo/test/e2e/test-helpers.ts
  packages/elements-svelte/mc-populated-blank/README.md
  packages/elements-svelte/mc-populated-blank/src/controller/defaults.ts
  packages/elements-svelte/mc-populated-blank/src/controller/index.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/AudioPlayer.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/AudioPlayer.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.transcript.test.ts
  packages/elements-svelte/mc-populated-blank/src/shared/types.ts
Due: lint, types

refactor(PIE-855)!: stop delivering the audio transcript from the element
  .changeset/20260812125500-pie-element-mc-populated-blank.md
  apps/element-demo/test/e2e/mc-populated-blank-audio-structure.spec.ts
  apps/element-demo/test/e2e/test-helpers.ts
  apps/learnosity-parity-demo/test/e2e/mc-populated-blank-s3-parity.spec.ts
  apps/learnosity-parity-demo/test/e2e/mc-populated-blank-sel-vic-parity.spec.ts
  apps/learnosity-parity-demo/test/e2e/mc-populated-blank-sr-vic-parity.spec.ts
  apps/learnosity-parity-demo/test/e2e/mc-populated-blank-transcript-parity.spec.ts
  apps/learnosity-parity-demo/test/e2e/test-helpers.ts
  packages/elements-svelte/mc-populated-blank/README.md
  packages/elements-svelte/mc-populated-blank/src/delivery/AudioPlayer.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.transcript.test.ts
  packages/elements-svelte/mc-populated-blank/src/shared/types.ts
Due: lint, types

docs(PIE-855): name PIE-904 as where the print-only transcript field goes
  packages/elements-svelte/mc-populated-blank/src/shared/types.ts
Due: lint, types

chore(deps): satisfy Biome 2.5 lint and format
  apps/element-a11y-demo/static/pie-logo-orange.svg
  apps/element-demo/src/routes/[element]/deliver/+page.svelte
  apps/element-demo/static/pie-logo-orange.svg
  apps/learnosity-parity-demo/src/routes/[element]/deliver/+page.svelte
  apps/learnosity-parity-demo/static/pie-logo-orange.svg
  biome.json
  packages/elements-svelte/mc-populated-blank/src/delivery/computeLayoutStyle.test.ts
Due: lint, types

fix(passage): port the stimulus-tabs theming fix from upstream PIE-818
  packages/elements-react/passage/src/delivery/stimulus-tabs.tsx
Due: types

chore: add a changeset for the passage tabs theming fix PIE-818
  .changeset/passage-tabs-follow-the-theme.md
Due: none

Add SpokenAudioCardPayload to CatalogCardPayload
  packages/shared/types/src/types.ts
Due: lint, types

fix: bring Svelte elements' --pie-* reads inside the theming contract (PIE-857)
  .changeset/20260819-pie-857-svelte-token-contract.md
  apps/learnosity-parity-demo/test/e2e/mc-populated-blank-g-stem-parity.spec.ts
  docs/THEMING.md
  packages/elements-svelte/mc-populated-blank/src/delivery/ChoiceRow.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/ClozeMarker.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/computeLayoutStyle.test.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/computeLayoutStyle.ts
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-vic.css
  packages/elements-svelte/venn-classification/src/author/Author.svelte
  packages/elements-svelte/venn-classification/src/delivery/Tile.svelte
  packages/elements-svelte/venn-classification/src/delivery/Tray.svelte
  packages/elements-svelte/venn-classification/src/delivery/VennClassification.svelte
  packages/lib-svelte/styling/src/correct-answer.ts
  packages/lib-svelte/styling/src/index.ts
  tests/pie-token-contract.test.ts
Due: lint, types

fix(theming): route the React grey palette reads through --pie-* tokens PIE-856
  .changeset/20260819-pie-856-react-grey-palette-tokens.md
  packages/elements-react/drag-in-the-blank/src/author/choice.tsx
  packages/elements-react/explicit-constructed-response/src/author/alternateSection.tsx
  packages/elements-react/extended-text-entry/src/delivery/annotation/annotation-menu.tsx
  packages/elements-react/extended-text-entry/src/delivery/annotation/freeform-editor.tsx
  packages/elements-react/graphing/src/author/correct-response.tsx
  packages/elements-react/inline-dropdown/src/author/inline-dropdown-toolbar.tsx
  packages/elements-react/likert/src/author/main.tsx
  packages/elements-react/match-list/src/delivery/answer-area.tsx
  packages/elements-react/match-list/src/delivery/answer.tsx
  packages/elements-react/match-list/src/delivery/arrow.tsx
  packages/elements-react/match/src/author/answer-config-block.tsx
  packages/elements-react/match/src/author/row.tsx
  packages/elements-react/math-inline/src/author/response.tsx
  packages/elements-react/math-templated/src/author/response.tsx
  packages/elements-react/multiple-choice/src/delivery/choice.tsx
  packages/elements-react/placement-ordering/src/delivery/tile.tsx
  packages/lib-react/config-ui/src/choice-configuration/index.tsx
  packages/lib-react/config-ui/src/feedback-config/feedback-selector.tsx
  packages/lib-react/config-ui/src/help.tsx
  packages/lib-react/config-ui/src/layout/settings-box.tsx
  packages/lib-react/editable-html-tip-tap/src/components/MenuBar.tsx
  packages/lib-react/editable-html-tip-tap/src/components/common/toolbar-buttons.tsx
  packages/lib-react/editable-html-tip-tap/src/components/respArea/MathTemplated.tsx
  packages/lib-react/math-toolbar/src/done-button.tsx
  packages/lib-react/render-ui/src/color.ts
  tests/pie-token-contract.test.ts
Due: lint, types

template render as inline textinstead of a block paragraph PIE-822
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
Due: lint

chore: sync legacy pie-elements pie-lib PIE-926
  packages/elements-react/categorize/src/delivery/index.ts
  packages/elements-react/drag-in-the-blank/src/author/choice.tsx
  packages/elements-react/drag-in-the-blank/src/delivery/index.ts
  packages/elements-react/explicit-constructed-response/src/author/alternateSection.tsx
  packages/elements-react/extended-text-entry/src/delivery/annotation/annotation-menu.tsx
  packages/elements-react/extended-text-entry/src/delivery/annotation/freeform-editor.tsx
  packages/elements-react/graphing/src/author/correct-response.tsx
  packages/elements-react/hotspot/src/delivery/index.ts
  packages/elements-react/image-cloze-association/src/delivery/index.ts
  packages/elements-react/inline-dropdown/src/author/inline-dropdown-toolbar.tsx
  packages/elements-react/likert/src/author/main.tsx
  packages/elements-react/match-list/src/delivery/answer-area.tsx
  packages/elements-react/match-list/src/delivery/answer.tsx
  packages/elements-react/match-list/src/delivery/arrow.tsx
  packages/elements-react/match/src/author/answer-config-block.tsx
  packages/elements-react/match/src/author/row.tsx
  packages/elements-react/math-inline/src/author/response.tsx
  packages/elements-react/math-templated/src/author/response.tsx
  packages/elements-react/multiple-choice/src/delivery/choice.tsx
  packages/elements-react/multiple-choice/src/delivery/index.ts
  packages/elements-react/placement-ordering/src/delivery/tile.tsx
  packages/lib-react/config-ui/src/choice-configuration/index.tsx
  packages/lib-react/config-ui/src/feedback-config/feedback-selector.tsx
  packages/lib-react/config-ui/src/help.tsx
  packages/lib-react/config-ui/src/layout/settings-box.tsx
  packages/lib-react/editable-html-tip-tap/src/components/MenuBar.tsx
  packages/lib-react/editable-html-tip-tap/src/components/common/toolbar-buttons.tsx
  packages/lib-react/editable-html-tip-tap/src/components/respArea/MathTemplated.tsx
  packages/lib-react/graphing/src/mark-label.tsx
  packages/lib-react/mask-markup/src/mask.tsx
  packages/lib-react/math-toolbar/src/done-button.tsx
  packages/lib-react/render-ui/src/color.ts
  packages/lib-react/render-ui/src/preview-prompt.tsx
Due: lint, types

fix pie element author skill metadata
  .agents/skills/pie-element-author/SKILL.md
Due: none

docs(prd): reconcile heading accessibility plan with implementation
  docs/prds/heading-accessibility/PRD.md
Due: none

docs(prd): align video stimulus with timed media contracts
  docs/prds/video-stimulus/PRD.md
Due: none

chore: sync legacy pie-elements pie-lib release
  bun.lock
  packages/elements-react/drawing-response/package.json
  packages/elements-react/image-cloze-association/src/delivery/image-container.tsx
  packages/elements-react/image-cloze-association/src/delivery/image-drop-target.tsx
  packages/elements-react/image-cloze-association/src/delivery/keyboard-coordinates.ts
  packages/elements-react/image-cloze-association/src/delivery/possible-response.tsx
  packages/elements-react/image-cloze-association/src/delivery/possible-responses.tsx
  packages/elements-react/image-cloze-association/src/delivery/root.tsx
  packages/elements-react/match-list/src/delivery/answer.tsx
  packages/elements-react/match-list/src/delivery/keyboard-coordinates.ts
  packages/lib-react/drag/src/drag-provider.tsx
  packages/lib-react/editable-html-tip-tap/package.json
  packages/lib-react/editable-html-tip-tap/src/components/TiptapContainer.tsx
  packages/lib-react/editable-html-tip-tap/src/styles/editorContainerStyles.ts
  packages/lib-react/graphing-solution-set/package.json
  packages/lib-react/graphing/package.json
  packages/lib-react/graphing/src/mark-label.tsx
  packages/lib-react/mask-markup/package.json
  packages/lib-react/mask-markup/src/choices/choice.tsx
  packages/lib-react/mask-markup/src/choices/index.tsx
  packages/lib-react/mask-markup/src/components/blank.tsx
  packages/lib-react/mask-markup/src/components/dropdown.tsx
  packages/lib-react/mask-markup/src/drag-in-the-blank.tsx
  packages/lib-react/mask-markup/src/keyboard-coordinates.ts
  packages/lib-react/render-ui/src/color.ts
  packages/lib-react/render-ui/src/preview-prompt.tsx
  packages/lib-react/test-utils/package.json
Due: lint, types

fix(sync): restore downgraded deps and record the new --pie-table-* tokens
  bun.lock
  packages/elements-react/drawing-response/package.json
  packages/lib-react/editable-html-tip-tap/package.json
  packages/lib-react/graphing-solution-set/package.json
  packages/lib-react/graphing/package.json
  packages/lib-react/test-utils/package.json
  tests/pie-token-contract.test.ts
Due: lint, types

chore(release): publish ng builds of translator, categorize, graphing-utils
  .changeset/20260827113820-pie-lib-categorize-pie-lib-graphing-.md
Due: none

fix(elements): pin react/react-dom as dependencies, not peers only
  .changeset/20260828090850-pie-element-categorize-pie-element-c.md
  bun.lock
  packages/elements-react/categorize/package.json
  packages/elements-react/charting/package.json
  packages/elements-react/complex-rubric/package.json
  packages/elements-react/drag-in-the-blank/package.json
  packages/elements-react/drawing-response/package.json
  packages/elements-react/ebsr/package.json
  packages/elements-react/explicit-constructed-response/package.json
  packages/elements-react/extended-text-entry/package.json
  packages/elements-react/fraction-model/package.json
  packages/elements-react/graphing-solution-set/package.json
  packages/elements-react/graphing/package.json
  packages/elements-react/hotspot/package.json
  packages/elements-react/image-cloze-association/package.json
  packages/elements-react/inline-dropdown/package.json
  packages/elements-react/likert/package.json
  packages/elements-react/match-list/package.json
  packages/elements-react/match/package.json
  packages/elements-react/math-inline/package.json
  packages/elements-react/math-templated/package.json
  packages/elements-react/matrix/package.json
  packages/elements-react/multi-trait-rubric/package.json
  packages/elements-react/multiple-choice/package.json
  packages/elements-react/number-line/package.json
  packages/elements-react/passage/package.json
  packages/elements-react/placement-ordering/package.json
  packages/elements-react/rubric/package.json
  packages/elements-react/select-text/package.json
  scripts/check-publish-surface.mjs
  tools/cli/src/lib/upstream/sync-package-manager.ts
  tools/cli/tests/sync-package-manager.test.ts
Due: lint, types

chore(sync): add sync regression check and make this repo the source of truth
  AGENTS.md
  package.json
  scripts/check-sync-regressions.mjs
Due: none

fix(elements): use a caret range for react, not an exact pin
  bun.lock
  packages/elements-react/categorize/package.json
  packages/elements-react/charting/package.json
  packages/elements-react/complex-rubric/package.json
  packages/elements-react/drag-in-the-blank/package.json
  packages/elements-react/drawing-response/package.json
  packages/elements-react/ebsr/package.json
  packages/elements-react/explicit-constructed-response/package.json
  packages/elements-react/extended-text-entry/package.json
  packages/elements-react/fraction-model/package.json
  packages/elements-react/graphing-solution-set/package.json
  packages/elements-react/graphing/package.json
  packages/elements-react/hotspot/package.json
  packages/elements-react/image-cloze-association/package.json
  packages/elements-react/inline-dropdown/package.json
  packages/elements-react/likert/package.json
  packages/elements-react/match-list/package.json
  packages/elements-react/match/package.json
  packages/elements-react/math-inline/package.json
  packages/elements-react/math-templated/package.json
  packages/elements-react/matrix/package.json
  packages/elements-react/multi-trait-rubric/package.json
  packages/elements-react/multiple-choice/package.json
  packages/elements-react/number-line/package.json
  packages/elements-react/passage/package.json
  packages/elements-react/placement-ordering/package.json
  packages/elements-react/rubric/package.json
  packages/elements-react/select-text/package.json
  scripts/check-publish-surface.mjs
  tools/cli/src/lib/upstream/sync-package-manager.ts
  tools/cli/tests/sync-package-manager.test.ts
Due: lint, types

fix(graphing): sync new-label caret fix from upstream (PIE-681)
  .changeset/20260828112044-pie-lib-graphing.md
  packages/lib-react/graphing/src/mark-label.tsx
Due: types

chore(skills): remove grill-me and loop-review-agents agent skills
  .agents/skills/grill-me/SKILL.md
  .agents/skills/loop-review-agents/SKILL.md
  .agents/skills/source-command-grill-me/SKILL.md
  .claude/commands/grill-me.md
  .claude/commands/loop-review-agents.md
  .claude/skills/grill-me/SKILL.md
  .claude/skills/loop-review-agents/SKILL.md
Due: none

feat(categorize): add additional keyboard navigation (Tab/Shift+Tab placement) PIE-803 and click-to-select/click-to-place functionality PIE-797
  bun.lock
  package.json
  packages/elements-react/categorize/package.json
  packages/elements-react/categorize/src/delivery/categorize/__tests__/categories.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/__tests__/category.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/__tests__/choice.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/__tests__/choices.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/__tests__/droppable-placeholder.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/__tests__/grid-content.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/__tests__/index.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/__tests__/keyboard-coordinates.test.ts
  packages/elements-react/categorize/src/delivery/categorize/__tests__/vitest-env.d.ts
  packages/elements-react/categorize/src/delivery/categorize/categories.tsx
  packages/elements-react/categorize/src/delivery/categorize/category.tsx
  packages/elements-react/categorize/src/delivery/categorize/choice.tsx
  packages/elements-react/categorize/src/delivery/categorize/choices.tsx
  packages/elements-react/categorize/src/delivery/categorize/droppable-placeholder.tsx
  packages/elements-react/categorize/src/delivery/categorize/index.tsx
  packages/elements-react/categorize/src/delivery/categorize/keyboard-coordinates.ts
  packages/elements-react/categorize/vite.config.ts
  packages/elements-react/categorize/vitest.setup.ts
  turbo.json
Due: lint, types

feat(categorize): add border for selected choices PIE-960
  packages/elements-react/categorize/src/delivery/categorize/__tests__/choice.test.tsx
  packages/elements-react/categorize/src/delivery/categorize/choice.tsx
Due: types

fix: add missing @testing-library/dom peer dep for categorize tests PIE-960
  bun.lock
  packages/elements-react/categorize/package.json
Due: none

feat: add border for selected choices PIE-960
  packages/elements-react/image-cloze-association/src/delivery/possible-response.tsx
  packages/elements-react/match-list/src/delivery/answer.tsx
  packages/lib-react/mask-markup/src/choices/choice.tsx
Due: types

fix: center dragged item on target in keyboard placement PIE-803
  packages/elements-react/image-cloze-association/src/delivery/keyboard-coordinates.ts
  packages/elements-react/match-list/src/delivery/keyboard-coordinates.ts
  packages/elements-react/placement-ordering/src/delivery/keyboard-coordinates.ts
  packages/lib-react/mask-markup/src/keyboard-coordinates.ts
  packages/lib-react/mask-markup/src/mask.tsx
Due: lint, types

fix: center dragged item on target in keyboard placement PIE-803
  packages/elements-react/categorize/src/delivery/categorize/__tests__/keyboard-coordinates.test.ts
  packages/elements-react/categorize/src/delivery/categorize/keyboard-coordinates.ts
Due: lint, types

fix: persist changes between demo page tabs and reset delivery state PIE-993
  apps/element-demo/src/lib/stores/demo-state.ts
  apps/element-demo/src/routes/[element]/+layout.svelte
Due: lint, types

fix(placement-ordering): adjust keyboard Tab cycle PIE-963 PIE-964
  packages/elements-react/placement-ordering/src/delivery/keyboard-coordinates.ts
  packages/elements-react/placement-ordering/src/delivery/ordering.ts
  packages/elements-react/placement-ordering/src/delivery/placement-ordering.tsx
Due: lint, types

feat(theming): add a surface token and use it for drag placeholders
  packages/lib-react/drag/src/placeholder.tsx
  packages/lib-react/render-ui/src/color.ts
  packages/shared/theming/src/constants.ts
  packages/shared/theming/src/pie-themes.ts
  packages/shared/theming/src/types.ts
Due: lint, types

fix: typo
  packages/shared/theming/src/types.ts
Due: lint, types

fix: test
  tests/pie-token-contract.test.ts
Due: lint, types

fix: revert changes - made another fix on PIE-963 PIE-964
  packages/elements-react/placement-ordering/src/delivery/keyboard-coordinates.ts
Due: lint, types
