Repository pie-framework/pie-elements-ng: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    dependency-integrity-fast:
      run: bun run verify:dependency-integrity --fail-on-hoist
    lint:
      glob: "*.{js,ts,svelte}"
      run: bun run lint:fix {staged_files}
    types:
      glob: "*.{ts,tsx}"
      run: bunx tsc --noEmit

pre-push:
  parallel: false
  commands:
    dependency-integrity-full:
      run: bun run verify:dependency-integrity --check-peer-gaps --fail-on-hoist --fail-on-peer
    test:
      run: bun run test
    build:
      run: bun run build

fix(mc-populated-blank): drop the empty transcript row from the s3 grid (PIE-1127)
  packages/elements-svelte/mc-populated-blank/README.md
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-base.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-s3.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-vic.css
Due: none

fix(mc-populated-blank): bottom-align r1 stem tokens and the answer as Learnosity does (PIE-1128)
  .changeset/20260930-mc-populated-blank-r1-token-baseline.md
  apps/learnosity-parity-demo/test/e2e/mc-populated-blank-g-stem-underline-gap.spec.ts
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-g-stem-graphic-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-g-stem-graphic-stem.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-g-stem-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-gg-plus-graphic-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-gg-plus-graphic-stem.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-gg-plus-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-ggplus-graphic-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-ggplus-graphic-stem.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-ggplus-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-gplusggg-graphic-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-gplusggg-graphic-stem.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-gplusggg-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-plusggg-graphic-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-plusggg-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-vic-stem-selected.png
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-base.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-g-stem.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-gplusggg.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-vic.css
Due: lint, types

fix(mc-populated-blank): stack the CQT layouts in one column below 850px as Learnosity does
  .changeset/20260930-mc-populated-blank-phone-stacking.md
  packages/elements-svelte/mc-populated-blank/src/delivery/McPopulatedBlank.svelte
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-base.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-s3.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-vic.css
Due: lint

fix(mc-populated-blank): drop the CQT blank's inline padding and space the vic radios as Learnosity does
  .changeset/20260930-mc-populated-blank-cqt-blank-padding.md
  apps/learnosity-parity-demo/test/e2e/mc-populated-blank-s3-parity.spec.ts
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-g-stem-graphic-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-gg-plus-graphic-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-ggplus-graphic-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-gplusggg-graphic-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-r1-plusggg-graphic-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-vic-choices-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sel-vic-stem-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sr-vic-choices-selected.png
  apps/learnosity-parity-demo/test/e2e/snapshots/pie-variant-sr-vic-stem-selected.png
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-r1-base.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sel-vic.css
  packages/elements-svelte/mc-populated-blank/src/delivery/cqt-css/sr-vic.css
Due: lint, types

docs(mc-populated-blank): bottom-anchor r1 token text in the wireframes (PIE-1128)
  packages/elements-svelte/mc-populated-blank/docs/layouts/layout-audio-blank-only.png
  packages/elements-svelte/mc-populated-blank/docs/layouts/layout-token-sequence.png
Due: none

fix(math-rendering-mathjax): typeset printed math through the legacy print player's renderer (PIE-1124)
  .changeset/20260930-pie-1124-print-player-math.md
  packages/shared/math-rendering-mathjax/src/render-math.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
Due: lint, types

fix(element-player): use a host-installed math renderer instead of loading MathJax 4
  .changeset/element-player-host-math-renderer.md
  packages/element-player/src/players/PieElementPlayer.svelte
Due: lint

chore(element-demo): render math with MathJax 3 on iife pages
  apps/element-demo/package.json
  apps/element-demo/src/lib/config/iife-math-renderer.ts
  apps/element-demo/src/routes/[element]/+layout.svelte
  apps/element-demo/src/vite-env.d.ts
  bun.lock
  docs/MATH-RENDERING.md
Due: lint, types

feat(release): publish next snapshots from develop (PIE-1121)
  .changeset/config.json
  .changeset/pre.json
  .github/workflows/release.yml
  AGENTS.md
  README.md
  bun.lock
  docs/ARCHITECTURE.md
  docs/PUBLISHING.md
  package.json
  scripts/release-detect-intent.mjs
  scripts/release-record-pr-changeset.mjs
  scripts/release-synthesize-changesets.mjs
  scripts/release-version-snapshot.mjs
  tests/release-detect-intent.test.ts
  tests/release-record-pr-changeset.test.ts
  tests/release-synthesize-changesets.test.ts
Due: lint, types

fix(release): prevent missed changesets and unsafe snapshots (PIE-1121)
  .github/workflows/record-changeset.yml
  .github/workflows/release.yml
  scripts/release-version-snapshot.mjs
Due: none

fix(release): cover remaining next release cases (PIE-1121)
  .github/workflows/release.yml
  AGENTS.md
  docs/PUBLISHING.md
  package.json
  scripts/release-record-pr-changeset.mjs
  scripts/release-report-dropped.mjs
  scripts/release-synthesize-changesets.mjs
  scripts/release-version-snapshot.mjs
  tests/release-record-pr-changeset.test.ts
  tests/release-report-dropped.test.ts
  tests/release-synthesize-changesets.test.ts
Due: lint, types

fix(element-player): read the page math renderer on every render (PIE-1130)
  .changeset/element-player-host-math-renderer.md
  docs/MATH-RENDERING.md
  packages/element-player/README.md
  packages/element-player/src/players/PieElementPlayer.svelte
  packages/element-player/tests/pie-element-player-math-renderer.test.ts
Due: lint, types

fix(element-demo): show MathJax 3 load failures on iife pages (PIE-1130)
  apps/element-demo/src/lib/config/iife-math-renderer.ts
  apps/element-demo/src/routes/[element]/+layout.svelte
Due: lint, types

test(element-demo): check the MathJax version per player type (PIE-1130)
  apps/element-demo/test/e2e/README.md
  apps/element-demo/test/e2e/mathjax-version.spec.ts
Due: lint, types

test(element-demo): check that iife pages request no MathJax 4 (PIE-1130)
  apps/element-demo/test/e2e/mathjax-version.spec.ts
Due: lint, types

fix(editable-html-tip-tap): keep MathJax out of rich-text editors (PIE-1139)
  apps/element-demo/test/e2e/author-editor-math.spec.ts
  packages/lib-react/editable-html-tip-tap/src/components/EditableHtml.tsx
  packages/lib-svelte/editable-html-tiptap-svelte/src/EditableHtml.svelte
  packages/lib-svelte/editable-html-tiptap-svelte/tests/EditableHtml.test.ts
  packages/shared/math-rendering-mathjax/src/adapter.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
  tools/cli/src/lib/upstream/sync-presets.ts
  tools/cli/tests/sync-presets.test.ts
Due: lint, types

fix(math-rendering-mathjax): save math nodes with legacy delimiters (PIE-1139)
  apps/element-demo/test/e2e/author-editor-math.spec.ts
  apps/element-demo/test/e2e/author-math-node-delimiters.spec.ts
  apps/element-demo/test/e2e/test-helpers.ts
  packages/shared/math-rendering-mathjax/src/adapter.ts
  packages/shared/math-rendering-mathjax/src/render-math.ts
  packages/shared/math-rendering-mathjax/src/types.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
Due: lint, types

fix(math-rendering-mathjax): stop delegating to its own renderMath
  .changeset/20261001-mathjax-adapter-self-delegation.md
  docs/MATH-RENDERING.md
  packages/shared/math-rendering-mathjax/src/render-math.ts
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
Due: lint, types

chore(element-a11y-demo): drop the IIFE scan player
  apps/element-a11y-demo/package.json
  apps/element-a11y-demo/src/lib/a11y/A11yScanPlayer.svelte
  apps/element-a11y-demo/src/lib/a11y/suite.ts
  apps/element-a11y-demo/src/routes/a11y/[element]/scan/+page.svelte
  apps/element-a11y-demo/src/routes/a11y/[element]/scan/+page.ts
  apps/element-a11y-demo/test/a11y/README.md
  apps/element-a11y-demo/test/a11y/axe-inventory.spec.ts
  apps/element-a11y-demo/test/a11y/axe-scenarios.spec.ts
  apps/element-a11y-demo/vite.config.ts
  bun.lock
Due: lint, types

fix(element-a11y-demo): scan the requested demo when no scenario is named
  apps/element-a11y-demo/src/lib/a11y/suite.ts
  apps/element-a11y-demo/test/scan-data.test.ts
Due: lint, types

fix(editable-html-tip-tap): unwrap delimited TeX when parsing math nodes (PIE-1139)
  apps/element-demo/test/e2e/author-math-node-delimiters.spec.ts
  packages/lib-react/editable-html-tip-tap/src/extensions/math.tsx
  packages/lib-react/editable-html-tip-tap/test/math-node-delimiters.test.ts
  tools/cli/src/lib/upstream/sync-presets.ts
  tools/cli/tests/sync-presets.test.ts
Due: lint, types

fix(element-demo): keep what a controller saves while building the model
  apps/element-demo/src/routes/[element]/deliver/+page.svelte
Due: lint

fix(bundler): leave missing optional peers unresolved in workspace-fast builds
  packages/shared/bundler-shared/src/index.ts
  packages/shared/bundler-shared/src/webpack-config.ts
  packages/shared/bundler-shared/tests/webpack-config.test.ts
Due: lint, types

test(math-rendering-mathjax): expect wrapMath's delimited fallback under a self-installed renderer (PIE-1139)
  packages/shared/math-rendering-mathjax/tests/adapter.test.ts
Due: lint, types

fix(learnosity-parity-demo): keep what a controller saves while building the model
  apps/learnosity-parity-demo/src/routes/[element]/deliver/+page.svelte
  apps/learnosity-parity-demo/test/e2e/mc-populated-blank-choice-order.spec.ts
Due: lint, types

feat(release): refuse stable versions below npm latest (PIE-1121)
  scripts/check-version-availability.mjs
  tests/check-version-availability.test.ts
Due: lint, types

docs(select-text): add a README covering entry points and print support (PIE-1124)
  packages/elements-react/select-text/README.md
Due: none

fix(release): keep changeset output out of GITHUB_OUTPUT in the snapshot step (PIE-1121)
  scripts/release-version-snapshot.mjs
Due: none

chore(release): major versions for the first stable release, previewed on next (PIE-1121)
  .changeset/first-stable-majors.md
  .github/workflows/release.yml
  AGENTS.md
  bun.lock
  docs/PUBLISHING.md
  packages/lib-react/render-ui/package.json
  scripts/release-synthesize-changesets.mjs
  scripts/release-version-snapshot.mjs
  tests/release-synthesize-changesets.test.ts
Due: lint, types

fix(release): plan, pin and build next snapshots as published (PIE-1121)
  .github/workflows/record-changeset.yml
  .github/workflows/release.yml
  AGENTS.md
  docs/PUBLISHING.md
  scripts/release-synthesize-changesets.mjs
  scripts/release-version-snapshot.mjs
  tests/release-synthesize-changesets.test.ts
Due: lint, types

fix(number-line): bundle mathjs so it cannot share typed-function with math-validation
  packages/elements-react/number-line/vite.config.ts
Due: lint, types

fix(number-line): bundle decimal.js with the vendored mathjs
  packages/elements-react/number-line/vite.config.ts
Due: lint, types

fix(image-cloze-association): move scroll logic from image to container, fix dragging restrictions PIE-1137
  bun.lock
  packages/elements-react/image-cloze-association/package.json
  packages/elements-react/image-cloze-association/src/delivery/image-container.tsx
  packages/elements-react/image-cloze-association/src/delivery/interactive-section.tsx
  packages/elements-react/image-cloze-association/src/delivery/root.tsx
Due: types

fix(charting): make marks read-only in evaluate mode on touch devices PIE-1074
  packages/elements-react/charting/src/delivery/main.tsx
  packages/lib-react/charting/src/bars/common/bars.tsx
  packages/lib-react/charting/src/chart.tsx
  packages/lib-react/charting/src/line/common/line.tsx
  packages/lib-react/charting/src/plot/common/plot.tsx
Due: types

fix(editable-html-tip-tap): paste rich text from outside the editor as plain text (PIE-1145)
  packages/lib-react/editable-html-tip-tap/src/components/EditableHtml.tsx
  packages/lib-react/editable-html-tip-tap/src/extensions/plain-text-paste.ts
  packages/lib-react/editable-html-tip-tap/test/plain-text-paste.test.ts
  packages/lib-svelte/editable-html-tiptap-svelte/src/EditableHtml.svelte
  packages/lib-svelte/editable-html-tiptap-svelte/src/plain-text-paste.ts
  packages/lib-svelte/editable-html-tiptap-svelte/tests/EditableHtml.test.ts
Due: lint, types

chore: drop "synced from" wording from package descriptions (PIE-1144)
  packages/elements-react/multi-trait-rubric/docs.contract.json
  packages/elements-react/multi-trait-rubric/package.json
  packages/elements-react/multiple-choice/docs.contract.json
  packages/elements-react/multiple-choice/package.json
  packages/lib-react/config-ui/package.json
  packages/lib-react/math-input/package.json
  packages/lib-react/render-ui/src/inline-menu.tsx
  packages/lib-react/rubric/package.json
Due: types

chore(element-demo): refresh mc-populated-blank demo count in registry
  apps/element-demo/src/lib/elements/registry.ts
Due: lint, types
